@charset "utf-8";

/*-------------------------------------------------
title       : 팝업
Author      : PLAN I
Create date : 2025-04-04
-------------------------------------------------*/

#popup 
{
    padding: 3rem;
    .page-title-wrap {margin-bottom: 2rem;}
    .form-group {margin-top: 0.5rem;}
}