@charset "utf-8";

/* ===========================================================================================
basic style reset
=========================================================================================== */

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-weight: normal;
	overflow-x: hidden;
	word-break: keep-all;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}

dd,
dl,
dt,
li,
ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figcaption,
figure,
form {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
	text-underline-position: under;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
}



img {
	border: 0;
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	max-width: 100%;
}

table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
	font-size: inherit;
	line-height: inherit;
}

caption,
legend {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	border: 0;
}

input,
select {
	max-width: 100%;
	vertical-align: middle;
	min-height: 4.8rem;

	&:placeholder-shown {
		text-overflow: ellipsis;
	}
}

input[disabled] {
	cursor: not-allowed;
}

input[type='number'] {

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		opacity: 1;
	}
}

/* input[type=submit] { appearance: none; }  */

address,
em,
i {
	font-style: normal;
}

/* i { font-family: var(--icon); display: inline-block; vertical-align: middle; line-height: normal;} */

button {
	border: 0;
	padding: 0;
	background: 0;
	cursor: pointer;
}

hr {
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

fieldset,
dialog,
iframe {
	border: 0;
	margin: 0;
	padding: 0;
}

iframe {
	width: 100%;
}

input,
select,
button,
textarea,
optgroup {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

select,
option {
	font-family: inherit;
}

textarea {
	resize: vertical;
}

details {
	summary {
		cursor: pointer;
	}
}