/* ==========================================================================
SCSS 설정 변수 (breakpoint, 이미지 경로)
========================================================================== */

// Breakpoint
$web:     1200px !default;
$pad:     1024px !default;
$mobile:   768px !default;
$smobile:  320px !default;

// 이미지 경로
$imgPath:   "/resources/images/mps/" !default;
$layoutImg: $imgPath + "layout" !default;
$mainImg:   $imgPath + "main"   !default;
$subImg:    $imgPath + "sub"    !default;
$iconImg:   $imgPath + "icon"   !default;


/* ==========================================================================
믹스인 함수
========================================================================== */