//breakpoint
$web: 1200px;
$pad: 1024px;
$mobile: 768px;
$smobile: 320px;

//img url
$url: "/resources/images/mps/" !default;

//media
@mixin media($width) {
	@media (max-width:($width)) {
		@content;
	}
}

//grid
@mixin grid($g: null, $col: null, $row: null) {
	display: grid;
	gap: $g;
	grid-template-columns: $col;
	grid-template-rows: $row;
}

//flex
@mixin flex($g: null, $ai: null, $jc: null, $fd: null) {
	@if ($fd ==inline) {
		display: inline-flex;
	}

	@else if ($fd ==column) {
		display: flex;
		flex-direction: column;
	}

	@else if ($fd ==row) {
		display: flex;
		flex-direction: row;
	}

	@else {
		display: flex;
	}

	gap: $g;
	align-items: $ai;
	justify-content: $jc;
}

//position:absolute
@mixin pos ($pos, $n1, $n2) {
	position: absolute;

	@if ($pos ==lt) {
		left: $n1;
		top: $n2;
	}

	@else if ($pos ==rt) {
		right: $n1;
		top: $n2;
	}

	@else if ($pos ==lb) {
		left: $n1;
		bottom: $n2;
	}

	@else if ($pos ==rb) {
		right: $n1;
		bottom: $n2;
	}

	@if ($n1 ==50% and $n2 !=50%) {
		translate: -50% 0;
	}

	@else if ($n1 !=50% and $n2 ==50%) {
		translate: 0 -50%;
	}

	@else if ($n1 ==50% and $n2 ==50%) {
		translate: -50% -50%;
	}
}

//hover 
@mixin hover {

	&:hover,
	&:focus {
		transition: var(--trs-base);
		background-color: var(--secondary-5);
		@content;
	}
}

//bullet
@mixin bullet($w, $h, $color, $t: 1rem, $r: null) {
	position: relative;
	padding-left: $w + 0.8rem;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: $t;
		width: $w;
		height: $h;
		background-color: $color;
		border-radius: $r;

		@if ($t ==50%) {
			transform: translateY(-50%);
		}
	}
}

//1px vertical Bar
@mixin vbar($w, $h, $color, $s: null) {
	position: relative;
	padding-left: $s;

	&::before {
		content: "";
		background-color: $color;
		width: $w;
		height: $h;
		@include pos(lt, 0, 50%);
	}
}

//circle
@mixin circle($size, $color: null) {
	border-radius: 50%;
	width: $size;
	height: $size;
	min-width: $size;
	background-color: $color;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

//sr-only { 
@mixin sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	border: 0;
}

//blank
@mixin blank {
	content: '';
	display: inline-flex;
	width: 1.6rem;
	height: 1.6rem;
	background: url(#{$url}/component/ico_go.svg) 0 0 / contain no-repeat;
	vertical-align: middle;
	margin-left: 0.4rem;
	//@include icon('\ecaf', 1em); margin-left: .3rem; font-weight: 300; 
}


//inactive
@mixin inactive($sec: null) {
	opacity: 0;
	visibility: hidden;
	height: 0;
	overflow: hidden;
	transition: $sec ease;
}

//inactive
@mixin active($of: null) {
	opacity: 1;
	visibility: visible;
	height: auto;
	overflow: $of;
}

//ellipsis
@mixin ellipsis {
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

@mixin ellipsis-multi($row) {
	display: -webkit-box;
	-webkit-line-clamp: $row;
	overflow: hidden;
	-webkit-box-orient: vertical;
}




//gradient
@mixin gradient($direction, $colorF, $colorE) {
	background: $colorF;

	@if($direction ==h) {
		background: linear-gradient(to right, $colorF, $colorE);
	}

	@else if($direction ==v) {
		background: linear-gradient(to bottom, $colorF, $colorE);
	}

	@else {
		background: linear-gradient($direction, $colorF, $colorE);
	}
}

//icon
@mixin icon($cont, $size: null) {
	display: inline-flex;
	font-family: var(--icon);
	content: $cont;
	font-size: $size;
}

//scrollbar
@mixin scrollbar($thumb: var(--gray-90), $track: #d5d7dc, $size: .6rem, $round: null, $direction: null) {
	&::-webkit-scrollbar-track {
		background-color: $track;
		border-radius: $round;
	}

	&::-webkit-scrollbar {
		@if ($direction ==null) {
			width: $size;
		}

		@else if ($direction ==h) {
			height: $size;
		}
	}

	&::-webkit-scrollbar-thumb {
		background-color: $thumb;
		border-radius: $round;
	}
}

//vertical middle
@mixin vertical {
	display: inline-block;
	vertical-align: middle;
}




// @mixin dotBar {
// 	~li {
// 		padding-left: 1rem; position: relative;

// 		&::before { content: "·"; display: block; font-size: 4rem; position: absolute; transform: translate(-50%, -55%); left: 0; top: 50%; border-radius: 50%; opacity: .5; }

// 	}
// }

//before, after 
// @mixin pseudo($type, $cont:"") { 
//   &::#{ $type } { 
//     content:$cont; display: block; @content;
//   } 
// } 

//percent 
//@function per($target, $base) { 
//  @return ($target / $base) * 100%;
// } 

// //bg
// @mixin bg($class) { background:url("../images/kor/sub/"+ $class +".gif") 0 0 /cover no-repeat } 
// @mixin classBg($class) { 
//    .#{ $class } { background:url("../images/kor/sub/"+ $class +".gif") 0 0 /cover no-repeat; } 
// } 

// @mixin octagon($size) { width: $size;height: $size;position: relative;
//   &::before,&::after { content: ""; width: $size + 0.1rem; height: 0; position: absolute;left: -0.05rem;border: $size/3.3 solid transparent;border-left-color:var(--gray-0);border-right-color:var(--gray-0); } 
//   &::before { top: -$size/3.3; } 
//   &:after { bottom: -$size/3.3; }  
// } 