<!DOCTYPE html>














<html lang="ko">

<head>
	<meta charset="UTF-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes">



	<meta name="title" content="추진배경 및 방향 &lt; 의료혁신 : 보건복지부 통합돌봄">

	<meta name="description" content="보건복지부 통합돌봄">
	<meta name="keyword" content="보건복지부 통합돌봄">
	<meta name="author" content="보건복지부 통합돌봄">
	<meta name="theme-color" content="#003675">

	<link rel="apple-touch-icon" sizes="180x180" href="../img/layout/favicon_180px.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../img/layout/favicon_192px.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/layout/favicon_32px.png">

	<title>추진배경 및 방향 &lt; 의료혁신 : 보건복지부 통합돌봄</title>

	<!-- 폰트 CSS -->
	<link rel="stylesheet" href="../fonts/PretendardGOV/PretendardGOV.css">	
	<!-- 공통 CSS -->
	<link rel="stylesheet" href="../css/output.css">
	<!-- 서브 CSS -->
	<link rel="stylesheet" href="../css/contents.css">
    

	<script src="../js/jquery.min.js" defer></script>
	<script src="../js/swiper-bundle.min.js" defer></script>

	<!-- 공통 JS -->
	<script src="../js/func.min.js" defer></script>
	<script type="module" src="../js/common.js"></script>


</head>

<body>


	<div id="wrap">
		<!-- 본문 바로가기 영역  -->
		<div id="skip-nav">
			<a href="#contents">본문 바로가기</a>
		</div>
		<!-- //본문 바로가기 영역  -->

		<!-- //상단 배너영역  -->
		<div id="header-top">
			<div class="toggle-wrap">
				<div class="toggle-head">
					<div class="inner">
						<span class="nuri-txt">이 누리집은 대한민국 공식 전자정부 누리집입니다.</span>
					</div>
				</div>
			</div>
		</div>
		<!-- //상단 배너영역  -->


		<!-- 헤더 영역 -->
		<header id="header" class="header">
			<!-- 헤더 컨텐츠 영역  -->
			<div class="header-in">



				<!-- 헤더 상단 기타메뉴 -->
				<div class="head-body">
					<div class="inner">
						<a href="index.html" class="logo">
							<img loading="lazy" src="../img/layout/logo.svg" class="logo-im" alt="보건복지부 통합돌봄">
						</a>
						<div class="right">
							<div class="head-etc">
								<ul class="etc-ul">
									<li class="li"><a href="https://www.mohw.go.kr/" class="btn btn-txt ico-go"
											target="_blank">보건복지부</a></li>
									<li class="li">
										<div class="drop-wrap zoom-drop">
											<button type="button" class="btn btn-txt ico-arr-down drop-btn"
												aria-haspopup="listbox">글자크기</button>
											<div class="drop-menu">
												<div class="drop-in">
													<ul class="drop-list" role="listbox">
														<li><button class="item-link xsm" role="option">작게</button></li>
														<li><button class="item-link sm" role="option">보통</button></li>
														<li><button class="item-link md" role="option">조금 크게</button>
														</li>
														<li><button class="item-link lg" role="option">크게</button></li>
														<li><button class="item-link xlg" role="option">가장크게</button>
														</li>
													</ul>
													<div class="drop-btm-btn">
														<button type="button"
															class="btn sm btn-txt ico-reset ico-before">초기화</button>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="btn-navi-wrap">
								<button type="button" class="btn-navi sch" title="통합검색 레이어"
									data-id="popTotalSch">통합검색</button>
								<button type="button" class="btn-navi all pc-all" title="전체메뉴 레이어"
									data-id="popSiteMap">전체메뉴</button>
								<button type="button" class="btn-navi all" id="m-gnb-open">전체메뉴</button>
							</div>
						</div>
					</div>
				</div>
				<!-- //헤더 상단 기타메뉴 -->




				<!-- 웹 : 메뉴 영역 -->
				<nav id="gnb1" class="head-gnb">
					<div class="inner">



						<ul id="head_menu" class="topmenu">
							<li class="lnb1 mnfirst">
								<a href="a60101000000.html" class="active">통합돌봄 한눈에 보기</a>

							</li>
							<li class="lnb2">
								<a href="a60201000000.html">통합돌봄 이용안내</a>

							</li>
							<li class="lnb3">
								<a href="board_list.html">우리지역 통합돌봄</a>
								<div class="submenu" style="display:none;">

									<ul class="sub03">
										<li class="sub01 subfirst"><a href="board_list.html">지자체 추진상황</a></li>
										<li class="sub02"><a href="board_list.html">시군구 전담조직 연락망</a></li>
										<li class="sub03 sublast"><a href="/menu.es?mid=a60302000000">지자체 우수사례</a></li>
									</ul>


								</div>
							</li>
							<li class="lnb4 mnlast">
								<a href="board_list.html">자료실</a>
								<div class="submenu" style="display:none;">

									<ul class="sub04">
										<li class="sub01 subfirst"><a href="board_list.html">정책자료</a></li>
										<li class="sub02"><a href="gallery_list.html">홍보자료</a></li>
										<li class="sub03 sublast"><a href="faq.html">절차 FAQ</a></li>
									</ul>


								</div>
							</li>
						</ul>



					</div>
				</nav>
				<!-- //웹 : 메뉴 영역 -->
			</div>
			<!-- //헤더 컨텐츠 영역  -->

			<!-- 모바일 : 전체메뉴 -->
			<nav id="m-gnb" class="m-gnb-wrap">
				<div class="m-gnb-in type1">
					<div class="m-gnb-head">
						<div class="m-gnb-top-etc">
						</div>
						<div class="sch-input">
							<input type="text" class="form-control md" name="menu_name" onkeyup="fn_menu_search('',2);"
								placeholder="찾고자 하는 메뉴명을 입력해 주세요" title="메뉴명 검색">
							<button type="button" class="btn btn-ico ico-sch" onclick="fn_menu_search('',1);">
								<span class="sr-only">검색</span>
							</button>
						</div>
					</div>
					<div class="m-sch-result"></div>
					<div class="m-gnb-body">
						<div class="m-gnb-menu type1">



							<ul id="head_menu_all" class="topmenu_all">
								<li class="lnb1 mnfirst">
									<a href="a60101000000.html">통합돌봄 한눈에 보기</a>
									<div class="submenu">
										<ul class="sub01">
											<li class="sub01 subfirst">
												<a href="a60101000000.html">통합돌봄 한눈에 보기</a>
											</li>
										</ul>
									</div>
								</li>
								<li class="lnb2">
									<a href="a60201000000.html">통합돌봄 이용안내</a>
									<div class="submenu">
										<ul class="sub02">
											<li class="sub01 subfirst">
												<a href="a60201000000.html">통합돌봄 이용안내</a>
											</li>
										</ul>
									</div>
								</li>
								<li class="lnb3">
									<a href="board_list.html">우리지역 통합돌봄</a>
									<div class="submenu">
										<ul class="sub03">
											<li class="sub01 subfirst">
												<a href="board_list.html">지자체 추진상황</a>
											</li>
											<li class="sub02">
												<a href="board_list.html">시군구 전담조직 연락망</a>
											</li>
											<li class="sub03 sublast">
												<a href="/menu.es?mid=a60302000000">지자체 우수사례</a>
											</li>
										</ul>
									</div>
								</li>
								<li class="lnb4 mnlast">
									<a href="board_list.html">자료실</a>
									<div class="submenu">
										<ul class="sub04">
											<li class="sub01 subfirst"><a href="board_list.html">정책자료</a></li>
											<li class="sub02"><a href="gallery_list.html">홍보자료</a></li>
											<li class="sub03 sublast"><a href="faq.html">절차 FAQ</a>
											</li>
										</ul>
									</div>
								</li>
							</ul>



						</div>
					</div>

					<button type="button" class="btn btn-ico ico-close">
						<span class="sr-only">전체메뉴 닫기</span>
					</button>
				</div>
			</nav>
			<!-- //모바일 : 전체메뉴 -->

			<!-- 레이어 : 통합 검색 -->
			<div class="popup-wrap" data-type="full" id="popTotalSch">
				<div class="popup-in">
					<div class="popup">
						<div class="popup-head sr-only">
							<h1 class="pop-tit">통합검색</h1>
						</div>
						<div class="popup-body">
							<!-- 통합검색 -->
							<div class="pop-total-serch-wrap">
								<!-- 통합검색 정보입력 영역 -->
								<div class="search-total-top">
									<!-- 검색어 타이틀 -->
									<div class="search-tit">검색어를 입력해주세요</div>
									<!-- //검색어 타이틀 -->

									<!-- 검색어 입력 폼 -->
									<form name="totSearch" action="/reform/search.es?mid=a50700000000" method="post"
										onsubmit="return fn_tot_search();">
										<div class="sch-form-wrap vert">
											<div class="sch-input">
												<input type="text" class="form-control xlg" id="search-total-input-id"
													placeholder="검색어 입력" name="totKeyWord" title="검색어 입력" value="">
												<button type="submit" class="btn btn-ico ico-sch"> <span
														class="sr-only">검색</span> </button>
											</div>
										</div>
									</form>
									<!-- //검색어 입력 폼 -->
								</div>
								<!-- //통합검색 정보입력 영역 -->

								<!-- 검색어 리스트 -->
								<div class="search-text" tabindex="0">
									<ul class="sch-info-list">

										<li class="li li2">
											<h3 class="tit">최근검색어</h3>
											<ul class="list recentSearch">
											</ul>
											<button type="button" class="btn btn-txt ico-del sm searchTotDel">최근검색어 전체
												삭제</button>
										</li>
									</ul>
								</div>
								<!-- //검색어 리스트 -->

							</div>
							<!-- //통합검색 -->
						</div>
						<button type="button" class="popup-close"><span class="sr-only">레이어 닫기</span></button>
					</div>
				</div>
			</div>
			<!-- //레이어 : 통합 검색 -->

			<!-- 레이어 : 사이트맵 -->
			<div class="popup-wrap" data-type="full" id="popSiteMap">
				<div class="popup-in">
					<div class="popup">
						<div class="popup-head">
							<h1 class="pop-tit">Site Map</h1>
						</div>
						<div class="popup-body">
							<!-- gnb 클론 영역 -->
						</div>
						<button type="button" class="popup-close"><span class="sr-only">레이어 닫기</span></button>
					</div>
				</div>
			</div>
			<!-- //레이어 : 사이트맵 -->

		</header>
		<!-- //헤더 영역 -->



		<!-- 컨테이너 영역 -->
		<main id="container">













			<!-- breadcrumb -->
			<nav class="breadcrumb-wrap" aria-label="Breadcrumb">
				<ol class="breadcrumb">
					<li class="home"><a href="/index.es?sid=a5" class="txt">홈</a></li>
					<li><a href="a60101000000.html" aria-current="true" class="active">통합돌봄 한눈에 보기</a></li>
				</ol>
			</nav>


			<!-- breadcrumb -->
			<div class="inner in-between">

				<!-- snb : 서브메뉴-->

				<!-- //snb : 서브메뉴-->


				<!-- contents : 컨텐츠 영역 -->
				<section id="contents" class="contents">

					<!-- 페이지 타이틀 영역 -->
					<div class="page-title-wrap" data-type="responsive">
						<h1 class="h-tit">통합돌봄 한눈에 보기</h1>

						<button type="button" onclick="window.print();" class="print-btn ico-print">
							<span class="sr-only">프린트</span>
						</button>
					</div>
					<!-- //페이지 타이틀 영역 -->


					<!-- 페이지 콘텐츠 영역 -->
					<div class="page-contents">


						<h2 class="title-2">통합돌봄 추진 배경</h2>
						<div class="box-wrap promotion-background">
							<div class="box bg-primary round">
								<strong class="title">초고령사회 진입에 따른 돌봄 수요 증가</strong>
								<p class="desc">급속한 초고령화로 돌봄수요는 증가하지만
									서비스 부족 및 분절적 제공으로 체감도가 하락하고, 불필요한 입원 및 입소 발생 우려
								</p>
							</div>
							<div class="box bg-primary round">
								<strong class="title">의료·요양 재정 부담 증가</strong>
								<p class="desc">노인 인구 증가와 함께 의료 및 요양 서비스
									이용이 급증하면서 재정 부담 증가. 돌봄 체계의 지속가능성 제고 필요</p>
								<dl class="example">
									<dt>* 노인 재정</dt>
									<dd>▲건보 (’20)37.5→(’24)52.1조원(39%↑)</dd>
									<dd>▲장기요양 (’20)8.9→(’24)14.8조원(66%↑)</dd>
								</dl>
							</div>
							<div class="box bg-primary round">
								<strong class="title">살던 곳에서 건강한 삶을 원하는
									돌봄 패러다임 변화</strong>
								<p class="desc">살던 곳에서 건강한 삶을 희망하는 노인·장애인의 AIP(Aging In Place) 욕구<span
										class="ex-mark">*</span> 충족 필요</p>
								<ul class="example">
									<li>* 살던 곳 거주희망(87.2%), 건강 악화에도 살던 곳 거주희망(48.9%) <’23. 노인실태조사>
									</li>
									<li>* 연령과 장애 특성에 따른 복합욕구에 맞는 서비스 통합지원 필요 <’23. 장애인실태조사>
									</li>
									</dl>
							</div>
						</div>

						<h2 class="title-2">통합돌봄 제도 개요</h2>
						<ul class="define-list">
							<li><strong class="define-list-title">법령 상 근거</strong>
								<div class="define-list-content">
									의료·요양 등 지역 돌봄의 통합지원에 관한 법률, 시행령, 시행규칙(2026년 3월 27일 시행)
									<ul class="list-dash">
										<li>법령에 따른 각 지자체별 조례(2026년 3월 27일 시행)
										</li>
									</ul>
								</div>
							</li>
							<li><strong class="define-list-title">목적</strong>
								<div class="define-list-content">
									<p class="desc">일상생활에 어려움을 겪는 사람이 살던 곳에서 건강한 생활을 영위<i class="ex-mark">*</i>하도록
										의료·요양·돌봄서비스를
										통합·연계하여 제공</p>
									<span class="example">* 살던 곳 거주희망(87.2%), 건강 악화에도 살던 곳 거주희망(48.9%) <’23. 노인실태조사>
									</span>
								</div>
							</li>
							<li><strong class="define-list-title">대상자</strong>
								<div class="define-list-content">
									<p class="desc">노쇠·장애·질병 등으로 일상생활 유지에 어려움 있어 복합적 지원 필요한 노인, 장애인 및 지자체장이 필요성 인정하는 사람
									</p>
								</div>
							</li>
							<li>
								<strong class="define-list-title">절차</strong>
								<div class="define-list-content">
									<p class="desc">지자체가 중심이 되어, 사업신청부터 모니터링까지 全과정수행</p>
									<ol class="indicator-list mt2">
										<li class="active">
											<span>
												<i class="step">1단계</i>
												<strong class="step-tit">신청</strong>
											</span>
										</li>
										<li class="active">
											<span>
												<i class="step">2단계</i>
												<strong class="step-tit">조사·종합판정</strong>
											</span>
										</li>
										<li class="active">
											<span>
												<em class="sr-only">현재단계</em>
												<i class="step">3단계</i>
												<strong class="step-tit">개인별 지원계획 수립</strong>
											</span>
										</li>
										<li class="active">
											<span>
												<i class="step">4단계</i>
												<strong class="step-tit">서비스 제공</strong>
											</span>
										</li>
										<li class="active">
											<span>
												<i class="step">5단계</i>
												<strong class="step-tit">모니터링</strong>
											</span>
										</li>
									</ol>

								</div>
							</li>
							<li><strong class="define-list-title">지원내용</strong>
								<div class="define-list-content">
									<p class="desc">보건의료(재택의료, 방문간호 등), 건강관리, 장기요양, 일상생활(가사·이동·식사 지원 등), 가족지원 등 돌봄서비스 확대
										및 연계</p>
								</div>
							</li>
						</ul>
						<div class="process-card">
							<div class="process-card-item">
								<div class="process-card-head">
									<span class="process-card-icon">
										<img loading="lazy" src="../img/sub/process-icon01.svg" alt="신청 아이콘" />
									</span>
									<span class="process-card-title">신청</span>
									<span class="process-card-desc">읍면동, 건보공단 등
										어디서나 편리하게</span>
								</div>
								<div class="process-card-body">
									<ul class="list-dot">
										<li>읍면동, 시군구</li>
										<li>건보공단</li>
										<li>직권신청</li>
										<li>사전조사 실시</li>
									</ul>
								</div>
							</div>
							<div class="process-card-item">
								<div class="process-card-head">
									<span class="process-card-icon">
										<img loading="lazy" src="../img/sub/process-icon02.svg" alt="조사 아이콘" />
									</span>
									<span class="process-card-title">조사</span>
									<span class="process-card-desc">의료, 요양, 돌봄 필요도
										종합판정조사</span>
								</div>
								<div class="process-card-body">
									<ul class="list-dot">
										<li>지자체</li>
										<li>전문기관 (건보공단, 연금공단 등)</li>
									</ul>
								</div>
							</div>
							<div class="process-card-item">
								<div class="process-card-head">
									<span class="process-card-icon">
										<img loading="lazy" src="../img/sub/process-icon03.svg" alt="계획 아이콘" />
									</span>
									<span class="process-card-title">계획</span>
									<span class="process-card-desc">필요도에 따른
										개인별 지원계획 수립</span>
								</div>
								<div class="process-card-body">
									<ul class="list-dot">
										<li>통합지원회의</li>
										<li>시군구 중심, 서비스 제공기관 유기적 협력</li>
									</ul>
								</div>
							</div>
							<div class="process-card-item">
								<div class="process-card-head">
									<span class="process-card-icon">
										<img loading="lazy" src="../img/sub/process-icon04.svg" alt="연계 아이콘" />
									</span>
									<span class="process-card-title">연계</span>
									<span class="process-card-desc">의료, 요양, 돌봄
										서비스 연계 제공</span>
								</div>
								<div class="process-card-body">
									<ul class="list-dot">
										<li>보건의료</li>
										<li>건강관리</li>
										<li>장기요양</li>
										<li>일상생활지원 등</li>
									</ul>
								</div>
							</div>
							<div class="process-card-item">
								<div class="process-card-head">
									<span class="process-card-icon">
										<img loading="lazy" src="../img/sub/process-icon05.svg" alt="모니터링 아이콘" />
									</span>
									<span class="process-card-title">모니터링</span>
									<span class="process-card-desc">대상자 상태변화 등
										필요시 계획 변경</span>
								</div>
								<div class="process-card-body">
									<ul class="list-dot">
										<li>시군구 총괄관리</li>
										<li>읍면동 모니터링
											수행 (서비스 제공기관 등 협력)</li>
									</ul>
								</div>
							</div>
						</div>

						<h2 class="title-2">우선지원대상자</h2>

						<h3 class="title-4">(노인) <span class="weight-normal">입원 입소 경계선 상에 있는 노인</span></h3>

						<ul class="list-dot">
							<li><span class="text-primary">(우선대상자)</span> 장기요양 재가급여자(1-5등급, 인지지원 등급), 등급외자, 노인맞춤형돌봄 중점군,
								퇴원환자 등 입원·입소 경계선상의 65세 이상인 사람</li>
							<li><span class="text-primary">(추진방향)</span> 통합지원법에 따른 노쇠 여부와 복합 욕구를 사전평가·조사하여 통합지원 실시
							</li>
						</ul>
						<h3 class="title-4">(장애인) <span class="weight-normal">의료 필요도가 높은 장애인 우선 지원</span></h3>

						<ul class="list-dot">
							<li><span class="text-primary">(우선대상자)</span> 의료적 필요도가 높은 모든 고령장애인과 지체, 뇌병변 심한 장애 등 의료·돌봄
								필요도가 높은 장애인(시범사업) </li>
							<li><span class="text-primary">(추진방향)</span> 장애인 통합지원 업무 절차 설계(2025년 상반기) 및 시범사업
								적용(2025년
								하반기)
								<ul class="list-dash">
									<li>발달장애인(지적, 자폐성)은 발달장애인법에 따라 지원계획 수립 등 개선·확대 추진
									</li>
								</ul>
							</li>
						</ul>

						<h2 class="title-2">지원내용</h2>
						<h3 class="title-4">노인 통합돌봄 주요서비스 목록</h3>

						<div class="table data-table responsive">
							<table>
								<caption>노인 통합돌봄 주요서비스 목록 - 구분, 보건의료, 건강관리, 장기요양, 일상돌봄으로 구성</caption>
								<colgroup>
									<col class="w5">
									<col class="w9">
									<col span="4">
								</colgroup>
								<thead>
									<tr>
										<th scope="col" colspan="2">구분</th>
										<th scope="col">보건의료</th>
										<th scope="col">건강관리</th>
										<th scope="col">장기요양</th>
										<th scope="col">일상돌봄</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td rowspan="6" class="row-header"><strong class="vertical-text">노 인</strong>
										</td>
										<td rowspan="4" class="row-header-sub"><strong>핵심<br>서비스<br>(13종)</strong>
										</td>
										<td>
											<span class="text-primary">방문진료</span>
											<p>(진찰·처방·검사·교육)</p>
										</td>
										<td>
											<span class="text-primary">보건소방문건강관리</span>
											<p>(건강평가·관리, 보건소 자원 연계)</p>
										</td>
										<td>
											<span class="text-primary">방문간호</span>
											<p>(감염·투약·호흡관리 등 간호)</p>
										</td>
										<td>
											<span class="text-primary">노인맞춤돌봄</span>
											<p>(안전확인, 신체·정신건강 교육, 가사지원)</p>
										</td>
									</tr>
									<tr>
										<td>
											<span class="text-primary">치매발견·기본관리</span>
											<p>(상담·검진·사례관리)</p>
										</td>
										<td>
											<span class="text-primary">노인운동프로그램</span>
											<p>(낙상예방 등 위한 운동강습, 건강강좌)</p>
										</td>
										<td>
											<span class="text-primary">방문요양</span>
											<p>(신체활동,일상생활 지원)</p>
										</td>
										<td>
											<span class="text-primary">독거노인응급안전</span>
											<p>(ict 장비 활용, 화재·활동량 감지 등)</p>
										</td>
									</tr>
									<tr>
										<td>
											<span class="text-primary">정신건강관리</span>
											<p>(정신건강상담· 정신건강프로그램)</p>
										</td>
										<td>
											<span class="text-primary">스마트기기 기반 건강관리</span>
											<p>(AI·스마트밴드 활용 건강미션실행 관리)</p>
										</td>
										<td>
											<span class="text-primary">방문목욕</span>
											<p>(목욕차량, 목욕지원)</p>
										</td>
										<td>-</td>
									</tr>
									<tr>
										<td>
											<span class="text-primary">만성질환관리</span>
											<p>(고혈압·당뇨환자 케어플랜+주기적관리)</p>
										</td>
										<td>-</td>
										<td>
											<span class="text-primary">주야간 단기시설보호</span>
											<p>(주야간보호시설 입소)</p>
										</td>
										<td>-</td>
									</tr>

									<tr>
										<td rowspan="2" class="row-header-sub"><strong>추가<br>서비스<br>(5종)</strong>
										</td>
										<td>
											<span class="text-primary">치매전문관리서비스</span>
											<p>(주치의가 케어플랜 수립, 비대면관리+방문진료)</p>
										</td>
										<td>
											<span class="text-primary">복약지도</span>
											<p>(다제약물복용자 약물점검·상담·처방조정)</p>
										</td>
										<td>
											<span class="text-primary">장기요양 재택의료</span>
											<p>(다학제팀 지속 방문 통해 진료·자원연계)</p>
										</td>
										<td>
											<span class="text-primary">긴급돌봄</span>
											<p>(질병·재난상황, 단기간 기본돌봄)</p>
										</td>
									</tr>
									<tr>
										<td>-</td>
										<td>-</td>
										<td>
											<span class="text-primary">통합재가</span>
											<p>(방문목욕·간호·주야간보호 등 통합 제공)</p>
										</td>
										<td>-</td>
									</tr>
									<tr>
										<td rowspan="4" colspan="2" class="row-header"><strong>장애인</strong>
										</td>
										<td>
											<span class="text-primary">장애인 주치의(일반, 치과)케어</span>
											<p>(건강관리 및 전문적 장애관리)</p>
										</td>
										<td>
											<span class="text-primary">장애인 지역사회중심 재활서비스</span>
											<p>(영양‧구강‧욕창‧피부 건강관리, 사회참여, 지역사회 적응 프로그램)</p>
										</td>
										<td>-</td>
										<td>
											<span class="text-primary">활동지원 서비스</span>
											<p>(활동보조, 방문간호, 방문목욕)</p>
										</td>
									</tr>
									<tr>
										<td>
											<span class="text-primary">장애인 친화 산부인과 서비스</span>
											<p>(안전한 임신‧출산 지원)</p>
										</td>
										<td>
											<span class="text-primary">장애인 통합건강관리 지원</span>
											<p>(장애인 건강보건관리기관 연계 및 맞춤형 사례관리)</p>
										</td>
										<td>-</td>
										<td>
											<span class="text-primary">보조기기 지원</span>
											<p>(보행차 등 보조기기 무상지원)</p>
										</td>
									</tr>
									<tr>
										<td>
											<span class="text-primary">장애 특화 구강진료</span>
											<p>(장애인 구강진료에 필요한시설 등 갖춘 진료센터 지정)</p>
										</td>
										<td>
											<span class="text-primary">장애 친화 건강검진</span>
											<p>(장애인 검진에 필요한 시설 등 갖춘 기관 지정)</p>
										</td>
										<td>-</td>
										<td>
											<span class="text-primary">가사간병 방문지원 서비스</span>
											<p>(신체수발, 가사, 일상생활, 건강지원)</p>
										</td>
									</tr>
									<tr>
										<td>
											<span class="text-primary">장애인 공공재활프로그램</span>
											<p>(권역재활병원 통해 재활프로그램 제공)</p>
										</td>
										<td>-</td>
										<td>-</td>
										<td>
											<span class="text-primary">수어통역</span>
											<p>(농아인 수어 지원)</p>
										</td>
									</tr>
									<tr>
										<td colspan="2" rowspan="4" class="row-header">
											<strong>지역<br>특화<br>서비스</strong>
										</td>
										<td>
											<span class="text-primary">돌봄스테이션</span>
											<p>(진천)</p>
										</td>
										<td>
											<span class="text-primary">인공지능말벗로봇</span>
											<p>(대전대덕, 전주)</p>
										</td>
										<td>-</td>
										<td>
											<span class="text-primary">케어안심주택,중간집</span>
											<p>(부천, 여수, 천안, 김해)</p>
										</td>
									</tr>
									<tr>
										<td>
											<span class="text-primary">퇴원환자 지원사업</span>
											<p>(의성, 김해, 안산 등)</p>
										</td>
										<td>
											<span class="text-primary">디지털 건강돌봄</span>
											<p>(진천)</p>
										</td>
										<td>-</td>
										<td>
											<span class="text-primary">재봉틀사업</span>
											<p>(전주)</p>
											<p class="mb1">* 재능봉사(26개분야)</p>
											<span class="text-primary">케어팜</span>
											<p>(진천)</p>
										</td>
									</tr>
									<tr>
										<td>
											<span class="text-primary">방문구강관리</span>
											<p>(부천, 전주)</p>
										</td>
										<td>
											<span class="text-primary">돌봄건강학교</span>
											<p>(대전대덕)</p>
										</td>
										<td>-</td>
										<td>
											<span class="text-primary">24시 안심출동</span>
											<p class="mb1">(광주서구)</p>
											<span class="text-primary">돌봄플러그</span>
											<p>(대전유성)</p>
										</td>
									</tr>
									<tr>
										<td>
											<span class="text-primary">우울관리 지원</span>
											<p>(부천)</p>
										</td>
										<td>
											<span class="text-primary">방문운동지도</span>
											<p>(전주, 여수, 광주북구)</p>
										</td>
										<td>-</td>
										<td>
											<span class="text-primary">식사·가사·영양지원</span>
											<p class="mb1">(대부분의 지자체)</p>
											<span class="text-primary">웰빙홈 컨설팅</span>
											<p class="mb1">(천안)</p>
											<span class="text-primary">클린버스</span>
											<p>(김해)</p>
										</td>
									</tr>

								</tbody>
							</table>
						</div>


					</div>
					<!--// 페이지 콘텐츠 영역 -->
				</section>
				<!--// contents : 컨텐츠 영역 -->
			</div>
			<!--// inner -->







		</main>
		<!-- //컨테이너 영역 -->

		<a href="#wrap" class="go-top" data-tooltip="페이지 상단으로 이동">
			<i class="ri-arrow-up-s-line" aria-hidden="true"></i>
			<span>TOP</span>
		</a>


		<!-- 푸터 영역 -->
		<footer id="footer" class="footer">



			<div class="inner">
				<div class="f-logo">
					<a href="/communityCare" class="logo-im">
						<img loading="lazy" src="../img/layout/logo.svg" alt="보건복지부 통합돌봄">
					</a>
				</div>
				<div class="f-cnt">
					<div class="f-info">
						<p class="info-addr">(30113) 세종특별자치시 도움4로 13 보건복지부 (정부세종청사 10동)</p>
						<ul class="info-cs">
							<li>
								<strong class="key-info">안내전화 <span><a href="tel:129">보건복지상담센터 국번없이
											129(무료)</a></span></strong>
								<span class="more-info">평일 09:00~18:00, 긴급지원상담은 24시</span>
							</li>
							<li>
								<strong class="key-info">당직실 <span><a
											href="tel:044-202-2118">044-202-2118</a></span></strong>
							</li>
							<li>
								<strong class="key-info">FAX <span><a
											href="tel:044-202-3910">044-202-3910</a></span></strong>
							</li>
						</ul>
					</div>

					<div class="f-link">
						<div class="link-go">
							<a href="https://mohw.go.kr/menu.es?mid=a10608000000" class="btn btn-txt ico-arr">찾아오시는
								길</a>
						</div>
						<div class="link-sns">
							<a href="https://facebook.com/mohwpr" class="facebook" target="_blank"
								rel="noopener noreferrer"><span class="sr-only">페이스북</span></a>
							<a href="https://twitter.com/mohwpr" class="twitter" target="_blank"
								rel="noopener noreferrer"><span class="sr-only">트위터</span></a>
							<a href="https://youtube.com/user/mohwpr" class="youtube" target="_blank"
								rel="noopener noreferrer"><span class="sr-only">유튜브</span></a>
							<a href="https://blog.naver.com/mohw2016" class="blog" target="_blank"
								rel="noopener noreferrer"><span class="sr-only">블로그</span></a>
							<a href="https://instargram.com/mohw_kr/" class="instagram" target="_blank"
								rel="noopener noreferrer"><span class="sr-only">인스타그램</span></a>
						</div>
					</div>
				</div>

				<div class="f-btm">
					<div class="f-btm-text">
						<div class="f-menu">
							<a href="https://mohw.go.kr/menu.es?mid=a10803000000" class="point ico-go"
								title="새창열림">개인정보처리방침</a>

						</div>
						<p class="f-copy">© COPYRIGHT MOHW. ALL RIGHTS RESERVED</p>
					</div>
				</div>
			</div>


		</footer>
		<!-- //푸터 영역 -->

	</div>

	<!-- 서브 JS -->
	<script src="../js/sub.js" defer></script>




	<script>
		try { initNavigation('01'); } catch (e) { /*console.log("");*/ }	// 메인메뉴 활성화
		try { initNavigationMbl('01'); } catch (e) { /*console.log("");*/ }	// 모바일 메인메뉴 활성화
		try { initLeftMenuLI('0101', '010100'); } catch (e) { /*console.log("");*/ }	// 서브메뉴 활성화
		try { init3DepthMenu('010100'); } catch (e) { /*console.log("");*/ }
		try { init4DepthMenu('01010000'); } catch (e) { /*console.log("");*/ }
		try { init5DepthMenu('0101000000'); } catch (e) { /*console.log("");*/ }
		try { init1DepthComboMenu('01'); } catch (e) { /*console.log("");*/ }
		try { init2DepthComboMenu('0101'); } catch (e) { /*console.log("");*/ }
		try { init3DepthComboMenu('010100'); } catch (e) { /*console.log("");*/ }
		try { init4DepthComboMenu('01010000'); } catch (e) { /*console.log("");*/ }
		try { init5DepthComboMenu('0101000000'); } catch (e) { /*console.log("");*/ }
	</script>




</body>

</html>