/* =======================================================================================
popup-wrap
======================================================================================= */
.popup-wrap {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding: 2rem 1.6rem;
    overflow-y: auto;
    background: var(--secondary-5);

    .popup-in {
        padding: 8rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        height: 100%;
    }

    .popup {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0;
        position: relative;

        &-head {
            margin-bottom: 4rem;

            .pop-tit {
                font-size: 2.5rem;
            }
        }

        &-body {
            flex: 1;
            max-height: 100%;
            scrollbar-color: var(--gray-60) var(--gray-30);
            scrollbar-width: .6rem;
        }

        &-close {
            position: absolute;
            top: 0;
            right: 0;
            width: 4rem;
            height: 4rem;
            background: url(../img/layout/ico_close_48.svg) no-repeat 0 0/contain;
        }
    }
}

/* modal_popup */

.dialog-wrap {
    display: none;

    &:after {
        content: "";
        display: block;
        width: 200%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        position: fixed;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: 100;
        backdrop-filter: blur(1rem);
    }
}

.dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    background: var(--gray-0);
    min-width: 40rem;
    border-radius: 0.8rem;
    overflow: hidden;

    .icon-info,
    .icon-warning {
        border-radius: 50%;
        background: var(--warning);
        width: 10rem;
        height: 10rem;
        margin: 0 auto 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 6rem;
        font-weight: 700;
    }

    .icon-warning {
        background: var(--warning);
        color: var(--gray-0);
    }

    .btn-close {
        display: block;
        position: absolute;
        right: 2rem;
        top: 2rem;
        font-size: 2.4rem;

        i::before {
            content: "\f4c7";
        }
    }

    &::backdrop {
        background: rgb(0 0 0 / .5);
    }
}

.dialog {
    &-title {
        border-bottom: 1px solid var(--gray-30);
        padding: 2rem 3rem;
        font-size: 2.2rem;
        font-weight: 700;
    }

    &-info {
        font-size: 1.8rem;
        padding: 1rem;
        text-align: center;
        border-bottom: 1px solid #DDD;
    }

    &-cont {
        padding: 4rem;
        background-color: var(--gray-0);
    }

    &-foot {
        padding: 2rem 4rem;
        background: var(--gray-5);
        text-align: center;
    }
}

@media (max-width: 768px) {
    .dialog-foot {
        padding: 2rem;
    }
}