@use "../mixins" as m;

/* svg-icon */
$iconSvgs:
    like, share, angle,
    arr, arr-right, arr-right1, arr-down,
    more, sch, sch1, go, down,
    filter, reset, log, func,
    logout, email, print, scrap,
    del, plus, setting, link,
    comment, prev, close, time, go-top;

.svg-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--gray-80);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
}

@each $name in $iconSvgs {
    .ico-#{$name} {
        mask-image: url("#{m.$iconImg}/ico_#{$name}.svg");
    }
}

//반응형
//1200px 이상
@media (max-width: m.$web) {}

//1024px 이상
@media (max-width: m.$pad) {}

//768px 이상
@media (max-width: m.$mobile) {}

//320px 이상
@media (max-width: m.$smobile) {}