@use "../mixins" as m;

/* list */
.list-dot,
.list-sdot,
.list-dash,
.list-order,
.list-nobullet {
    display: flex;
    flex-direction: column;

    [class*='list-'] {
        margin-top: 0.8rem;
        margin-bottom: 0.4rem;
    }
}

.list {
    &-dot {
        gap: 1.2rem;

        >li {
            position: relative;
            padding-left: 3.2rem;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0.9rem;
                width: 0.6rem;
                height: 0.6rem;
                background-color: var(--gray-70);
                border-radius: 50%;
            }
        }
    }

    &-dash {
        gap: 0.8rem;

        >li {
            padding-left: 2.4rem;
            position: relative;

            &::before {
                content: '-';
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }

    &-sdot {
        gap: .4rem;
        margin-top: 0.6rem;
        font-size: 1.6rem;

        >li {
            position: relative;
            padding-left: 2.4rem;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }

    &-order {
        >li {
            position: relative;
            padding-left: 3rem;

            >i {
                width: 2.2rem;
                height: 2.2rem;
                background-color: var(--primary-60);
                border-radius: 50%;
                color: var(--gray-0);
                font-size: 1.4rem;
                font-weight: 500;
                position: absolute;
                left: 0;
                top: 0.2rem;
            }
        }

        &.lg {
            gap: 0;
            border-top: 1px solid var(--gray-100);

            >li {
                padding: 3rem 3rem 3rem 12rem;
                border-bottom: 1px solid var(--gray-30);
                min-height: 12rem;
            }

            i {
                width: 7rem;
                height: 7rem;
                background-color: var(--primary-5);
                border-radius: 50%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: var(--primary-60);
                font-size: 1.9rem;
                font-weight: bold;
                position: absolute;
                left: 0;
                top: 2.4rem;
            }

            .title {
                font-size: 1.9rem;
                display: block;
                margin-bottom: 0.8rem;
            }
        }
    }

    &-nobullet {
        >li {
            padding-left: 2rem;

            >* {
                margin: .6rem 0 .8rem;
            }

            >i {
                margin-left: -2rem;
                margin-right: 0.5rem;
            }
        }
    }

    &-thumb {
        border-top: 2px solid var(--gray-90);

        >li {
            border-bottom: 1px solid var(--gray-30);
            padding: 4rem 2rem;
        }

        .item {
            display: flex;
            gap: 3rem;
            align-items: center;

            &-thumb {
                width: 25.8rem;
                min-width: 25.8rem;

                img {
                    border: 1px solid var(--gray-30);
                }
            }

            &-cont {
                .title {
                    font-size: 1.9rem;
                    color: var(--primary-60);
                    display: block;
                    margin-bottom: 1.2rem;
                }

                .s-title {
                    font-size: 1.7rem;
                    color: var(--gray-90);
                    display: block;
                    margin-bottom: 1.2rem;
                    margin-top: 2.8rem;
                }
            }
        }
    }

    &-procedure {
        gap: 2rem;

        .item {
            display: flex;
            border-radius: 0.8rem;
            overflow: hidden;
            border: 1px solid var(--gray-30);

            &-head {
                background: var(--primary-5);
                display: flex;
                gap: 1.2rem;
                align-items: center;
                justify-content: center;
                min-width: 26rem;
                flex-direction: column;
                padding: 2rem;

                &.bg2 {
                    background: #eefafd;
                }

                .picto {
                    background: var(--gray-0);
                }

                .title {
                    font-size: 1.9rem;
                }
            }

            &-cont {
                flex: 1;
                padding: 3.8rem;
            }
        }

        >li~li::before {
            content: "\f28f";
            font-family: var(--icon);
            font-size: 1.2rem;
            display: block;
            text-align: center;
            margin: 2rem 0;
        }

    }
}

@media (max-width: 768px) {
    .list-order.lg>li {
        padding-left: 9rem;
    }

    .list-nobullet {
        >li {
            padding-left: 0;

            >i {
                margin-left: 0;
            }
        }
    }

    .list-thumb .item-thumb {
        margin: 0 auto;
    }

    .list-thumb .item,
    .list-procedure .item {
        flex-direction: column;
    }
}

//반응형
//1200px 이상
@media (max-width: m.$web) {}

//1024px 이상
@media (max-width: m.$pad) {}

//768px 이상
@media (max-width: m.$mobile) {}

//320px 이상
@media (max-width: m.$smobile) {}