@use "mixins" as m;
@use "modules/form";
@use "modules/pagination";

/* ==========================================================================================
//board CSS
============================================================================================*/

/* search */
.board-info {
	@include m.flex(4rem, $fd: column);
	margin-bottom: 2.4rem;

	.sch-input {
		position: relative;

		input {
			padding-right: 4rem;
		}
	}

	.search-btn {
		min-width: initial;
		background: var(--gray-0);
		border: 0;
		height: 3rem;
		width: 3rem;
		padding: 0;
		transition: 0.2s;
		mask: url('../img/board/icon_search.svg') 50% 50%/1.86rem 1.86rem no-repeat;
		background-color: var(--gray-80);
		position: absolute;
		right: 1.2rem;
		top: 1.2rem;
	}

	.search-list-top {
		@include m.flex;
	}

	.board-search-wrap {
		@include m.flex(1rem, $fd: column);

		.search-list {
			width: 100%;

			>li {
				@include m.flex(1rem);
				padding: 1rem;

				.label {
					width: 12%;
					min-width: 10rem;
				}

				.label-cont {
					flex: 1;
					min-width: 1%;
				}

				.btn.sm {
					height: 4.8rem;

					&.active {
						background: var(--primary-50);
						border-color: var(--primary-50);
						color: var(--gray-0);

						&:hover {
							background: var(--primary-60);
						}
					}
				}
			}
		}

		.search-btn.md {
			min-width: 14rem;
		}
	}

	.board-search {
		font-size: 1.9rem;
		margin: 0 auto;
		position: relative;
		@include m.flex(1.6rem);

		label {
			color: var(--gray-90);
			font-weight: 700;
			margin-right: 2.5rem;
		}

		select {
			width: 15rem;
			height: 5.6rem;
			border-radius: var(--radius-medium);
		}

		input {
			width: 39rem;
			height: 5.6rem;
			border-radius: var(--radius-medium);
		}
	}

	.page-info {
		@include m.flex(1rem, center);

		.total {
			font-weight: bold;
			font-size: var(--font-size-large);

			b {
				color: var(--primary-60);
			}
		}

		.page-info-desc {
			color: var(--secondary-80);

			i {
				margin-right: 0.8rem;
			}
		}

		.current-page {
			@include m.vbar(1px, 1.4rem, #ddd, 1rem);
		}

		.btn {
			margin-left: auto;
		}
	}



	.board-sort {
		margin-left: auto;
		@include m.flex(1.2rem, center);

		.sort-label {
			color: var(--gray-90);
		}

		.sort-select {
			border: 0;
			height: 2.6rem;
			min-height: auto;
			cursor: pointer;
			width: max-content;
			min-width: 6.5rem;
			background: var(--gray-0) url(#{m.$url}/component/ico_angle.svg) right .3rem center/2rem 2rem no-repeat;
			appearance: none;
			padding-right: 2rem;

			&::-ms-expand {
				display: none;
			}
		}

		>li {
			@include m.flex(1.2rem, center);

			~li {
				&::before {
					content: "";
					width: 1px;
					height: 1.6rem;
					background-color: var(--gray-40);
				}
			}
		}

		.w-sort-btn {
			@include m.flex(1rem, center);

			.active {
				background: var(--secondary-5);
				border-radius: var(--radius-xsmall);
				padding: 0.2rem 0.4rem;
				text-decoration: underline;
				text-underline-position: under;
			}
		}

	}
}


/* ==========================================================================================
//list
============================================================================================*/

.board-list {
	position: relative;

	.unit {
		text-align: right;
	}

	.ic-notice {
		background: var(--primary-5);
		@include m.flex(null, center, center, inline);
		padding: .25rem 1rem;
		color: var(--primary-60);
		font-size: 1.5rem;
		border-radius: 0.4rem;
	}

	.ic-new {
		background: var(--primary-50);
		color: var(--gray-0);
		height: 1.8rem;
		padding: 0 .4rem;
		@include m.flex(null, center, center, inline);
		border-radius: var(--radius-xsmall);

		&::after {
			font-family: inherit;
			font-size: 1.2rem;

		}
	}

	.ic-lock {
		margin-left: 0.4rem;
		color: var(--gray-70)
	}

	.drop-wrap {
		.btn-attach {
			@include m.flex(.4rem, center);

			&:hover span {
				color: var(--primary-60);
				text-decoration: underline;
				text-underline-position: under;
			}

			i {
				transition: 0.2s;
			}
		}

		.ri-attachment-2 {
			font-size: 2rem;
		}

		.attach-list {
			width: 62rem;
			padding: 2.4rem;
			left: auto;
			right: 0;
			translate: 0;

			&::before {
				left: calc(100% - 4rem);
			}

			.drop-in {
				gap: 1.6rem;
			}

			.drop-title {
				text-align: left;
			}

			.drop-list {
				@include m.flex(.4rem, $fd: column);
				font-size: var(--font-size-small);

				.item-link {
					background: var(--gray-5);
					padding: 1.2rem 0.8rem;
					border-radius: 0.6rem;
					@include m.flex(null, center, space-between);
					height: auto;

					.file-info {
						@include m.flex(null, center);
						max-width: calc(100% - 17rem);
						flex: 1;

						.file-name {
							@include m.ellipsis;
							display: block;
							max-width: calc(100% - 12rem);
						}
					}

					.link-btn-wrap {
						@include m.flex(1.2rem);

						.link-btn {
							@include m.flex(.4rem);

							&:hover span {
								text-decoration: underline;
							}
						}
					}
				}
			}

			.btn-close {
				@include m.pos(rt, 2.4rem, 2.4rem);
				font-size: var(--font-size-large);
				@include m.circle(2.4rem);
				@include m.hover;
			}
		}

		&.active .btn-attach i {
			transform: rotate(180deg);
		}

		&:not(:has(.drop-list>li)) {
			display: none;
		}
	}

	/* 테이블형 */
	table {
		width: 100%;
		margin: 1.5rem 0 1rem;

		td,
		th {
			border-bottom: 1px solid var(--gray-20);
			padding: 1.2rem 1.6rem;
			word-break: keep-all;
			word-wrap: break-word;
		}

		tr:first-of-type {

			th,
			td {
				border-top: 0;
			}
		}

		thead {
			th {
				border-bottom: 1px solid var(--gray-20);
				background: var(--secondary-5);
				padding: 0.8rem 1.6rem;
				font-size: 1.5rem;
			}
		}

		.subject {
			text-align: left;
			padding-left: 2rem;

			a {
				@include m.ellipsis;
				word-break: break-all;
				display: inline-block;
				vertical-align: middle;
				max-width: 100%;

				&:hover {
					text-decoration: underline;
				}

				&:has(+.ic-new) {
					max-width: calc(100% - 2.8rem);
				}
			}

		}

		td {
			background: var(--gray-0);
			text-align: center;
		}

		tfoot {
			border-top: 1px solid var(--gray-40);
		}

		tbody th,
		tfoot th {
			padding-left: .5rem;
			padding-right: .5rem;
		}

		th {
			word-break: break-all;
		}

		+* {
			margin-top: 0.8rem;
		}

		.btn {
			white-space: nowrap;
		}
	}


	/* list */
	.ul {
		border-top: 2px solid var(--gray-90);
	}

	.li {
		border-bottom: 1px solid var(--gray-30);
		min-height: 15rem;

		.item {
			position: relative;
			@include m.flex(2rem, $ai: center);
			padding: 4rem 11rem 4rem 2rem;
			transition: .2s;

			&:hover {
				background: var(--gray-0);

				.list-num {
					color: var(--gray-80);
				}

				.txt {
					.title {
						color: var(--gray-90);
					}

					.desc {
						color: var(--gray-70);
					}
				}

				.btn-wrap .icon-more {
					background-position: 0 -1.9rem;
				}
			}
		}

		.list-num {
			flex: 0 0 8rem;
			font-size: 1.8rem;
			font-weight: 700;
			color: var(--gray-100);
			height: 100%;
			text-align: center;

			+.txt {
				min-width: 1px;
				flex: 1;
			}
		}

		.category {
			display: none;

			&.block {
				display: block;
			}
		}

		.txt {
			@include m.flex(2rem);
			flex-direction: column;
			height: auto;
			position: relative;
			max-width: 100%;

			.title {
				@include m.flex(.5rem, center);

				strong {
					color: var(--gray-100);
					font-size: 2.4rem;
					@include m.ellipsis;
					word-break: keep-all;
					width: 100%;
				}

				.ic-lock,
				.ic-new {
					font-size: 2rem;
				}
			}

			.desc {
				@include m.ellipsis-multi(2);
				color: var(--gray-70);
			}
		}

		.etc-info {
			@include m.flex(1rem, center);
			font-size: 1.5rem;
			color: var(--gray-70);

			span {
				@include m.flex(.5rem, center);

				~span {
					@include m.vbar(2px, 1rem, #ddd, 1rem);
				}
			}
		}

		/* &:hover .item {
			box-shadow: 2px 1px 1rem rgba(137, 137, 143, 0.3);
		} */

		.btn-wrap {
			@include m.pos(rt, 2rem, 50%);

			a {
				display: block;

				~a {
					margin-top: 2.5rem;
				}

				&:hover i {
					background-position: 0 -1.9rem;
				}
			}
		}

	}

	.thumb {
		overflow: hidden;
		border-radius: 0.6rem;
	}

	&.thumb-list {
		.item {
			@include m.flex(2rem, $fd: column);
			border: 1px solid var(--gray-20);
			padding: 2.4rem;
			border-radius: var(--radius-large);

			&:first-child .drop-wrap .attach-list {
				right: auto;
				left: 0;

				&::before {
					left: 4rem;
				}
			}

			.item-body {
				@include m.flex(1.6rem, center);

				.subject span {
					-webkit-line-clamp: 3;
				}
			}

			.item-foot {
				@include m.flex(null, center, space-between);
			}
		}

		.thumb {
			flex: 0 0 12rem;
			height: 9rem;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.subject {
			flex: 1;
			min-width: 1px;
		}

		.drop-btn {
			font-size: var(--font-size-small);

			i {
				display: flex;
			}
		}

	}
}

.gallery-list {
	border-bottom: 1px solid var(--gray-30);

	.thumb {
		display: block;
		width: 100%;
		aspect-ratio: 16/10;
		border-radius: var(--radius-large);
		overflow: hidden;
		position: relative;
		background: var(--gray-100);

		&::before {
			@include m.pos(lt, 50%, 50%);
			rotate: 180deg;
			z-index: 1;
			width: 100%;
			margin-top: -1rem;
			background-color: var(--gray-0);
			mask-image: url(../img/component/ico_more.svg);
			content: "";
			width: 2.4rem;
			height: 2.4rem;
			text-align: center;
			opacity: 0;

		}

		&::after {
			@include m.pos(lt, 0, 51%);
			width: 100%;
			margin-top: 1rem;
			font-weight: 600;
			content: "자세히 보기";
			text-align: center;
			opacity: 0;
			color: var(--gray-0);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;

			opacity: 1;
			transition: .2s;
		}

		.state {
			display: block;
			color: #fff;
			font-size: 1.4rem;
			padding: 0.5rem 1rem;
			position: absolute;
			right: 1rem;
			bottom: 1rem;

			&.ing {
				background: var(--color2)
			}

			&.end {
				background: #202020;
			}
		}
	}

	.ul {
		@include m.grid(4rem 2rem, repeat(4, 1fr));
		padding: 3rem 0;
	}

	.li {
		border-bottom: 0;

		.item {
			padding: 0;
			@include m.flex(2rem, flex-start, $fd: column);
			transition: 0.2s;
		}

		.txt {
			@include m.flex(1.2rem, flex-start, $fd: column);

			.title {
				font-size: 1.8rem;
				@include m.ellipsis-multi(2);
				word-break: break-all;
			}
		}


		.item {

			&:hover {

				.thumb {
					img {
						transform: scale(1.1);
						opacity: 0.6;
					}

					&::before {
						opacity: 1;
						rotate: 0deg;
						transition: all 0.2s;
					}

					&::after {
						opacity: 1;
						transition: all 0.2s;
					}
				}

				.media::before {
					background: rgba(0, 0, 0, .25);
				}
			}
		}

		.icon-more {
			display: none;
		}
	}

	.media {
		position: relative;

		&::before {
			content: "\f00b";
			font-family: var(--icon);
			@include m.flex($ai: center, $jc: center);
			color: #fff;
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
			font-size: 2.4rem;
			position: absolute;
			right: 1.8rem;
			bottom: 1.5rem;
			z-index: 1;
			transition: 0.2s;
		}
	}

	&.col3 {
		.thumb {
			height: 25rem;
		}
	}
}

/* ==========================================================================================
//View
============================================================================================*/
.board-view {

	>.title {
		font-size: 3.2rem;

		&.add-date {
			@include m.flex(3rem);

			span {
				~span {
					@include m.vbar(2px, 1.6rem, #ccc, 3rem);
				}

				strong {
					color: var(--gray-50);
					margin-right: 1rem;
				}
			}
		}
	}

	.info {
		margin-top: 0.8rem;
		@include m.flex(1rem, $fd: inline);
		width: 100%;
		flex-wrap: wrap;

		li {
			@include m.flex(1rem, center);

			~li {
				@include m.vbar(1px, 1.4rem, #ddd, 1rem);
			}
		}
	}

	.view-cont {
		margin: 4rem 0;
		padding: 4rem 0;
		border-top: 1px solid var(--gray-50);
		border-bottom: 1px solid var(--gray-20);
		word-break: break-all;
	}

	.file {
		flex-direction: column;
		gap: 2rem;
		padding: 4rem;
		border-radius: var(--radius-large);
		background: var(--gray-10);
		border-bottom: 0;

		&-label {
			font-size: 2.4rem;
		}

		&-list {
			@include m.flex(1rem, $fd: column);

			li {
				background: var(--gray-0);
				border-radius: var(--radius-medium);
				border: 1px solid var(--gray-20);
				padding: 1.6rem;
				@include m.flex(1.6rem, center);
			}

		}

		&-down {
			color: var(--gray-90);
		}
	}
}

.prevnext {
	margin-top: 4rem;
	border-bottom: 1px solid var(--gray-30);

	li {
		@include m.flex(3rem);
		padding: 2rem 0;
		border-top: 1px solid var(--gray-30);
	}

	span {
		@include m.flex(1rem, center, center);
		font-weight: 600;
		width: 15rem;

		&::before {
			z-index: 1;
			width: 100%;
			background-color: var(--gray-90);
			mask: url(../img/component/ico_angle.svg) no-repeat center center / contain;
			content: "";
			width: 2.4rem;
			height: 2.4rem;
		}
	}

	a {
		flex: 1;
		min-width: 1;
		@include m.ellipsis;
	}

	/* .prev span::before {
		content: "\ea78";
	}

	.next span::before {
		content: "\ea4e";
	} */

	.prev span::before {
		rotate: 180deg;
	}
}

.reply-h5 {
	font-size: 2.1rem;
	margin: 3.6rem 0 1.6rem;
}

.reply-area {
	border-top: 1px solid #AAA;
	border-bottom: 1px solid #373737;
	margin-bottom: 5rem;

	.reply-title {
		.title {
			display: block;
			font-size: 2.2rem;
			font-weight: bold;
			text-align: center;
			color: var(--gray-80);
			background: var(--gray-5);
			padding: 2rem 0;
		}

		.reply-info {
			border-top: 1px solid var(--gray-30);
			border-bottom: 1px solid var(--gray-30);
			padding: 1.5rem 0;
			text-align: center;
			@include m.flex(1rem, $jc: center);

			span {
				@include m.flex(1rem, center);

				~span {
					@include m.vbar(1px, 1.2rem, #ddd, 1rem);
				}
			}

			em {
				font-weight: 700;
				color: var(--gray3);
			}
		}
	}

	.reply-cont {
		padding: 4rem;
		background: var(--gray-0);
	}

	.file {
		border-bottom: 0;
	}
}

.gallery-slide {
	position: relative;

	.title {
		display: block;
		text-align: center;
		margin: 2rem 0;
		font-size: 2.4rem;
	}

	a {
		display: block;
		width: 100%;
	}

	.gallery {
		background: var(--gray-10);
		padding: 4rem;

		.swiper-slide {
			background: var(--gray-10);
		}

		.item {
			@include m.flex(null, center, center, column);
		}

		img {
			max-height: 100%;
			margin: 0 auto;
		}
	}

	.thumb {
		margin: 2rem 0 0;
		padding: 1rem 4rem;
		width: auto;
		position: relative;

		&::before {
			content: '';
			display: block;
			width: 4rem;
			height: 100%;
			background: linear-gradient(to right, rgb(255 255 255/100%), rgb(255 255 255/0%));
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}

		&::after {
			content: '';
			display: block;
			width: 4rem;
			height: 100%;
			background: linear-gradient(to right, rgb(255 255 255/0%), rgb(255 255 255/100%));
			;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;
		}

		.item {
			cursor: pointer;

			&:hover {
				img {
					border-color: var(--gray-90);
				}
			}
		}

		img {
			border: 2px solid transparent;
			width: 100%;
			height: 14rem;
			object-fit: cover;
			background: var(--gray-0);
			transition: 0.2s;
		}
	}

	.swiper {
		&-slide {
			background: var(--gray-0);
		}

		&-button {
			@include m.circle(5.4rem, var(--gray-0));
			color: var(--gray3);
			box-shadow: 0px .4rem .8rem 0px rgba(0 0 0 / 0.10);

			&-prev {
				left: -2.7rem;
			}

			&-next {
				right: -2.7rem;
			}

			&:hover {
				@include m.hover;
			}
		}
	}

	&:has(.thumb) .swiper-button {
		top: calc(50% - 14rem);
	}

}

/* .gallery-slide { position: relative;
	.thumb {margin-bottom: 3rem; height: 12rem; overflow: hidden; }
	.swiper-slide { width: 100%; height: 100%;
		img { width: 100%; height: 100%; object-fit: cover; }
	}
} */


/* ==========================================================================================
//Write
============================================================================================*/



/* =======================================================================================
게시판
======================================================================================= */
.announce-info {
	background: var(--secondary-5);
	padding: 3rem;
	margin-bottom: 4rem;

	ul {
		@include m.flex(4rem, center);

		li {
			@include m.flex(1.2rem, center);
		}

		strong {
			@include m.flex(.5rem, center);
		}
	}
}

/* =======================================================================================
반응형
======================================================================================= */
@include m.media(m.$web) {
	.board-list.thumb-list .item {

		.item-body,
		.item-foot {
			flex-direction: column;
			gap: 1rem;
		}
	}
}

@include m.media(m.$pad) {
	.board-list.thumb-list .item {

		.item-body,
		.item-foot {
			flex-direction: column;
			gap: 1rem;
		}
	}
}

@include m.media(m.$mobile) {
	.announce-info {
		ul {
			gap: 2rem;
			flex-direction: column;
		}
	}

	.board-info {

		.board-search-wrap {
			margin-left: initial;
			width: 100%;

			.search-list {
				li {
					flex-direction: column;
				}

				>li .label-cont input[type=text] {
					width: calc(100% - 9rem);
				}
			}
		}

		.board-search {
			flex-direction: column;
			width: 100%;

			label {
				margin-right: 0;
			}

			select,
			input {
				/* flex: 1; min-width: 1px; */
				width: 100%;
			}
		}

	}

	.board-detail-search~.board-info {
		flex-direction: row;
	}

	/* board-list */
	.board-list {

		//리스트형
		.li {
			min-height: initial;

			.item {
				gap: 2rem;
				padding: 2rem 0;

				.list-num {
					display: none;
				}

				.txt {
					gap: 1rem;

					.title {
						font-size: 1.8rem;
					}

					.desc {
						display: block;
						white-space: nowrap;
						text-overflow: ellipsis;
					}
				}

				.btn-wrap {
					display: none;
				}
			}
		}

		.drop-wrap {
			position: static;

			.attach-list {
				width: 100%;
			}
		}

		//테이블형
		>table {
			border-top: 1px solid var(--gray-30);

			>colgroup,
			>thead {
				display: none;
			}

			>tbody {
				>tr {
					border-bottom: 1px solid var(--gray-30);
					padding: 1rem 0;
					@include m.flex(1rem);
					flex-wrap: wrap;

					>td {
						@include m.flex(1rem, center, $fd: inline);
						border-bottom: 0;
						padding: 0;

						&::before {
							content: attr(data-label);
							font-weight: 700;
						}

						&[data-label="제목"],
						&.subject {
							width: 100%;
							font-weight: bold;
							padding-left: 0;

							&::before {
								display: none;
							}

							a {
								text-decoration: underline;
							}
						}

						&[data-label="관련정보"] {
							width: 100%;
						}

						&[data-label="번호"]::before {
							display: none;
						}

						&[data-label="첨부파일"] {
							margin-left: auto;
						}
					}
				}
			}
		}

		&.thumb-list {
			.item {
				&:first-child .drop-wrap .attach-list {
					right: 0;
					left: auto;
					translate: 0;

					&::before {
						left: calc(100% - 4rem);
					}
				}

				.item-body,
				.item-foot {
					flex-direction: row;
				}
			}
		}

	}

	.gallery-list {
		.ul {
			grid-template-columns: repeat(2, 1fr);
			gap: 1rem;
			padding: 1rem 0;
		}

		.li {
			.item {
				padding: 2rem 0;
			}
		}
	}

	/* board-view */
	.board-view {
		.add-date {
			flex-direction: column;

			span {
				padding-left: 0 !important;

				&::before {
					display: none;
				}
			}
		}

		.file {
			flex-direction: column;
			padding: 2.4rem;
		}

		.file-list li {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	.prevnext span {
		width: 8rem;
	}

	.gallery-slide {
		.gallery img {
			max-height: 30rem;
		}

		.thumb img {
			height: 6rem;
		}

		&:has(.thumb) .swiper-button {
			top: calc(50% - 4.8rem);
		}
	}


}