@charset "UTF-8";
.title-1 {
  font-size: 3.2rem;
  margin: 4.8rem 0 2.4rem 0;
  display: flex;
  gap: 1rem;
  align-items: center;
  scroll-margin-top: 4rem;
}
.title-1 small {
  font-weight: bold;
  font-size: 1.9rem;
}
.title-1.up {
  scroll-margin-top: 20.6rem;
}
.title-1 ~ .title-2 {
  margin-top: 10rem;
}
.title-2 {
  font-size: 2.4rem;
  margin: 4rem 0 2rem;
}
.title-3 {
  font-size: 1.9rem;
  margin: 2.4rem 0 1.6rem;
}
.title-4 {
  font-size: 1.7rem;
  margin: 1.6rem 0 1.6rem;
}

[class*=title-].icon {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.note {
  color: var(--gray-70);
}

.asterisk,
.star {
  position: relative;
  padding-left: 1.4rem;
  font-size: var(--font-size-small);
}
.asterisk::after,
.star::after {
  content: "*";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.star2 {
  padding-left: 1.8rem;
}
.star2::after {
  content: "**";
}

.refer-mark {
  position: relative;
  padding-left: 1.8rem;
}
.refer-mark::before {
  content: "※";
  position: absolute;
  left: 0;
  top: 0;
}

@media (max-width: 768px) {
  .title-2 ~ .title-2 {
    margin-top: 6rem;
  }
}
/* box */
.box {
  color: var(--gray-90);
  padding: 4rem;
  /* //인포용
      &.border-top { margin-bottom: 3.4rem; 
          border-top: 2px solid; border-image: linear-gradient(to right, var(--primary-60), var(--primary-40)); border-image-slice: 1; background: var(--gray-5);
          img { margin: .4rem auto 0;}
          .s-title { font-size: 1.9rem;}
          &:has(ul) { align-items: flex-start;}
          .list-dot>li::before { background: var(--gray-70);}
      } 
      //공지용
      &.pattern { margin-bottom: 4rem; border:9px solid; border-image: url('../img/contents/box_pattern.gif') 9 / 9px round;
          .picto { width: 10rem; height: 10rem;}
          .s-title { font-size: 1.9rem;}
      }
      //타이틀용    
      &.title-box { border: 1px solid #b8d7fd; background: linear-gradient(to right, #e5f2fd, #f2f9ff);margin-bottom: 4rem; padding: 4.8rem;
          .picto { background: none; width: auto; height: auto;
              img { max-height: initial;}
          }
          .cont {
              .title { font-size: 2.8rem;} 
          }
      }
      //준비용
      &.ready { padding: 8rem; @include flex(null, center, center, column);
          .title { font-size: 3.2rem; margin-top: 2.8rem;}
      }
       */
}
.box.bg-white {
  background-color: var(--gray-0);
}
.box.border {
  border: 1px solid var(--gray-30);
}
.box.round {
  border-radius: var(--radius-large);
}
.box.narrow {
  padding: 1.6rem 2rem;
}
.box.narrow.round {
  border-radius: 0.8rem;
}
.box.flex-box {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}
.box.lg {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.box .picto-wrap {
  text-align: center;
}
.box .cont {
  flex: 1;
}
.box .title {
  font-size: 2.4rem;
  display: block;
  position: relative;
}
.box .title:not(:first-child) {
  margin-top: 2rem;
}
.box .title:has(+ *) {
  margin-bottom: 1.6rem;
}
.box .title small {
  color: var(--gray-70);
}
.box .title:has(.icon) {
  padding-left: 5.2rem;
}
.box .title:has(.icon) + .dash {
  margin-top: 1.2rem;
}
.box .title .icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 3.6rem;
  height: 3.6rem;
}
.box .s-title {
  font-size: 1.9rem;
  display: block;
}
.box .s-title:has(+ *) {
  margin-bottom: 0.8rem;
}

.info-box,
.title-box {
  border: 1px solid var(--gray-20);
  border-radius: var(--radius-large);
  margin: 2.4rem 0;
  background: var(--gray-5);
  padding: 4rem;
}
.info-box:first-child,
.title-box:first-child {
  margin-top: 0;
}
.info-box:last-child,
.title-box:last-child {
  margin-bottom: 0;
}

.img-box {
  border: 1px solid var(--gray-20);
  border-radius: var(--radius-xlarge);
  margin: 2.4rem 0;
  text-align: center;
  padding: 6.4rem 2.4rem;
}

.helper-box {
  padding: 1.6rem 2rem;
  background: var(--gray-5);
  border: 1px solid var(--gray-30);
  border-radius: var(--radius-large);
  font-size: 1.5rem;
  position: relative;
  margin-top: 1.6rem;
}
.helper-box .ic-warning {
  position: absolute;
  left: 0;
  top: 0;
  width: 1.8rem;
  height: 1.8rem;
}
.helper-box .ic-warning::after {
  font-weight: 400;
  font-size: 1.5rem;
}
.helper-box .helper-tit {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
  padding-left: 2rem;
}
.helper-box .helper-tit + .helper-desc-wrap {
  margin-top: 0.8rem;
}
.helper-box .helper-desc-wrap {
  position: relative;
  padding-left: 2rem;
}
.helper-box .btn.xsm {
  height: 2.5rem;
}

.box-wrap {
  display: flex;
  gap: 2.4rem;
  margin: 2.4rem 0;
  padding: 0;
}
.box-wrap > * {
  flex: 1;
}

@media (max-width: 768px) {
  .box,
  .info-box,
  .title-box {
    padding: 2.4rem;
  }
  .box-wrap {
    flex-direction: column;
  }
  .box-wrap .box {
    padding: 2.4rem;
  }
}
/* card */
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(128, 128, 128, 0.4);
  background: var(--gray-0);
  border-radius: var(--radius-large);
}
.card-header {
  display: flex;
  padding: 1.2rem 0;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.4rem;
  align-self: stretch;
  background: var(--gray-5, #F4F5F6);
  border-radius: var(--radius-large) 1.2rem 0 0;
}
.card-body {
  padding: 2rem 3rem;
}
.card-body strong {
  color: var(--gray-90);
}
.card-item ~ .card-item {
  border-top: 1px dashed var(--gray-30);
  padding-top: 2rem;
  margin-top: 2rem;
}
.card-1 .card-header {
  background: #102c74;
}
.card-1 .list-order > li i {
  background: #102c74;
}
.card-2 .card-header {
  background: #1b7eb4;
}
.card-2 .list-order > li i {
  background: #1b7eb4;
}
.card-3 .card-header {
  background: #1d4ca8;
}
.card-3 .list-order > li i {
  background: #1d4ca8;
}

/* .title {
		font-size: 2.4rem; font-weight: 600;		

		+ .cont { margin-top: 2rem; }
	}
	.info {
		color: var(--gray7); @include m.flex(1rem); margin-top: auto;

		li { @include m.flex(.5rem, center); 
			~ li{ @include m.bullet(.5rem, .5rem, var(--gray-30), 50%, 50%); }
		}
	}
	.thumb { overflow: hidden; background: #000; height: 18rem; 
		img { transition: 0.3s; width: 100%; height: 100%; object-fit: cover; }
	} 
	.cont { @include m.ellipsis-multi(5); }
	a:hover { text-decoration: none; background: var(--gray-5);
		.title { text-decoration: underline; }	
		img { opacity:.7; transform:scale(1.1);}
	}
	*/
/* 썸네일 비례적으로 줄어들게
	.thumb { overflow: hidden; background: #000; height: 0; padding-bottom: 60%; position: relative; 
		img { transition: 0.3s; width: 100%; height: 100%; object-fit: cover; @include m.pos(lt, 0, 0);}
	} */
@media (max-width: 768px) {
  .card {
    grid-template-columns: 1fr;
  }
  .card .item {
    padding: 2rem;
  }
  .card-body {
    padding: 2rem 1.5rem;
  }
}
/* list - grid로 변형 = table 줄어들었을때 스크롤바 생기지 않아 flex로 변경 */
.list-dot,
.list-sdot,
.list-dash,
.list-order,
.list-nobullet {
  display: flex;
  flex-direction: column;
}
.list-dot [class*=list-],
.list-sdot [class*=list-],
.list-dash [class*=list-],
.list-order [class*=list-],
.list-nobullet [class*=list-] {
  margin-top: 0.8rem;
  margin-bottom: 0.4rem;
}

.list-dot {
  gap: 1.2rem;
}
.list-dot > li {
  position: relative;
  padding-left: 1.4rem;
  padding-left: 3.2rem;
}
.list-dot > li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.9rem;
  width: 0.6rem;
  height: 0.6rem;
  background-color: var(--gray-70);
  border-radius: 50%;
}
.list-dot > li::before {
  left: 0.8rem;
}
.list-dash {
  gap: 0.8rem;
}
.list-dash > li {
  padding-left: 2.4rem;
  position: relative;
}
.list-dash > li::before {
  content: "-";
  position: absolute;
  left: 0;
  top: 0;
}
.list-sdot {
  gap: 0.4rem;
  margin-top: 0.6rem;
  font-size: 1.6rem;
}
.list-sdot > li {
  position: relative;
  padding-left: 1.1rem;
}
.list-sdot > li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1rem;
  width: 0.3rem;
  height: 0.3rem;
  background-color: var(--gray-80);
  border-radius: 50%;
}
.list-order > li {
  position: relative;
  padding-left: 3rem;
}
.list-order > li > i {
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  min-width: 2.2rem;
  background-color: var(--primary-60);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-0);
  font-size: 1.4rem;
  font-weight: 500;
  position: absolute;
  left: 0;
  top: 0.2rem;
}
.list-order.lg {
  gap: 0;
  border-top: 1px solid var(--gray-100);
}
.list-order.lg > li {
  padding: 3rem 3rem 3rem 12rem;
  border-bottom: 1px solid var(--gray-30);
  min-height: 12rem;
}
.list-order.lg i {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  min-width: 7rem;
  background-color: var(--primary-5);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-60);
  font-size: 1.9rem;
  font-weight: bold;
  top: 2.4rem;
}
.list-order.lg .title {
  font-size: 1.9rem;
  display: block;
  margin-bottom: 0.8rem;
}
.list-nobullet > li {
  padding-left: 2rem;
}
.list-nobullet > li > * {
  margin: 0.6rem 0 0.8rem;
}
.list-nobullet > li > i {
  margin-left: -2rem;
  margin-right: 0.5rem;
}
.list-thumb {
  border-top: 2px solid var(--gray-90);
}
.list-thumb > li {
  border-bottom: 1px solid var(--gray-30);
  padding: 4rem 2rem;
}
.list-thumb .item {
  display: flex;
  gap: 3rem;
}
.list-thumb .item-thumb {
  width: 25.8rem;
  min-width: 25.8rem;
}
.list-thumb .item-thumb img {
  border: 1px solid var(--gray-30);
}
.list-thumb .item-cont .title {
  font-size: 1.9rem;
  color: var(--primary-60);
  display: block;
  margin-bottom: 1.2rem;
}
.list-thumb .item-cont .s-title {
  font-size: 1.7rem;
  color: var(--gray-90);
  display: block;
  margin-bottom: 1.2rem;
  margin-top: 2.8rem;
}
.list-procedure {
  gap: 2rem;
}
.list-procedure .item {
  display: flex;
  border-radius: 0.8rem;
  overflow: hidden;
  border: 1px solid var(--gray-30);
}
.list-procedure .item-head {
  background: var(--primary-5);
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  min-width: 26rem;
  flex-direction: column;
  padding: 2rem;
}
.list-procedure .item-head.bg2 {
  background: #eefafd;
}
.list-procedure .item-head .picto {
  background: var(--gray-0);
}
.list-procedure .item-head .title {
  font-size: 1.9rem;
}
.list-procedure .item-cont {
  flex: 1;
  padding: 3.8rem;
}
.list-procedure > li ~ li::before {
  display: inline-flex;
  font-family: var(--icon);
  content: "\f28f";
  font-size: 1.2rem;
  display: block;
  text-align: center;
  margin: 2rem 0;
}

@media (max-width: 768px) {
  .list-order.lg > li {
    padding-left: 9rem;
  }
  .list-nobullet > li {
    padding-left: 0;
  }
  .list-nobullet > li > i {
    margin-left: 0;
  }
  .list-thumb .item-thumb {
    margin: 0 auto;
  }
  .list-thumb .item,
  .list-procedure .item {
    flex-direction: column;
  }
}
/* table */
.table table {
  width: 100%;
  margin: 1.5rem 0 1rem;
}
.table table td,
.table table th {
  border-bottom: 1px solid var(--gray-20);
  padding: 1.2rem 1.6rem;
  word-break: keep-all;
  word-wrap: break-word;
}
.table table tr:first-of-type th,
.table table tr:first-of-type td {
  border-top: 0;
}
.table table thead th {
  border-bottom: 1px solid var(--gray-20);
  background: var(--secondary-5);
  padding: 0.8rem 1.6rem;
  text-align: left;
  font-size: 1.5rem;
}
.table table td {
  background: var(--gray-0);
  font-size: 1.5rem;
}
.table table tfoot {
  border-top: 1px solid var(--gray-40);
}
.table table tbody th,
.table table tfoot th {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.table table th {
  word-break: break-all;
}
.table table + * {
  margin-top: 0.8rem;
}
.table table .row-header {
  background: #D6E0EB;
  text-align: center;
}
.table table .row-header-sub {
  background: #EEF2F7;
  text-align: center;
}
.table.narrow th,
.table.narrow td {
  padding: 0.8rem 0.2rem;
  font-size: 1.5rem;
  word-break: break-all;
}
.table.in-border th,
.table.in-border td {
  border-left: 1px solid var(--gray-30);
  border-right: 1px solid var(--gray-30);
}
.table.in-border th:first-child, .table.in-border th:first-child,
.table.in-border td:first-child,
.table.in-border td:first-child {
  border-left: 0;
}
.table.in-border th:last-child, .table.in-border th:last-child,
.table.in-border td:last-child,
.table.in-border td:last-child {
  border-right: 0;
}
.table.horizontal table {
  border-top: 1px solid var(--gray-20);
}
.table.horizontal tbody th,
.table.horizontal td {
  text-align: left;
  padding-left: 2rem;
}
.table .unit {
  text-align: right;
  font-size: 0.933em;
  margin: 0 0 0.5rem;
}

.data th,
.data td,
.data_table th,
.data_table td {
  border-left: 1px solid var(--gray-30);
  border-right: 1px solid var(--gray-30);
}
.data th:first-child, .data th:first-child,
.data td:first-child,
.data td:first-child,
.data_table th:first-child,
.data_table th:first-child,
.data_table td:first-child,
.data_table td:first-child {
  border-left: 0;
}
.data th:last-child, .data th:last-child,
.data td:last-child,
.data td:last-child,
.data_table th:last-child,
.data_table th:last-child,
.data_table td:last-child,
.data_table td:last-child {
  border-right: 0;
}

/* row-line */
.row-line {
  border-top: 2px solid var(--gray-90);
  border-bottom: 1px solid var(--gray-30);
}
.row-line > li {
  display: flex;
  border-top: 1px solid var(--gray-30);
  word-break: keep-all;
  padding: 1.5rem 2rem;
  gap: 1rem;
}
.row-line > li:first-of-type {
  border-top-color: transparent;
}
.row-line > li .label {
  width: 20%;
  min-width: 10rem;
}
.row-line > li .label-cont {
  flex: 1;
  min-width: 1%;
}
.row-line.col2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.row-line.col2 > li:nth-of-type(-n+2) {
  border-top-color: transparent;
}
.row-line.col3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.row-line.col3 > li:nth-of-type(-n+3) {
  border-top-color: transparent;
}

@media (max-width: 1024px) {
  .row-line > li {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .row-line.col2 {
    grid-template-columns: 1fr;
  }
  .row-line.col2 > li:nth-of-type(-n+2) {
    border-top-color: var(--gray-30);
  }
  .row-line.col3 {
    grid-template-columns: 1fr;
  }
  .row-line.col3 > li:nth-of-type(-n+3) {
    border-top-color: var(--gray-30);
  }
}
@media (max-width: 768px) {
  .data,
  .data_table,
  .table_scroll,
  .responsive {
    overflow-x: auto;
    padding-top: 4rem;
    background: url("../img/layout/scroll_hand.gif") right top no-repeat;
  }
  .data table,
  .data_table table,
  .table_scroll table,
  .responsive table {
    min-width: 700px;
  }
  .row-line > li {
    flex-direction: column;
  }
}
/* =======================================================================================
공통
======================================================================================= */
.ex-mark {
  color: var(--primary-50);
  font-size: 1.7rem;
}

.example {
  display: block;
  font-size: 1.5rem;
  color: var(--gray-70);
  padding-left: 0.4rem;
  margin-top: 0.8rem;
}
.example dt {
  font-weight: bold;
}

dl.example {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.weight-normal {
  font-weight: normal;
}

.define-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.define-list > li {
  display: flex;
  gap: 2.4rem;
}
.define-list-title {
  width: 10rem;
  font-size: 1.9rem;
  color: var(--gray-90);
}
.define-list-content {
  flex: 1;
  min-width: 0;
}
.define-list-content .desc {
  color: var(--gray-90);
}
.define-list-content .desc ~ * {
  margin-top: 0.8rem;
}

.bg-primary-5 {
  background: var(--primary-5, #ECF2FE);
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

/* =======================================================================================
01.통합돌봄 한눈에 보기
======================================================================================= */
.promotion-background.box-wrap {
  gap: 2rem;
}
.promotion-background.box-wrap .title {
  font-size: 1.9rem;
  color: var(--secondary-80);
}
.promotion-background.box-wrap .desc {
  min-height: 10.4rem;
  letter-spacing: -0.02em;
}
.promotion-background.box-wrap .example {
  padding-top: 2rem;
  border-top: 1px solid var(--gray-20);
}

.data-table table thead th {
  background: var(--gray-5);
}

/* =======================================================================================
02.통합돌봄 이용안내
======================================================================================= */
/* =======================================================================================
03.우리지역 통합돌봄, 04.자료실
======================================================================================= */
/* =======================================================================================
05.사이트맵, 통합검색
======================================================================================= */
.total-search-top-box {
  margin-bottom: 6.4rem;
  position: relative;
}
.total-search-top-box .sch-form-wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  position: relative;
  z-index: 1;
  padding: 5.6rem 0;
}
.total-search-top-box::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  translate: -50% 0;
  width: 100vw;
  height: 100%;
  background: var(--secondary-5);
  z-index: 0;
}
.total-search-top-box .sch-input {
  position: relative;
}
.total-search-top-box .sch-input .form-control {
  width: 100%;
  height: 8rem;
  border-radius: var(--radius-large);
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0 7.2rem 0 2.4rem;
}
.total-search-top-box .sch-input .ico-sch {
  position: absolute;
  right: 1rem;
  top: 50%;
  translate: 0 -50%;
}
.total-search-top-box .sch-input .ico-sch::after {
  width: 4rem;
  height: 4rem;
}
.total-search-top-box .sch-etc .ico-sch1::before {
  width: 2.4rem;
  height: 2.4rem;
}
.total-search-top-box .sch-etc .sch-detail {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: 0.3s ease;
}
.total-search-top-box .sch-etc .sch-detail .row-line {
  border: 0;
}
.total-search-top-box .sch-etc .sch-detail .row-line > li {
  border: 0;
  padding: 0;
}
.total-search-top-box .sch-etc .sch-detail .label {
  width: 12%;
  min-width: 10rem;
}
.total-search-top-box .sch-etc .sch-detail .btns {
  margin: 0;
  justify-content: space-between;
}
.total-search-top-box .sch-etc .sch-detail .btn.sm {
  height: 4.8rem;
}
.total-search-top-box .sch-etc .sch-detail .btn.sm.active {
  background: var(--primary-50);
  border-color: var(--primary-50);
  color: var(--gray-0);
}
.total-search-top-box .sch-etc .sch-detail .btn.sm.active:hover {
  background: var(--primary-60);
}
.total-search-top-box .sch-etc .search-btn.md {
  min-width: 14rem;
}
.total-search-top-box .sch-etc .btn-close {
  position: absolute;
  left: 50%;
  top: 100%;
  translate: -50% 0;
  background: var(--secondary-5);
  padding: 0.8rem 3rem 1.2rem;
  border-radius: 0 0 1rem 1rem;
  border: 0;
  height: auto;
}
.total-search-top-box .sch-etc .btn-close::after {
  rotate: 180deg;
  width: 2rem;
  height: 2rem;
}
.total-search-top-box .sch-etc.active .ico-sch1 {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: 0.3s ease;
  position: absolute;
}
.total-search-top-box .sch-etc.active .sch-detail {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.total-search-cont .tabs .tab {
  width: 100%;
}
.total-search-cont .tabs .tab > li {
  flex: 1 1 0;
  min-width: 0;
}
.total-search-cont .tabs .tab > li ~ li {
  margin-left: -1px;
}
.total-search-cont .tabs .tab > li.active .btn-tab {
  background: var(--primary-70);
  border-color: var(--primary-70);
  color: var(--gray-0);
}
.total-search-cont .tabs .tab .btn-tab {
  height: 5.8rem;
  border: 1px solid var(--primary-10);
}
.total-search-cont .tab-conts-wrap .tab-conts {
  display: none;
  flex-direction: column;
}
.total-search-cont .tab-conts-wrap .tab-conts.active {
  display: flex;
}
.total-search-cont .tab-conts-wrap .tab-conts .btn-more {
  margin-top: 2rem;
}
.total-search-cont .search-list-top {
  display: flex;
  justify-content: space-between;
}
.total-search-cont .search-list-top .sch-info {
  font-size: 2.1rem;
  font-weight: 700;
}
.total-search-cont .search-list-top .sch-info .keyword {
  color: var(--primary-60);
}
.total-search-cont .search-list-top .sch-sort {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}
.total-search-cont .search-list-top .sch-sort .sort-select {
  border: 0;
}
.total-search-cont .search-list-top .sch-sort .li2 {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.total-search-cont .search-list-top .sch-sort .w-sort-btn {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.total-search-cont .search-list-top .sch-sort .w-sort-btn .active {
  text-decoration: underline;
}

.total-search-list {
  border-top: 2px solid var(--gray-80);
}
.total-search-list.no-list .li {
  padding: 7.2rem 0;
}
.total-search-list.no-list .tit {
  font-size: 1.9rem;
  font-weight: 700;
  text-align: center;
}
.total-search-list.no-list .list-dot {
  margin: 0 auto;
}
.total-search-list .li {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-bottom: 1px solid var(--gray-30);
  padding: 2.8rem 0;
}
.total-search-list .info-body a {
  display: block;
}
.total-search-list .info-body a:hover {
  text-decoration: underline;
}
.total-search-list .info-body .tit {
  font-size: 1.9rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.total-search-list .info-body .tit:has(.sns-link-wrap) {
  gap: 2rem;
}
.total-search-list .info-body .tit ~ .txt {
  margin-top: 2.4rem;
}
.total-search-list .info-body .keyword {
  background: var(--primary-5);
  color: var(--primary-60);
  font-weight: bold;
  padding: 0 0.3rem;
}
.total-search-list .info-btm {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.total-search-list .info-btm .i-cate {
  display: flex;
  border-bottom: 1px solid var(--gray-90);
}
.total-search-list .info-btm .i-cate .span ~ .span::before {
  content: "\ea6e";
  font-family: var(--icon);
  padding: 0 0.3rem;
}
.total-search-list .info-btm .btn-area {
  display: flex;
  gap: 2rem;
}
.total-search-list .info-btm .btn-area .btn-txt {
  height: 3.2rem;
}

.sitemap_area {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}
.sitemap_area > li > a {
  height: 6.6rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--primary-60);
  color: var(--primary-60);
  font-size: 2.1rem;
  font-weight: bold;
}
.sitemap_area > li .submenu > ul > li > a {
  display: block;
  padding: 1.6rem 3rem;
  border-bottom: 1px solid var(--gray-30);
  font-weight: bold;
  font-size: 1.9rem;
  position: relative;
}
.sitemap_area > li .submenu > ul > li > a:has(+ div)::before {
  content: "";
  display: inline-flex;
  width: 2rem;
  height: 2rem;
  background: url(../img/layout/head_gnb_ico_arr.svg) no-repeat center/contain;
  position: absolute;
  right: 2rem;
  top: 50%;
  translate: 0 -50%;
  display: none;
}
.sitemap_area > li .submenu > ul > li > div:has(.lnb-detail) {
  border-bottom: 1px solid var(--gray-30);
  background: var(--gray-5);
  padding: 2rem 3rem;
}
.sitemap_area > li .submenu .lnb-detail > li > a {
  display: block;
  padding-left: 2rem;
  position: relative;
}
.sitemap_area > li .submenu .lnb-detail > li > a::before {
  content: "";
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: var(--gray-40);
  position: absolute;
  left: 0;
  top: 1rem;
}

.banner-list {
  border-top: 1px dashed var(--gray-30);
}
.banner-list li {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px dashed var(--gray-30);
}
.banner-list li img {
  width: 22.4rem;
  height: 7rem;
  border: 1px solid var(--gray-30);
  border-radius: 0.8rem;
  object-fit: cover;
}
.banner-list li .btn {
  margin-left: auto;
}

.process-card {
  display: grid;
  gap: 2.4rem;
  grid-template-columns: repeat(5, 1fr);
  margin: 2.4rem 0;
}
.process-card-item {
  padding: 3.2rem 1.6rem;
  border: 1px solid var(--gray-20);
  border-radius: 1.2rem;
  flex-direction: column;
  gap: 2.4rem;
  display: flex;
  position: relative;
}
.process-card-item::after {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  content: "";
  width: 3.2rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  background: var(--primary-5) url(../img/component/ico_arr_20_right.svg) no-repeat center/2.4rem 2.4rem;
  border: 1px solid var(--gray-20);
  color: var(--gray-80);
  font-size: 2.4rem;
  font-family: "remixicon";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}
.process-card-item:last-of-type::after {
  display: none;
}
.process-card-head {
  padding-bottom: 2rem;
  border-bottom: 1px dashed var(--gray-30);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.process-card-icon {
  width: 4rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.process-card-title {
  font-size: 2.2rem;
  color: var(--gray-95);
  font-weight: 700;
  margin-bottom: 0.4rem;
}
.process-card-desc {
  color: #063A74;
  font-size: 1.8rem;
  text-wrap: balance;
}
.process-card-body .list-dot {
  gap: 0.4rem;
}

/* =======================================================================================
반응형
======================================================================================= */
@media (max-width: 1200px) {
  .process-card {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1024px) {
  .promotion-background.box-wrap .desc {
    min-height: auto;
  }
  .define-list-title {
    width: 6.8rem;
  }
  .banner-list li {
    flex-direction: column;
  }
  .banner-list li strong {
    text-align: center;
  }
  .banner-list li .btn {
    margin-left: inherit;
  }
  .sitemap_area {
    grid-template-columns: 1fr;
  }
  .search-list-top {
    flex-direction: column;
    gap: 1rem;
  }
  .total-search-list .info-btm {
    flex-direction: column;
    gap: 1rem;
  }
}
@media (max-width: 768px) {
  .process-card-title {
    font-size: 2rem;
  }
  .process-card-desc {
    font-size: 1.6rem;
  }
}
@media (max-width: 520px) {
  .process-card {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 400px) {
  .process-card {
    grid-template-columns: repeat(1, 1fr);
  }
  .process-card-item::after {
    top: auto;
    right: auto;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%) rotate(90deg);
  }
}/*# sourceMappingURL=contents.css.map */