@charset "UTF-8";
#skip-nav {
  color: var(--gray-0);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
}
#skip-nav a {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  transform: translateY(-50px);
  transition: all 0.3s ease;
  font-size: 1.4rem;
}
#skip-nav a:active, #skip-nav a:focus, #skip-nav a:hover {
  opacity: 1;
  transform: translateY(0);
}

/* ==========================================================================================
//icons
============================================================================================*/
[class*=ico-] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
[class*=ico-]::before, [class*=ico-]::after {
  content: "";
  display: none;
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--gray-80);
  /* background-repeat: no-repeat; background-size: contain; background-position: center; */
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}
[class*=ico-]::after {
  display: inline-flex;
}

.ico-before::before {
  display: inline-flex;
}
.ico-before::after {
  display: none;
}
.ico-like::before, .ico-like::after {
  mask-image: url("../img/component/ico_like.svg");
}
.ico-share::before, .ico-share::after {
  mask-image: url("../img/component/ico_share.svg");
}
.ico-angle::before, .ico-angle::after {
  mask-image: url("../img/component/ico_angle.svg");
}
.ico-arr::before, .ico-arr::after {
  mask-image: url("../img/component/ico_arr.svg");
}
.ico-arr-right::before, .ico-arr-right::after {
  mask-image: url("../img/component/ico_arr-right.svg");
}
.ico-arr-right1::before, .ico-arr-right1::after {
  mask-image: url("../img/component/ico_arr-right1.svg");
}
.ico-arr-down::before, .ico-arr-down::after {
  mask-image: url("../img/component/ico_arr-down.svg");
}
.ico-more::before, .ico-more::after {
  mask-image: url("../img/component/ico_more.svg");
}
.ico-sch::before, .ico-sch::after {
  mask-image: url("../img/component/ico_sch.svg");
}
.ico-sch1::before, .ico-sch1::after {
  mask-image: url("../img/component/ico_sch1.svg");
}
.ico-go::before, .ico-go::after {
  mask-image: url("../img/component/ico_go.svg");
}
.ico-down::before, .ico-down::after {
  mask-image: url("../img/component/ico_down.svg");
}
.ico-filter::before, .ico-filter::after {
  mask-image: url("../img/component/ico_filter.svg");
}
.ico-reset::before, .ico-reset::after {
  mask-image: url("../img/component/ico_reset.svg");
}
.ico-log::before, .ico-log::after {
  mask-image: url("../img/component/ico_log.svg");
}
.ico-func::before, .ico-func::after {
  mask-image: url("../img/component/ico_func.svg");
}
.ico-logout::before, .ico-logout::after {
  mask-image: url("../img/component/ico_logout.svg");
}
.ico-email::before, .ico-email::after {
  mask-image: url("../img/component/ico_email.svg");
}
.ico-print::before, .ico-print::after {
  mask-image: url("../img/component/ico_print.svg");
}
.ico-scrap::before, .ico-scrap::after {
  mask-image: url("../img/component/ico_scrap.svg");
}
.ico-del::before, .ico-del::after {
  mask-image: url("../img/component/ico_del.svg");
}
.ico-plus::before, .ico-plus::after {
  mask-image: url("../img/component/ico_plus.svg");
}
.ico-setting::before, .ico-setting::after {
  mask-image: url("../img/component/ico_setting.svg");
}
.ico-link::before, .ico-link::after {
  mask-image: url("../img/component/ico_link.svg");
}
.ico-comment::before, .ico-comment::after {
  mask-image: url("../img/component/ico_comment.svg");
}
.ico-prev::before, .ico-prev::after {
  mask-image: url("../img/component/ico_prev.svg");
}
.ico-close::before, .ico-close::after {
  mask-image: url("../img/component/ico_close.svg");
}
.ico-time::before, .ico-time::after {
  mask-image: url("../img/component/ico_time.svg");
}

.underline {
  text-decoration: underline;
}

.picto img {
  max-height: 5.6rem;
}

.s-picto {
  border-radius: 50%;
  width: 3.6rem;
  height: 3.6rem;
  min-width: 3.6rem;
  background-color: var(--gray-20);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

/* 
.ico-filter {
	position: relative;	
	.num { display: inline-flex; position: absolute; right: 0.1rem; z-index: 1; height: 2rem; margin-top: -3rem; border-radius: 2rem; }
}
 */
/* ==========================================================================================
//button
============================================================================================*/
.btns {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 4rem 0;
}
.btns.both {
  justify-content: space-between;
}
.btns.col {
  flex-direction: column;
  margin: 0;
}
.btns.center {
  justify-content: center;
}

.btn {
  display: inline-flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  padding: 0 2rem;
  line-height: inherit;
  /* height: 4.8rem; min-width:12rem; */
  transition: 0.25s;
  background: var(--gray-0);
  border: 1px solid var(--gray-90);
  /* &.tertiary {
  	background: var(--gray-80);
  	color: var(--gray-0);
  	border-color: var(--gray-80);

  	&:hover {
  		background-color: var(--gray-90);
  		border-color: var(--gray-90);
  	}

  	&:active {
  		background-color: var(--gray-100);
  	}
  } */
}
.btn:hover {
  border-color: var(--gray-60);
  background-color: var(--gray-10);
  text-decoration: none;
}
.btn-txt {
  background: none;
  border: 0;
  padding: 0 0.2rem;
  min-width: initial;
}
.btn-txt:hover, .btn-txt:focus {
  transition: var(--trs-base);
  background-color: var(--secondary-5);
}
.btn-txt::after {
  margin-left: 0;
}
.btn-ico {
  border: 0;
  background: none;
  height: auto;
  min-width: inherit;
  padding-left: 1rem;
  padding-right: 1rem;
}
.btn-ico::after {
  margin-left: 0;
}
.btn.xsm, .btn.xsmall {
  height: 3.2rem;
  font-size: 1.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  gap: 0.2rem;
  border-radius: 0.4rem;
}
.btn.xsm::before, .btn.xsm::after, .btn.xsmall::before, .btn.xsmall::after {
  width: 1.6rem;
  height: 1.6rem;
}
.btn.sm, .btn.small {
  height: 4rem;
  font-size: 1.5rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  border-radius: 0.6rem;
}
.btn.sm::before, .btn.sm::after, .btn.small::before, .btn.small::after {
  width: 2rem;
  height: 2rem;
}
.btn.md, .btn.medium {
  height: 4.8rem;
  font-size: 1.7rem;
}
.btn.md::before, .btn.md::after, .btn.medium::before, .btn.medium::after {
  width: 2.4rem;
  height: 2.4rem;
}
.btn.lg, .btn.large {
  height: 5.6rem;
  font-size: 1.9rem;
}
.btn.lg::before, .btn.lg::after, .btn.large::before, .btn.large::after {
  width: 2.4rem;
  height: 2.4rem;
}
.btn.xlg, .btn.xlarge {
  height: 6.4rem;
  font-size: 1.9rem;
}
.btn.xlg::before, .btn.xlg::after, .btn.xlarge::before, .btn.xlarge::after {
  width: 3.2rem;
  height: 3.2rem;
}
.btn.primary {
  background: var(--primary-50);
  color: var(--gray-0);
  border-color: transparent;
}
.btn.primary:hover {
  border-color: var(--primary-60);
  background-color: var(--primary-60);
}
.btn.primary:active {
  border-color: var(--primary-70);
  background-color: var(--primary-70);
}
.btn.primary::after {
  background-color: var(--gray-0);
}
.btn.secondary {
  background: var(--primary-5);
  color: var(--primary-60);
  border-color: var(--primary-50);
}
.btn.secondary:hover {
  background-color: var(--primary-10);
}
.btn.secondary:active {
  background-color: var(--primary-20);
}
.btn-label input[type=radio] {
  position: absolute;
  opacity: 0;
}
.btn-label input[type=radio]:checked + label, .btn-label input[type=radio]:focus + label {
  background: var(--primary-50);
  color: var(--gray-0);
  border-color: transparent;
}
.btn-label input[type=radio]:focus + label {
  outline: 2px dotted var(--gray-0);
  outline-offset: -2px;
}
.btn-label label {
  cursor: pointer;
}

@media (max-width: 768px) {
  .btns {
    justify-content: center;
  }
}
/* =======================================================================================
breadcrumb
======================================================================================= */
.breadcrumb-wrap {
  font-size: 1.5rem;
  margin: 5.6rem auto 4rem;
  width: var(--inner);
  max-width: calc(100% - 3.2rem);
}
.breadcrumb-wrap .breadcrumb {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
.breadcrumb-wrap .home::before {
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  background: url(../img/layout/ico_bread_home.svg) 0 0/contain no-repeat;
}
.breadcrumb-wrap li {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
.breadcrumb-wrap li:not(:last-child)::after {
  content: "";
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  background: url(../img/component/ico_arr.svg) 0 0/contain no-repeat;
}
.breadcrumb-wrap li a {
  text-decoration: underline;
  text-underline-position: under;
}
.breadcrumb-wrap .current {
  font-weight: 700;
}

/* =======================================================================================
contentWrap = #snb + #content
======================================================================================= */
#container {
  position: relative;
  z-index: 0;
}
#container .in-between {
  display: flex;
  flex-direction: column;
}

/* =======================================================================================
snb
======================================================================================= */
.left-menu {
  margin-bottom: 6.4rem;
}
.left-menu .title {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}
.left-menu .head_menu_depth {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}
.left-menu .head_menu_depth:has(.is-depth3.active) {
  padding-bottom: 8rem;
  transition: 0.2s;
}
.left-menu .head_menu_depth:has(li:only-child) {
  display: none;
}
.left-menu .head_menu_depth > li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: 1px solid var(--gray-30);
  font-size: var(--font-size-large);
  transition: var(--trs-base);
}
.left-menu .head_menu_depth > li ~ li {
  margin-left: -1px;
}
.left-menu .head_menu_depth > li a {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 0.8rem;
  text-align: center;
  width: 100%;
  height: 5.6rem;
  font-weight: bold;
  color: var(--gray-70);
}
.left-menu .head_menu_depth > li.active {
  border-color: var(--secondary-70);
  background-color: var(--secondary-70);
}
.left-menu .head_menu_depth > li.active > a {
  color: var(--gray-0);
}
.left-menu .head_menu_depth > li.active .depth2-tab {
  display: flex;
  width: 100%;
  margin-bottom: 0;
}
.left-menu .head_menu_depth > li:not(.active):hover:hover, .left-menu .head_menu_depth > li:not(.active):hover:focus, .left-menu .head_menu_depth > li:not(.active):focus:hover, .left-menu .head_menu_depth > li:not(.active):focus:focus {
  transition: var(--trs-base);
  background-color: var(--secondary-5);
}
.left-menu .head_menu_depth > li:first-of-type {
  border-radius: 0.6rem 0 0 0.6rem;
}
.left-menu .head_menu_depth > li:last-of-type {
  border-radius: 0 0.8rem 0.8rem 0;
}
.left-menu .head_menu_depth > li:only-of-type {
  border-radius: 0.8rem;
}
.left-menu .head_menu_depth > li > ul {
  display: none;
  position: absolute;
  left: 0;
  top: 8rem;
}
.left-menu .depth2-tab {
  display: none;
  position: absolute;
  left: 0;
  top: 8rem;
}
.left-menu .depth2-tab > ul {
  display: flex !important;
}
.left-menu .depth2-tab li {
  width: auto;
  flex: 1;
}
.left-menu .depth2-tab li.active a {
  color: var(--secondary-80);
}
.left-menu .depth2-tab li.active a::before {
  width: 100%;
  left: 0;
}
.left-menu .depth2-tab li a {
  background: var(--gray-0);
  border-bottom: 1px solid var(--gray-30);
  text-align: center;
  font-size: var(--font-size-large);
  font-weight: bold;
  position: relative;
  word-break: break-all;
}
.left-menu .depth2-tab li a:hover, .left-menu .depth2-tab li a:focus {
  transition: var(--trs-base);
  background-color: var(--secondary-5);
}
.left-menu .depth2-tab li a::before {
  content: "";
  display: block;
  width: 0;
  height: 0.4rem;
  background: var(--secondary-80);
  transition: var(--trs-base);
  position: absolute;
  left: 50%;
  bottom: -0.2rem;
}

/* =======================================================================================
content 공통
======================================================================================= */
.in-page-navigation-area {
  position: sticky;
  width: 16rem;
  top: 6rem;
  left: 100%;
  transform: translateX(20rem);
  z-index: 8;
  height: 0;
  transition: var(--trs-base);
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
}
.in-page-navigation-area .in-page-navigation-header .quick-caption {
  font-size: 1.3rem;
  margin-bottom: 0.4rem;
}
.in-page-navigation-area .in-page-navigation-header .quick-title {
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--gray-95);
}
.in-page-navigation-area .in-page-navigation-list ul {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.in-page-navigation-area .in-page-navigation-list li a {
  font-size: 1.5rem;
  color: var(--gray-70);
  display: block;
  padding: 0.4rem 0.8rem;
  transition: var(--trs-base);
  border-radius: 0.4rem;
}
.in-page-navigation-area .in-page-navigation-list li a.active, .in-page-navigation-area .in-page-navigation-list li a:hover {
  background: var(--secondary-5);
  color: var(--secondary-80);
  font-weight: bold;
}

.header:not(.fixed) ~ main .in-page-navigation-area {
  top: 26rem;
}

.contents {
  flex: 1;
  min-width: 1px;
  color: var(--gray-60);
  margin-bottom: 3.6rem;
}
.contents .page-title-wrap {
  position: relative;
  margin-bottom: 4.8rem;
  /* &:has(.with-info) {
  	margin-bottom: 2.4rem;
  } */
}
.contents .page-title-wrap .h-tit {
  font-size: 4rem;
}
.contents .print-btn {
  width: 4rem;
  height: 4rem;
  position: absolute;
  right: 0;
  top: 50%;
  translate: 0 -50%;
  border-radius: var(--radius-small);
}
.contents .print-btn:hover, .contents .print-btn:focus {
  transition: var(--trs-base);
  background-color: var(--secondary-5);
}
.contents .print-btn::after {
  width: 2rem;
  height: 2rem;
}
.contents .page-contents {
  color: var(--gray-70);
}
.contents .article {
  scroll-margin-top: 15rem;
  min-height: 20rem;
}

.go-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: var(--radius-medium);
  background: var(--gray-0);
  color: var(--gray-70);
  border: 1px solid var(--gray-20);
  flex-direction: column;
  position: sticky;
  left: calc(100% - 8rem);
  bottom: 6.4rem;
  transform: translateY(50%);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: var(--trs-base);
  box-shadow: 0 0.4rem 0.8rem 0 var(--gray-10);
}
.go-top span {
  font-weight: bold;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}
.go-top i {
  font-size: 2rem;
}
.go-top i::before {
  content: "\ec5a";
  display: block;
  transform: rotate(180deg);
}
.go-top:hover:hover, .go-top:hover:focus {
  transition: var(--trs-base);
  background-color: var(--secondary-5);
}
.go-top.fixed {
  opacity: 1;
  visibility: visible;
}

/* =======================================================================================
반응형 ======================================================================================= */
@media (max-width: 1600px) {
  .contents:has(.in-page-navigation-area) {
    padding-right: 16rem;
  }
  .in-page-navigation-area {
    transform: translateX(18rem);
  }
}
@media (max-width: 1024px) {
  .breadcrumb li:not(.home):not(:last-child) {
    display: none;
  }
  .breadcrumb li:last-child::before {
    content: "…";
  }
  .breadcrumb li:last-child::after {
    content: "";
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    background: url(../img/component/ico_arr.svg) 0 0/contain no-repeat;
  }
  .breadcrumb li:last-child a {
    order: 3;
  }
  .contents:has(.in-page-navigation-area) {
    padding-right: 0;
  }
  .in-page-navigation-area {
    position: static;
    transform: none;
    height: auto;
    margin-bottom: 4rem;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .left-menu .list .head_menu_depth {
    display: block;
    margin-bottom: 3.2rem;
  }
  .left-menu .list .head_menu_depth > li {
    display: none;
  }
  .left-menu .list .head_menu_depth > li ~ li {
    margin: -1px 0 0 0;
  }
  .left-menu .list .head_menu_depth > li.active {
    display: block;
    border-radius: 0.6rem;
    overflow: hidden;
  }
  .left-menu .list .head_menu_depth > li.active > a::after {
    content: "\ea4e";
    font-family: var(--icon);
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    position: absolute;
    right: 1.4rem;
    top: 1.7rem;
    transition: 0.2s;
    font-weight: normal;
  }
  .left-menu .list .head_menu_depth:has(.is-depth3) {
    padding-bottom: 0;
  }
  .left-menu .list .depth2-tab {
    position: static;
    padding: 0.8rem 1.2rem;
    background: var(--gray-5);
  }
  .left-menu .list .depth2-tab li a {
    border-bottom: 0;
    height: auto;
    padding: 0.8rem;
    font-size: var(--font-size-small);
  }
  .left-menu .list .depth2-tab li.active > a::before {
    display: block;
    width: auto;
    height: auto;
    background: none;
    left: auto;
  }
  .left-menu .list .depth2-tab li:last-child > a {
    border-bottom: 0;
  }
  .left-menu .list.active .head_menu_depth > li {
    display: block;
  }
  .left-menu .list.active .head_menu_depth > li > a::after {
    transform: rotate(180deg);
  }
  .left-menu .list.active .head_menu_depth > li.active.is-depth3 {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .left-menu .list.active .head_menu_depth > li:first-of-type {
    border-radius: 0.6rem 0.6rem 0 0;
  }
  .left-menu .list.active .head_menu_depth > li:last-of-type {
    border-radius: 0 0 0.6rem 0.6rem;
  }
  .breadcrumb-wrap {
    margin-top: 3.6rem;
  }
  .left-menu {
    margin-bottom: 4rem;
  }
}/*# sourceMappingURL=sub.css.map */