@charset "utf-8";
@use "sass:math";
@use "sass:color";
@use "sass:string";
@use "sass:list";
@use "sass:map";
@use "sass:selector";
@use "sass:meta";
@use '../../common/scss/mixin' as mix;
@import url('../../js/amcharts/export.css');
@import url('../../fonts/xeicon/font_xeicon.css');
@import url('../common/default.css');
@import url('../common/cmp.css');

/*-------------------------------------------------
title       : 콘텐츠
Author      : PLAN I
Create date : 2025-01-15
-------------------------------------------------*/

:focus {outline: 0 none; box-shadow: inherit;}
#frameLayout {width: calc(100% - 2rem);}
#error {height: 100vh;}
.txt-left {text-align: left !important;}
.txt-center {text-align: center !important;}
.txt-right {text-align: right !important;}
.txt-bold {font-weight: 700 !important;}
.hidden, .sr-only {overflow: hidden; position: absolute; width: 1px; height: 1px; padding: 0; border: 0 none; clip: rect(0, 0, 0, 0); white-space: nowrap;}
.point01 {color: #E20000 !important;}

.error-txt 
{
    @include mix.position(center); text-align: center;
    .display-block {display: block; margin-bottom: 5rem;}
}

.block_smallTxt 
{
    @include mix.bul(2rem);
    display: block; margin-bottom: 0.5rem; font-size: calc(mix.$fs - 0.2rem); color: #2157D6;
    &::before {@include mix.icon(type2, '\ECA0');}
}

#loading-image 
{
    display: flex; position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; background-color: #fff; justify-content: center; align-items: center;
    svg {height: 6rem;}
}

.progress
{
    display: inline-block; overflow: hidden; position: relative; width: calc(100% - 10rem); height: 1rem; margin-right: 1rem; border-radius: 1rem; background-color: #efefef; vertical-align: middle;
    .bar {position: absolute; left: 0; top: 0; height: 100%; background-color: #009DFF;}
}

// 타이틀
// =========================================================================================================
.depth2_title02 {@include mix.title(3rem 0 1rem, 2rem, #000);}

.depth2_title 
{
    @include mix.title(0 0 1rem, 2rem, #000);
    & + p {@extend %required;}
}

// 폼길이
// =========================================================================================================
.input-long  {width:100%;}
.input-long02{width:90%;}
.input-long03{width:87%;}
.input-long04{width:65%;}
.input-mid   {width:50%;}
.input-mid02 {width:45%;}
.input-mid03 {width:35%;}
.input-small {width:25%;}
.input_Num {width: 30rem; text-align: center;}

// 폼
// =========================================================================================================
input[type="text"], input[type="password"], input[type="number"], select 
{
    height: var(--cmpH); padding: 0 1.5rem; outline: 0 none; border-radius: var(--brd); border: 1px solid var(--bdc); background-color: #fff; vertical-align: middle; transition: mix.$time2;
    &:hover, &:focus {box-shadow: 0.2rem 0.2rem 0.7rem rgba(0, 0, 0, 0.2); border-color: #000;}
    &.input_Num {width: 8rem;}
}

input[type="text"], input[type="password"], input[type="number"]
{    
    &.hasDatepicker {max-width: 20rem; padding-right: 5rem; background: url('../../../resources/images/common/icon/icon_calendar.gif') no-repeat 95% center #fff !important;}
    &.keyword {width: 16%; margin-bottom: 0.5rem;}
    &[style="width : 40px;"], &.input_sort {min-width: 5rem; text-align: center;}
    
    &:read-only, &[readonly], &[disabled]
    {
        background-color: #efefef;
        &:hover, &:focus {box-shadow: inherit; border-color: var(--bdc); cursor: default;}
    }

    & + i[class*="xi-eye"] {position: absolute; left: auto; top: auto; transform: translateX(calc(-100% - 1rem)); line-height: var(--cmpH);}
}

input[type="number"] {width: 10rem;}
input + label {margin: 0 2rem 0 0.5rem;}
select {padding-right: 3.5rem; background: url('../../../resources/images/common/bbs/select_arrow.png') no-repeat right center #fff;}

// 데이트피커
// =========================================================================================================
.ui-datepicker .ui-datepicker-title select {background: url('../../../resources/images/common/bbs/select_arrow_on.png') no-repeat right center #333;}

// 버튼
// =========================================================================================================
%btns 
{
    display: inline-block; height: var(--cmpH); border-radius: var(--brd); vertical-align: middle; cursor: pointer; line-height: calc(var(--cmpH) - 2px); transition: mix.$time2;
    &.small {min-width: 7rem; height: 2.8rem; padding: 0; font-size: calc(mix.$fs - 0.3rem); font-weight: 500; text-align: center; line-height: calc(2.8rem - 2px);}

    $colors: ( -red: #E40000, -green: #2157D6 );
    
    @each $keys, $color in $colors
    {
        &.btn#{$keys} 
        {
            border-color: $color; background-color: $color; color: #fff;
            &:hover, &:focus {background-color: #fff; color: $color;}
        }
    }
}

.btn-area {display: block; margin-top: 2.5rem; text-align: center;}

.btn-blue, .btn-black, .btn-red, .btn-green
{
    @extend %btns;
    padding: 0 1.2rem; border: 1px solid #000 !important; background-color: #000 !important; font-weight: 300; color: #fff !important;
    &:hover, &:focus {background-color: #fff !important; color: #000 !important;}
}

// 상세보기
.btn-small.logView 
{
    white-space: nowrap;
    i {margin-right: 0.5rem; color: inherit !important; vertical-align: middle;}
}

// 버튼1
.btn-type01, .btn-type03, .btn-basic, .btn-small
{
    @extend %btns;
    padding: 0 1.2rem; border: 1px solid #000; background-color: #fff; color: #000;
    &:hover, &:focus {background-color: #000; color: #fff;}

    $colors: ( btnAdd: #000, btnReg: #000, btnDelete: #E40000, btnDel: #E40000, btnAddXml: #2157D6 );

    @each $keys, $color in $colors
    {
        &##{$keys} 
        {
            border-color: $color; background-color: $color; color: #fff;
            &:hover, &:focus {background-color: #fff; color: $color;}
        }
    }
}

// 버튼2
.btn-type02
{
    @extend %btns;
    padding: 0 1.2rem; border: 1px solid #2157D6 !important; background-color: #2157D6 !important; color: #fff !important;
    &:hover, &:focus {background-color: #fff !important; color: #2157D6 !important;}
}

// 테이블
// =========================================================================================================
%required {margin-bottom: 1rem; text-align: right;}

.table-wrap 
{
    overflow: hidden;
    table {@include mix.bg1(0); left: -1px; border-top: 0.2rem solid #000; font-weight: 300;}
    th, td {height: 4.5rem; border-bottom: 1px solid var(--bdc); border-left: 1px solid var(--bdc);}
    th {background-color: #F1F1F1; font-weight: 700; color: #1D1D1D; white-space: nowrap;}
    td {overflow: hidden; font-weight: 500; white-space: normal; word-break: keep-all;}
}

// 목록
.tstyle-list
{
    text-align: center; table-layout: fixed; white-space: nowrap;
    th, td {padding: 0.5rem 1rem;}
    td {text-overflow: ellipsis;}
    i {font-size: 2rem; color: #000;}
    .allChk, .file {width: 8rem;}
    .num, .hit, .rlsYn {width: 10rem;}
    .name {width: 12rem;}
    .date {width: 16rem;}
    .txt-left a {@include mix.ellipsis; margin: 0 1rem;}
    // .txt-left a {display: -webkit-box; overflow: hidden; max-height: 2.5rem; margin: 0 1rem; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-break: break-all; text-overflow: ellipsis; white-space: nowrap;}

    colgroup > .menu:first-child + .access_effect + .hit + .hit + .hit {width: 15rem;}
    
    .category 
    {
        width: 18rem;
        & + col:not(.subject):nth-child(4) {width: 21rem;}
    }
}

// 내용
.tstyle-view
{    
    .col-sm-1, .col-sm-2 {width: 18rem; min-width: 18rem; max-width: 18rem;}
    th, td {padding: 1rem 2rem; border-top: 1px solid var(--bdc); text-align: left; word-break: break-all;}
    input + p:nth-child(2):last-child {margin-top: 0.5rem;}

    th
    {
        position: relative; padding-left: 3.5rem; padding-right: 3.5rem; 
        .point01 {position: absolute; top: auto; left: 2rem;}
        &:first-child + td + th::before {position: absolute; left: 0; top: 0; width: 100%; height: 1px; background-color: var(--bdc); content: '';}
    }

    &#tableMenu td {height: 6rem;}
}

// 페이저
// =========================================================================================================
.board_pager
{
    margin-top: 2rem; text-align: center;

    span
    {
        margin: 0 1rem; font-weight: 300;
        .active {background-color: #3E5277; font-weight: 600; color: #fff;}
        .prev, .next, .first, .last {border: 1px solid #D9D9D9;}

        a 
        {
            @include mix.nemo(4rem); border-radius: 100%;
            & + a {margin-left: 0.8rem;}
            img {vertical-align: top;}
        }    
    }
}

// 검색영역
// =========================================================================================================
#searchForm, .search-form
{
    margin-bottom: 3rem; padding: 2.5rem; border-radius: 1.2rem; border: 1px solid #D5D5D5; background-color: #F8F8F8;
    .btn-area, .row + .txt-center:last-child {display: block; margin-top: 1.6rem; text-align: center;}
    .tstyle-search th, .row label {min-width: 14rem; max-width: 14rem; padding-right: 2rem; padding-left: 2rem; font-weight: 600; color: #000; text-align: right; white-space: nowrap;}
    .btn-type02 {min-width: 10rem;}

    .row
    {
        display: flex; align-items: center;
        * + * {margin-left: 0.8rem;}
        & + .row {margin-top: 1.2rem; padding-top: 1.2rem; border-top: 1px dotted #B0B0B0;}
    }

    .tstyle-search tr
    {
        th, td {padding-top: 1.2rem; padding-bottom: 1.2rem;}
        &:first-child {th, td {padding-top: 0;}}
        &:last-child {th, td {padding-bottom: 0;}}
        & + tr { th, td {border-top: 1px dotted #B0B0B0;} }
    }
}

// 목록 상단
// =========================================================================================================
.float-wrap02 {margin-bottom: 1.5rem; text-align: right;}

.float-wrap
{
    display: flex; margin-bottom: 1.5rem; color: #000; align-items: center;
    .articles {font-weight: 300;}
    .total {font-weight: 700;}
    .float-right, .txt-right {margin-left: auto;}
    & + input#allChk[title="전체선택"] {position: absolute; left: auto; top: auto; margin: 1rem 0 0 1rem;}
    &.txt-right {display: block; text-align: right !important;}

    .photo-type 
    {
        display: inline-block; overflow: hidden; height: var(--cmpH); margin-right: 1rem; border-radius: var(--brd); border: 1px solid var(--bdc); vertical-align: middle;
        
        button 
        {
            overflow: hidden; float: left; width: var(--cmpH); height: 100%; background-color: #f8f8f8; color: #999;
            & + button {border-left: 1px solid var(--bdc);}

            $icons: (btnTextStyle: '\F46C', btnImageStyle: '\F44C', btnGalleryStyle: '\F444');
            @each $keys, $icon in $icons { &##{$keys}::before {@include mix.icon(type3, $icon);} }

            &[class*="_on"] {background-color: #fff; color: #000;}
        }

    }
}

// 목록
// =========================================================================================================
.photo-list 
{
    border-top: 0.2rem solid #000; border-bottom: 1px solid var(--bdc);
    a {display: block;}
    strong {@include mix.title(2rem 0 1rem, 1.8rem, #000); @include mix.ellipsis;}

    li 
    {
        position: relative; 
        & > .listCheck:first-child {position: absolute; left: 3rem; top: 3rem;}
    }
}

// 테이블
#insertForm
{
    fieldset > legend + p {@extend %required;}

    & + #dialog + .btn-area 
    {
        display: flex; margin-top: 2.5rem;
        .float-right {margin-left: auto;}
    }

    .table-wrap.response .tstyle-view tr:last-child td[colspan] 
    { 
        padding: 1rem 0 0; border-bottom: 0 none;
        div[style="padding: 1rem;"] {padding: 0 !important;} 
        .panel {margin-bottom: 0;}
    }
}

// 썸네일
.thumb-type > li
{
    display: flex; padding: 3rem 0;
    & > .listCheck:first-child {@include mix.position(top);}
    .headline {padding-left: 2rem; flex: 1 1;}
    .date {display: block; margin-top: 1rem; font-size: calc(mix.$fs - 0.1rem); opacity: 0.7;}

    & + li {border-top: 1px solid var(--bdc)}
}

// 앨범
.album-type
{
    @include mix.list(0px, 0px, 3); padding: 1.5rem;
    li {padding: 1.5rem;}
}

// 내용
// =========================================================================================================
.board-view
{
    overflow: hidden; width: 100%; max-width: 100%;

    .newsTitle, .view-title {padding: 3rem 0; border-top: 0.2rem solid #000; font-size: 2.2rem; color: #000; text-align: center;}
    .view-content {padding: 3rem 0; border-bottom: 1px solid var(--bdc);}
    #viewPort {display: block; margin: 0 auto;}

    .info 
    {
        display: flex; overflow: hidden; border-bottom: 1px solid var(--bdc); font-size: 1.5rem; flex-wrap: wrap;
        dt, dd {display: flex; min-height: 4.5rem; margin-bottom: -1px; padding: 1rem 1.5rem; border-top: 1px solid var(--bdc); border-bottom: 1px solid var(--bdc); align-items: center;}
        dt {width: 10rem; background-color: #f1f1f1; font-weight: 500; color: #000;}
        dd {width: calc(50% - 10rem);}
    }

    .download-list 
    {
        padding: 0.5rem 0; border-bottom: 1px solid var(--bdc);
        a {display: block; position: relative;}
        i {display: none;}
        .txt_right span {display: inline-block; margin-right: 0.5rem; color: #000; vertical-align: middle;}

        li 
        {
            padding: 1rem 1.5rem;
            & + li {border-top: 1px solid #efefef;}
        }
    }
}

.nextprev-list
{
    margin-top: 5rem; border-bottom: 1px solid var(--bdc); border-top: 1px solid var(--bdc);
    strong {@include mix.position(top); left: 0; width: 13.5rem; font-weight: 500; color: #000; text-align: center;}
    a {display: -webkit-box; overflow: hidden; height: 2.5rem; line-height: 2.5rem; -webkit-line-clamp: 1; -webkit-box-orient: vertical;}

    li 
    {
        position: relative; padding: 1.5rem 0 1.5rem 15.5rem;
        & + li {border-top: 1px solid #efefef;}
    }
}

// 첨부파일
#uploaderContainer .plupload_header {display: none;}

// 메뉴 관리
// =========================================================================================================
.treeMenu_area, .tow-column.code-mgr
{
    display: flex; 
    .dtree, #jstree {overflow-y: auto; margin-top: 1.2rem; padding-top: 1.2rem; border-top: 1px dotted #B4B4B4;}

    .tree_nav 
    {
        position: relative; min-width: 30rem; max-width: 30rem; padding: 7.6rem 2rem 2rem; border-radius: 0.8rem; border: 1px solid #D5D5D5;
        & > select {position: absolute; left: 2rem; top: 2rem; right: 2rem; height: 4.8rem;}

        & > .btn-control, & > .siteIdSel_view 
        {
            @include mix.list(0.8rem, 0.8rem, 2);
            height: auto; margin-bottom: 0.8rem; font-size: calc(mix.$fs - 0.1rem);
            #btnContentXml:last-child:nth-child(3), #btnSortChg:first-child:nth-last-child(3) {grid-column: span 2;}
            
            button, a 
            {
                border-radius: var(--brd); border: 1px solid var(--bdc); text-align: center; line-height: 5rem; transition: mix.$time2;
                &:hover, &:focus {border-color: #000;}
                i {position: relative; top: 0.2rem; margin-right: 0.5rem; font-size: 2rem;}

                span 
                {
                    display: inline-block; position: relative; padding-left: 3rem; text-align: left; line-height: 1; vertical-align: middle;
                    i {position: absolute; left: 0; top: 0;}
                    small {position: relative; top: -0.3rem;}
                }
            }
        }
    }
    
    .tree_list 
    {
        padding-left: 2.7rem; flex: 1 1;
        & > .hidden:first-child + p, & > p:first-child {@extend %required;}
        & > iframe {width: 100%; height: calc(100vh - 28rem);}
    }

    .table-wrap
    {
        tr {position: relative;}
        .btn-higher {position: absolute; top: 1rem; right: 0;}
        & + .btn-area {display: block; margin-top: 1.5rem; text-align: right;}

        .higher-state
        {
            white-space: nowrap;
            & > * {display: inline-block; vertical-align: middle;}
        }        
    }
}

#jstree
{
    max-height: calc(100vh - 40rem);

    ul 
    {
        margin: 0.5rem 0;        
        ul {margin-top: 0.5rem; margin-bottom: 1rem; font-weight: 300;}

        li
        {
            li {margin-left: 1.5rem;}
            & + li {margin-top: 0.25rem;}
        }
    }
}

.dtree
{
    max-height: calc(100vh - 52rem); min-height: 47rem;
    a {transition: mix.$time2;}
    .display-block:nth-child(2):last-child {margin-left: 0.5rem;}
    .nodeSel {font-weight: 500; color: #000;}

    .dTreeNode 
    {
        @include mix.bg1(0);
        
        a
        {
            &::before {@include mix.bg2(type2); background-color: #efefef; opacity: 0; transition: mix.$time2;}
            &:hover, &:focus { &::before {opacity: 1;} }
        }
    }

    .clip
    {
        margin: 0.5rem 0;
        .clip {font-weight: 300;}
    }
}

// 권한관리
// =========================================================================================================
.auth-mgr
{
    [class*="depth"] 
    {
        display: block;	position: relative; padding-left: 2rem;
        &::before {@include mix.nemo(1rem); position: absolute;  top: 0.5rem; left: 0; border-left: 1px solid #888; border-bottom: 1px solid #888; content: '';}
    }

    .depth01
    {
        padding-left: 0;
        &::before {display: none;}
    }

    @for $i from 2 through 6
    {
        $j: $i - 1;
        .depth0#{$i} {margin-left: calc(1rem * $j);}
    }
}

// 모달팝업
// =========================================================================================================
.ui-widget-overlay {position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.2);}
.ui-dialog
{
    z-index: 999; box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2); border-radius: 1rem; background-color: #fff;

    .search_area 
    {
        margin-bottom: 2rem; padding: 2rem; border-radius: 1rem; background-color: #F7F7F8; text-align: center;
        label {margin-right: 2rem; font-weight: 600; color: #000;}
    }

    .tstyle-list
    {
        border-top: 0.2rem solid #000;
        th, td {padding: 1rem; border-bottom: 1px solid var(--bdc);}
        select#codeNameSelect {min-width: 100%; min-height: 14rem; padding: 1.5rem; background: none;}
        
        tr:first-child > td 
        {
            font-weight: 600; color: #000;
            span {font-weight: 400; color: mix.$fs;}
        }

        & + div[align="center"]
        {
            padding: 1rem; border-bottom: 1px solid var(--bdc); background-color: #F8F8F8; text-align: center;

            input[type="button"]
            {
                @extend %btns;
                margin: 0 0.01rem; padding: 0 1.2rem; border: 1px solid var(--bdc); background-color: #fff; //color: #fff;
                &:hover, &:focus {background-color: #000;}
            }
        }
    }

    .ui-dialog-buttonset
    {
        margin: 2rem; text-align: center;

        .ui-button 
        {
            @extend %btns;
            margin: 0 0.2rem; padding: 0 1.2rem; border: 1px solid #000; background-color: #fff; color: #000;
            &:hover, &:focus {background-color: #000; color: #fff;}

            &:first-child 
            {
                border-color: #2157D6; background-color: #2157D6; color: #fff;
                &:hover, &:focus {background-color: #fff; color: #2157D6;}
            }
        }
    }
}

// 갤러리
// =========================================================================================================
.slide-photo
{
    @include mix.bg1;
    width: 100%; padding: 2rem; border-radius: var(--brd); border-bottom: 1px solid var(--bdc); //background-color: #f8f8f8;
    &::before, &::after {position: absolute; top: 0; z-index: 5; width: 8rem; height: 100%; content: '';}
    &::before {left: 0; background: linear-gradient(to right, #fff 70%, transparent);}
    &::after {right: 0; background: linear-gradient(to left, #fff 70%, transparent);}

    .list-photoview
    {
        justify-content: center;

        & > li 
        {
            @include mix.bg1;
            overflow: hidden; width: 15rem; height: 8rem; margin-right: 2rem; border-radius: var(--brd); border: 1px solid var(--bdc); background-color: #f8f8f8;
            &:last-child {margin-right: 0;}
            img {@include mix.position(center);}
        }
    }

    & > button 
    {
        @include mix.position(top);
        @include mix.nemo(5rem);
        z-index: 6; border-radius: 100%; border: 1px solid var(--bdc); background-color: #fff;
        &.btn-left {left: 0;}
        &.btn-right {right: 0;}
        &.swiper-button-lock {background-color: #f8f8f8; color: #999; opacity: 0.7; cursor: default;}
    }
}

// 통계
// =========================================================================================================
.tree_structure {
    border-top: 2px solid #111;	
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
	}	
.tree_structure li {
	overflow: hidden;
	}	
.tree_structure li strong {
	float: left;
	display: block;
	width: 17rem;
    margin-right: 1rem;
	}	
.tree_structure > li {
	padding: 1.5rem;
	border-bottom: 1px solid #e5e5e5;
	}
.tree_structure > li > strong {
	color: #000;
	}
.tree_structure > li ul {
    margin: 0.5rem 0 0 1rem;
    overflow: hidden;
    }
.tree_structure .depth2 li {
    margin-top: 0.8rem;
    }
.tree_structure .depth2 li strong {
    width: 16rem;
    line-height: 1.2;
    font-weight: 200;
    }		
.tree_structure .depth3 > li > strong {
    width: 15rem;
    }	
.tree_structure .progress_area {font-size: 80%; white-space: nowrap;}

// 유헤어
// =========================================================================================================
.tabooWord_info
{
    display: flex; margin-bottom: 1rem; align-items: center;
    button {margin-left: auto;}
}

form[action="/mgr/tabooWordMgr"]
{
    &#searchForm
    {
        .row {margin: 0 auto; justify-content: center;}

        .keyboard 
        {
            margin-top: 2rem; padding: 2rem; background-color: #fff; text-align: center;
            .engkey {display: block;}

            button 
            {
                @include mix.height(3.5rem, 1px, var(--bdc)); min-width: 3.5rem; margin: 0.3rem 0.1rem; padding: 0 1rem; border-radius: 0.4rem;
                &.on {border-color: #000; background-color: #000; color: #fff;}
            }
        }
    }

    &#listForm .dropdown_list
    {
        display: grid; padding: 2.5rem; border-radius: 1.2rem; background-color: #f8f8f8; grid-template-columns: repeat(5, 1fr); gap: 1.2rem;
        span {@include mix.height(3.8rem, 1px, var(--bdc)); border-radius: 3.5rem; background-color: #fff; text-align: center;}
        a {display: inline-block; position: relative; top: -0.1rem; vertical-align: middle;}
        .btn_delete {top: 0; font-size: 2.5rem;}
    }
}

// 나모 에디터
.ce-ui-dialog .plugin_image .selectfile_file, .plugin_background .selectfile_file, .plugin_flash .selectfile_file {width: 100%; height: 100%; margin: 0;}