@use "../mixins" as m;

//통합검색
.pop-total-serch-wrap {
    position: relative;

    .search-total-top {
        padding-bottom: 4rem;
        border-bottom: 1px solid var(--gray-40);
    }

    .search-tit {
        display: flex;
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 2.4rem;

        .btn.sm {
            font-size: 1.5rem;
            margin-left: auto;
        }
    }

    .sch-input {
        position: relative;

        .form-control {
            width: 100%;
            height: 8rem;
            font-size: 2.5rem;
            font-weight: 700;
            padding: 0 7.2rem 0 2.4rem;
            border-radius: var(--radius-large);
            border: 1px solid var(--gray-60);
        }

        .ico-sch {
            @include m.pos(rt, 1rem, 50%);

            &::after {
                width: 4rem;
                height: 4rem;
                font-size: 4rem;
            }
        }
    }

    .search-text {
        padding-top: 4rem;
        height: calc(100vh - 38rem);
        overflow-y: auto;
        @include m.scrollbar(var(--gray-60), var(--gray-30), $size: .6rem);

        .sch-info-list {
            display: flex;
            width: 100%;

            .li {
                flex: 1;
                @include m.flex(3.6rem, flex-start, $fd: column);

                .list {
                    @include m.flex(1.8rem, null, flex-start, column);
                    width: 100%;

                    >li {
                        @include m.flex(null, center);
                    }

                    i {
                        margin-right: 1rem;
                    }

                    .btn-ico {
                        margin-left: auto;
                    }
                }
            }

            .li2 {
                .btn-ico.sm {
                    width: 2rem;
                    height: 2rem;
                    padding: 0;
                }

                .btn-txt.ico-del {
                    font-size: 1.7rem;
                    padding-left: 0;
                    padding-right: 0;
                    margin-top: auto;
                }
            }
        }
    }
}