<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes">
	<meta name="title" content="">
	<meta name="description" content="">
	<meta name="keyword" content="">
	<meta name="copyright" content="">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="">
	<meta property="og:title" content="">
	<meta property="og:url" content="http://localhost/?">
	<meta property="og:description" content="">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/layout/favicon_180px.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../img/layout/favicon_192px.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/layout/favicon_32px.png">
	<title>스타일가이드</title>

	<!-- CSS -->
	<link rel="stylesheet" href="../css/output.css">
	<link rel="stylesheet" href="../css/board.css">
	<link rel="stylesheet" href="guide.css">

	<!-- 공통 JS -->
	<script src="../js/jquery.min.js"></script>
	<script src="../js/swiper-bundle.min.js"></script>

</head>

<body class="guide">

	<div id="wrap">
		<header>
			<h1><img src="logo.png" alt="web style guide"></h1>
			<p class="menu">
				<a href="guide_rule.html">규칙가이드</a>
				<a href="guide_common.html">기본스타일</a>
				<a href="board_list.html" class="active">게시판</a>
			</p>
		</header>

		<main id="container">
			<div class="inner in-between">
				<section id="snb" class="left-menu">
					<div class="snb" data-active="0">
						<nav class="list">
							<ul id="left_menu_top" class="head_menu_depth">
								<li class="active is-depth3">
									<a href="#">Board</a>
									<ul class="depth3">
										<li><a href="board_list.html">list</a></li>
										<li class="active"><a href="board_view.html">view</a></li>
										<li><a href="board_write.html">write</a></li>
									</ul>
								</li>
								<li class="is-depth3">
									<a href="#">Gallery</a>
									<ul class="depth3">
										<li class="active"><a href="gallery_list.html">list</a></li>
									</ul>
								</li>

							</ul>
						</nav>
					</div>
				</section>
				<!-- //snb -->

				<section id="contents" class="contents">
					<h1 class="h-tit">게시판 상세보기</h1>

					<div class="board-view">
						<div class="title">상생소비지원금 캐시백 3,025억원 발생 (1,488만명 신청)</div>
						<ul class="info">
							<li class="writer"><strong>작성자</strong><span>최고관리자</span></li>
							<li class="date"><strong>작성일시</strong><span>2019/03/08 15:47</span></li>
							<li class="hit"><strong>조회수</strong><span>5</span></li>
							<li class="down"><strong>다운로드수</strong><span>5</span></li>
						</ul>

						<div class="view-cont">

							<p>대전지역 전통제조기업이 공공 또는 민간이 보유한 디지털기술(ICT, AI, 빅데이터 등을 활용한 )제조업 서비스화를 촉진하여 새로운 비즈니스 창출 -및
								이전기술의 사업화 성공률 제고를 위한 년도 전통제조기업 첨단화2021지원사업을 다음과 같이 공고합니다.</p>
							<br>
							<div class="media-iframe">
								<img src="../img/board/media_sample.jpg" alt="">
							</div>
							<div class="media-textarea">
								A: 마블 히어로들이 나오니까 그게 재밌어서 봤는데, 질병관리본부하니까 그래서 조금 더 기억에 남았던 것 같아요.<br><br>

								B: 아이들이 워낙 히어로물을 좋아해서 아이들이 재밌게 볼 수 있을 것 같아요.<br><br>

								C: 공익광고에 활용하니까 발상도 되게 재밌었고<br><br>

								D: 질병관리본부에서 마블이랑?<br>
								이런데랑 협업도 하는구나, 좀 신기한 기분이 들었어요<br><br>

								A: 손씻기는 30초 이상<br><br>

								C: 비누를 사용해야 되고, 그리고 30초 이상 씻어야 된다고<br><br>

								B: 가족의 건강을 지킨다고, 기침할 때 팔로 가리는 거<br>
								손을 간단히 씻었던 것을 30초 이상은 씻어야(겠다)<br><br>

								D: 방패가 나오면서 이렇게! 기침하는 부분이 기억에 남아요<br><br>
							</div>
							<br>
							<p>질병관리본부가 마블과 콜라보를?? <br>
								질병관리본부X마블 감염병예방 캠페인을 본 사람들의 반응은?</p>

						</div>
						<!-- //contents -->

						<div class="file">
							<span class="file-label">첨부파일</span>
							<ul class="file-list">
								<li>
									<a href="#" class="file-down">
										<img src="../img/board/file_img.png" alt="img 첨부파일">
										<span class="text">
											154873973477000.jpg
											<span class="file-size">(206KB)</span>
										</span>
									</a>
									<span class="link">
										<a class="btn xsm tertiary" href="">다운로드<i class="ic-down"
												aria-hidden="true"></i></a>
										<a class="btn xsm tertiary" href="" target="_blank">자료열기<i class="ic-go"
												aria-hidden="true"></i></a>
									</span>
								</li>
								<li>
									<a href="#" class="file-down">
										<img src="../img/board/file_hwp.png" alt="hwp 첨부파일">
										<span class="text">
											[보도참고자료] 응급의료포털 통해 지역, 질환, 지원치료별 암 진료협력병원 정보 확인 가능.hwp
											<span class="file-size">(16KB)</span>
										</span>
									</a>
									<span class="link">
										<a class="btn xsm tertiary" href="">다운로드<i class="ic-down"
												aria-hidden="true"></i></a>
										<a class="btn xsm tertiary" href="" target="_blank">자료열기<i class="ic-go"
												aria-hidden="true"></i></a>
									</span>
								</li>
								<!-- <li>
				<a href="#" class="all_file_down btn_down">
					전체 다운로드<i aria-hidden="true"></i>
				</a>
			</li> -->
							</ul>
						</div>
						<!-- //file -->
					</div>
					<!-- //board-view -->

					<div class="btns">
						<button type="button" onclick="upt_passCheck('1');" class="btn md primary">수정</button>
						<button type="button" onclick="del_passCheck('1');" class="btn md secondary">삭제</button>
						<button type="button" onclick="goList(); return false;" class="btn md tertiary">목록</button>
					</div>
					<!-- //btn_area -->

					<ul class="prevnext">
						<li class="prev">
							<span>이전글</span>
							<a href="">사업계획서 정오표 및 첨부파일
								송업계획서 정오표 및 일 송부 사업 계획서 정및 첨부파일 송부 사업계획서 정오표 파일 송부 및 첨부파일 송부 사업계획서 정오표 파일 송부
							</a>
						</li>
						<li class="next">
							<span>다음글</span>
							<a href="">사업계획서 정오표 및 첨부파일
								송업계획서 정오표 및 일 송부 사업 계획서 정및 첨부파일 송부 사업계획서 정오표 파일 송부 및 첨부파일 송부 사업계획서 정오표 파일 송부
							</a>
						</li>
					</ul>
					<!-- //prevnext -->

				</section><!--//content-->
			</div>
			<!--//contentWrap-->

			<a href="#wrap" class="go-top fixed"><i class="ri-arrow-up-s-line"
					aria-hidden="true"></i><span>TOP</span></a>
		</main>
		<footer class="footer">COPYRIGHTⓒ 2024 Plan I. ALL RIGHTS RESERVED.</footer>

	</div>
	<!-- //guide -->

	<!-- 공통 JS -->
	<script src="../js/func.js"></script>
	<script src="../js/common.js"></script>

	<!-- 서브 JS -->
	<script src="../js/sub.js"></script>

	<!-- 가이드 JS -->
	<script src="guide.js"></script>

</body>

</html>