<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes">
	<meta name="title" content="">
	<meta name="description" content="">
	<meta name="keyword" content="">
	<meta name="copyright" content="">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="">
	<meta property="og:title" content="">
	<meta property="og:url" content="http://localhost/?">
	<meta property="og:description" content="">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/layout/favicon_180px.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="../img/layout/favicon_192px.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/layout/favicon_32px.png">
	<title>스타일가이드</title>

	<!-- CSS -->
	<link rel="stylesheet" href="../css/output.css">
	<link rel="stylesheet" href="guide.css">

	<!-- 공통 JS -->
	<script src="../js/jquery.min.js"></script>
	<script src="../js/swiper-bundle.min.js"></script>
	
</head>

<body class="guide">
	
	<div id="wrap">
		<header>
            <h1><img src="logo.png" alt="web style guide"></h1> 
            <p class="menu">
                <a href="guide_rule.html">규칙가이드</a>
                <a href="guide_common.html" class="active">기본스타일</a>
                <a href="board_list.html">게시판</a>
            </p>
        </header>

		<main id="container">	

			<div class="inner in-between">
				<section id="snb" class="left-menu">
					<div class="snb" data-active="0">						
						<nav class="list">
							<ul id="left_menu_top" class="head_menu_depth">
								<li class="is-depth3">
									<a href="guide_common.html">Common</a>
									<ul class="depth3">
										<li><a href="guide_common.html#typography">typography</a></li>
										<li><a href="guide_common.html#color">color</a></li>
										<li><a href="guide_common.html#userDefine">user_define</a></li>
									</ul>
								</li>
								<li class="is-depth3">
									<a href="guide_component.html">Components</a>
									<ul class="depth3">
										<li><a href="guide_component.html#tab">tab</a></li>
										<li><a href="guide_component.html#box">box</a></li>
										<li><a href="guide_component.html#heading">heading</a></li>
										<li><a href="guide_component.html#list">list</a></li>										
										<li><a href="guide_component.html#image">image</a></li>
										<li><a href="guide_component.html#table">table</a></li>	
										<li><a href="guide_component.html#button">button</a></li>
										<li><a href="guide_component.html#card">card</a></li>
										<li><a href="guide_component.html#accordion">accordion</a></li>
										<!-- <li><a href="#alert">alert</a></li>
										<li><a href="#badge">badge</a></li> -->
										<li><a href="guide_component.html#dialog">modal(dialog)</a></li>
										<li><a href="guide_component.html#pagination">pagination</a></li>				
										<li><a href="guide_component.html#slider">slider</a></li>											
										<li><a href="guide_component.html#contInfo">콘텐츠정보</a></li>									
									</ul>
								</li>
								<li class="is-depth3">
									<a href="guide_form.html">Forms</a>
									<ul class="depth3">
										<li><a href="guide_form.html#formItem">form-item</a></li>
										<li><a href="guide_form.html#formGroup">form-group</a></li>
										<li><a href="guide_form.html#formInline">form-inline</a></li>
										<li><a href="guide_form.html#formRow">form-row</a></li>
									</ul>
								</li>
								
							</ul>
						</nav>
					</div>
				</section>
				<!-- //snb -->		

				<section id="contents" class="contents">
					<h1 class="h-tit">스타일가이드</h1>
					<article class="guide-article" id="typography">
						<h4 class="s-title-1">서체(Typography)</h4>						
					
						<h5 class="s-title-2">한글폰트</h5>
						<ul class="list-dot">
							<li>폰트체 : Pretendard GOV</li>
							<li>폰트크기 : 1.7rem(17px)</li>
							<li>line-height : 1.5</li>
						</ul>
						<h5 class="s-title-2">아이콘폰트</h5>
						<ul class="list-dot">
							<li>폰트체 : Remixicon</li>
						</ul>
					</article>
					<article class="guide-article" id="color">
						<h4 class="s-title-1">색상(Color)</h4>
						<h5 class="s-title-2">Primary color</h5>
						<div class="bg-primary text-white" style="padding:2rem">primary = primary-50</div>
						<ul class="color-depth color">
							<li style="background:var(--primary-5)">primary-5</li>
							<li style="background:var(--primary-10)">primary-10</li>
							<li style="background:var(--primary-20)">primary-20</li>
							<li style="background:var(--primary-30)">primary-30</li>
							<li style="background:var(--primary-40)">primary-40</li>
							<li style="background:var(--primary-50)">primary-50</li>
							<li style="background:var(--primary-60)">primary-60</li>
							<li style="background:var(--primary-70)">primary-70</li>
							<li style="background:var(--primary-80)">primary-80</li>
							<li style="background:var(--primary-90)">primary-90</li>
						</ul>
						<ul class="list-dot">
							<li class="text-primary">.text-primary</li>
							<li><span class="bg-primary text-white">.bg-primary</span></li>
						</ul>
						<!-- <h5 class="s-title-2">Secondary color</h5>
						<div class="bg-secondary text-white" style="padding:2rem">secondary = secondary-50</div>
						<ul class="color-depth color">
							<li style="background:var(--secondary-5)">secondary-5</li>
							<li style="background:var(--secondary-10)">secondary-10</li>
							<li style="background:var(--secondary-20)">secondary-20</li>
							<li style="background:var(--secondary-30)">secondary-30</li>
							<li style="background:var(--secondary-40)">secondary-40</li>
							<li style="background:var(--secondary-50)">secondary-50</li>
							<li style="background:var(--secondary-60)">secondary-60</li>
							<li style="background:var(--secondary-70)">secondary-70</li>
							<li style="background:var(--secondary-80)">secondary-80</li>
							<li style="background:var(--secondary-90)">secondary-90</li>
						</ul>
						<ul class="list-dot">
							<li class="text-secondary">.text-secondary</li>
							<li><span class="bg-secondary text-white">.bg-secondary</span></li>
						</ul>
						<h5 class="s-title-2">Tertiary color</h5>
						<div class="bg-tertiary text-white" style="padding:2rem">tertiary = tertiary-50</div>
						<ul class="color-depth color">
							<li style="background:var(--tertiary-5)">tertiary-5</li>
							<li style="background:var(--tertiary-10)">tertiary-10</li>
							<li style="background:var(--tertiary-20)">tertiary-20</li>
							<li style="background:var(--tertiary-30)">tertiary-30</li>
							<li style="background:var(--tertiary-40)">tertiary-40</li>
							<li style="background:var(--tertiary-50)">tertiary-50</li>
							<li style="background:var(--tertiary-60)">tertiary-60</li>
							<li style="background:var(--tertiary-70)">tertiary-70</li>
							<li style="background:var(--tertiary-80)">tertiary-80</li>
							<li style="background:var(--tertiary-90)">tertiary-90</li>
						</ul>
						<ul class="list-dot">
							<li class="text-tertiary">.text-tertiary</li>
							<li><span class="bg-tertiary text-white">.bg-tertiary</span></li>
						</ul> -->
						<h5 class="s-title-2">Grayscale</h5>
						<div class="bg-gray" style="padding:2rem">gray = gray-10</div>
						<ul class="color-depth gray">
							<li style="background:var(--gray-5)">gray-5</li>
							<li style="background:var(--gray-10)">gray-10</li>
							<li style="background:var(--gray-20)">gray-20</li>
							<li style="background:var(--gray-30)">gray-30</li>
							<li style="background:var(--gray-40)">gray-40</li>
							<li style="background:var(--gray-50)">gray-50</li>
							<li style="background:var(--gray-60)">gray-60</li>
							<li style="background:var(--gray-70)">gray-70</li>
							<li style="background:var(--gray-80)">gray-80</li>
							<li style="background:var(--gray-90)">gray-90</li>
						</ul>
						<ul class="list-dot">
							<li><span class="bg-gray">.bg-gray</span></li>
						</ul>
						<h5 class="s-title-2">Point color</h5>
						<div class="bg-point text-white" style="padding:2rem">point = point-50</div>
						<ul class="color-depth color">
							<li style="background:var(--point-5)">point-5</li>
							<li style="background:var(--point-10)">point-10</li>
							<li style="background:var(--point-20)">point-20</li>
							<li style="background:var(--point-30)">point-30</li>
							<li style="background:var(--point-40)">point-40</li>
							<li style="background:var(--point-50)">point-50</li>
							<li style="background:var(--point-60)">point-60</li>
							<li style="background:var(--point-70)">point-70</li>
							<li style="background:var(--point-80)">point-80</li>
							<li style="background:var(--point-90)">point-90</li>
						</ul>
						<ul class="list-dot">
							<li class="text-point">.text-point</li>
						</ul>
					</article>
					

					<article class="guide-article" id="userDefine">
						<h4 class="s-title-1">사용자 정의 스타일 (User define style)</h4>
						
						<h5 class="s-title-2">새창열림</h5>
						<ul class="list-dot">
							<li>.ico-go : <a href="http://www.plani.co.kr" target="_blank" class="ico-go" title="새창열림" rel="noopener noreferrer">SVG 아이콘</a></li>
							<li>.ic-go : <a href="http://www.plani.co.kr" target="_blank" class="ic-go" title="새창열림" rel="noopener noreferrer">웹폰트 아이콘</a></li>
						</ul>
						<h5 class="s-title-2">이미지 대체 텍스트</h5>
						<ul class="list-dot">
							<li>.sr-only</li>
						</ul>
						<h5 class="s-title-2">크기(단위 : %)</h5>
						<ul class="list-dot">
							<li>.w1 ~ .w20 (1% 단위) : width: 1% ~ width: 20%</li>
							<li>.w25 ~ .w100 (5% 단위) : width: 25% ~ width: 100%</li>
						</ul>
						<h5 class="s-title-2">마진 (단위 : .8rem)</h5>
						<ul class="list-dot">
							<li>.ml1 ~ .ml10<code>margin-left: 0.8rem ~ margin-left: 8rem;</code></li>
							<li>.mt1 ~ .mt10<code>margin-top: 0.8rem ~ margin-top: 8rem;</code></li>
							<li>.mr1 ~ .mr10<code>margin-right: 0.8rem ~ margin-right: 8rem;</code></li>
							<li>.mb1 ~ .mb10<code>margin-bottom: 0.8rem ~ margin-bottom: 8rem;</code></li>
							
						</ul>
						<h5 class="s-title-2">텍스트 스타일</h5>
						<ul class="list-dot">
							<li>두껍게 : .text-bold</li>
							<li>밑줄 : .text-underline</li>
						</ul>
						<h5 class="s-title-2">텍스트 정렬</h5>
						<ul class="list-dot">
							<li>왼쪽정렬 : .text-left</li>
							<li>가운데정렬 : .text-center</li>
							<li>오른쪽정렬 : .text-right</li>
						</ul>
						<h5 class="s-title-2">flex : .flex</h5>
						<h6 class="s-title-3">수평정렬</h6>
						<ul class="list-dot">
							<li>.jc-flex-start<code>justify-content: flex-start;</code></li>
							<li>.jc-center<code>justify-content: center;</code></li>
							<li>.jc-flex-end<code>justify-content: flex-end;</code></li>
							<li>.jc-space-around<code>justify-content: space-around;</code></li>
							<li>.jc-space-evenly<code>justify-content: space-evenly;</code></li>
							<li>.jc-space-between<code>justify-content: space-between;</code></li>
						</ul>						
						<h6 class="s-title-3">수직정렬</h6>
						<ul class="list-dot">
							<li>.ai-flex-start<code>align-items: flex-start;</code></li>
							<li>.ai-center<code>align-items: center;</code></li>
							<li>.ai-flex-end<code>align-items: flex-end;</code></li>
						</ul>
					</article>
					<!-- //user_define -->

				</section><!--//content-->
			</div>
			<!--//contentWrap-->

			<a href="#wrap" class="go-top fixed"><i class="ri-arrow-up-s-line" aria-hidden="true"></i><span>TOP</span></a>
		</main>
		<footer class="footer">COPYRIGHTⓒ 2024 Plan I. ALL RIGHTS RESERVED.</footer>
		
	</div>
	<!-- //guide -->
	
	<!-- 공통 JS -->
	<script src="../js/func.js"></script>
	<script src="../js/common.js"></script>

	<!-- 서브 JS -->
	<script src="../js/sub.js"></script>
	
	<!-- 가이드 JS -->
	<script src="guide.js"></script>

</body>

</html>