<!DOCTYPE html>

<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes">
	<meta name="title" content="보건복지부 통합돌봄">
	<meta name="description" content="보건복지부 통합돌봄">
	<meta name="keyword" content="보건복지부 통합돌봄">
	<meta name="author" content="보건복지부 통합돌봄">
	<meta name="theme-color" content="#003675">

	<link rel="apple-touch-icon" sizes="180x180" href="../img/layout/favicon_180px.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../img/layout/favicon_192px.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/layout/favicon_32px.png">

	<title>보건복지부 통합돌봄</title>

	<!-- 폰트 CSS -->
	<link rel="preload" href="../fonts/PretendardGOV.css" as="style">
	<link rel="stylesheet" href="../fonts/remixicon.css">

	<!-- 공통 CSS -->
	<link rel="stylesheet" href="../css/output.css">
	<!-- 메인 CSS -->
	<link rel="stylesheet" href="../css/contents.css">
	<!-- print CSS -->
	<link rel="stylesheet" href="../css/print.css" media="print">

	<!-- 공통 JS -->
	<script src="../js/jquery.min.js" defer></script>
	<script src="../js/swiper-bundle.min.js" defer></script>
	<script src="../js/func.min.js" defer></script>
	<script src="../js/common.js" defer></script>

	<!-- 메인 JS -->
	<script src="../js/sub.js" defer></script>
</head>

<body>

	<div id="wrap">
		<!-- 본문 바로가기 영역  -->
		<div id="skip-nav">
			<a href="#contents">본문 바로가기</a>
		</div>
		<!-- //본문 바로가기 영역  -->

		<!-- //상단 배너영역  -->
		<div id="header-top">
			<div class="toggle-wrap">
				<div class="toggle-head">
					<div class="inner">
						<span class="nuri-txt">이 누리집은 대한민국 공식 전자정부 누리집입니다.</span>
					</div>
				</div>
			</div>
		</div>
		<!-- //상단 배너영역  -->


		<!-- 헤더 영역 -->
		<header id="header" class="header">
			<!-- 헤더 컨텐츠 영역  -->
			<div class="header-in">



				<!-- 헤더 상단 기타메뉴 -->
				<div class="head-body">
					<div class="inner">
						<a href="index.html" class="logo">
							<img loading="lazy" src="../img/layout/logo.svg" class="logo-im" alt="보건복지부 통합돌봄">
						</a>
						<div class="right">
							<div class="head-etc">
								<ul class="etc-ul">
									<li class="li"><a href="https://www.mohw.go.kr/" class="btn btn-txt ico-go"
											target="_blank">보건복지부</a></li>
									<li class="li">
										<div class="drop-wrap zoom-drop">
											<button type="button" class="btn btn-txt ico-arr-down drop-btn"
												aria-haspopup="listbox">글자크기</button>
											<div class="drop-menu">
												<div class="drop-in">
													<ul class="drop-list" role="listbox">
														<li><button class="item-link xsm" role="option">작게</button></li>
														<li><button class="item-link sm" role="option">보통</button></li>
														<li><button class="item-link md" role="option">조금 크게</button>
														</li>
														<li><button class="item-link lg" role="option">크게</button></li>
														<li><button class="item-link xlg" role="option">가장크게</button>
														</li>
													</ul>
													<div class="drop-btm-btn">
														<button type="button"
															class="btn sm btn-txt ico-reset ico-before">초기화</button>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="btn-navi-wrap">
								<button type="button" class="btn-navi sch" title="통합검색 레이어"
									data-id="popTotalSch">통합검색</button>
								<button type="button" class="btn-navi all pc-all" title="전체메뉴 레이어"
									data-id="popSiteMap">전체메뉴</button>
								<button type="button" class="btn-navi all" id="m-gnb-open">전체메뉴</button>
							</div>
						</div>
					</div>
				</div>
				<!-- //헤더 상단 기타메뉴 -->




				<!-- 웹 : 메뉴 영역 -->
				<nav id="gnb1" class="head-gnb">
					<div class="inner">



						<ul id="head_menu" class="topmenu">
							<li class="lnb1 mnfirst">
								<a href="a60101000000.html">통합돌봄 한눈에 보기</a>
								<div class="submenu" style="display:none;">


									<ul class="sub01">
										<li class="sub01 subfirst"><a href="a60101000000.html">통합돌봄 소개</a></li>
										<li class="sub02"><a href="/menu.es?mid=a60105000000">대상자 소개</a></li>
										<li class="sub03 sublast"><a href="/menu.es?mid=a60105000000">지원내용</a></li>
									</ul>


								</div>
							</li>
							<li class="lnb2">
								<a href="a60201000000.html">통합돌봄 이용안내</a>
								<div class="submenu" style="display:none;">


									<ul class="sub02">
										<li class="sub01 subfirst"><a href="a60201000000.html">신청방법 및 절차</a>
										</li>
									</ul>


								</div>
							</li>
							<li class="lnb3">
								<a href="board_list.html">우리지역 통합돌봄</a>
								<div class="submenu" style="display:none;">

									<ul class="sub03">
										<li class="sub01 subfirst"><a href="board_list.html">지자체 추진상황</a></li>
										<li class="sub02"><a href="board_list.html">시군구 전담조직 연락망</a></li>
										<li class="sub03 sublast"><a href="/menu.es?mid=a60302000000">지자체 우수사례</a></li>
									</ul>


								</div>
							</li>
							<li class="lnb4 mnlast">
								<a href="board_list.html">자료실</a>
								<div class="submenu" style="display:none;">

									<ul class="sub04">
										<li class="sub01 subfirst"><a href="board_list.html">정책자료</a></li>
										<li class="sub02"><a href="gallery_list.html">홍보자료</a></li>
										<li class="sub03 sublast"><a href="faq.html">절차 FAQ</a></li>
									</ul>


								</div>
							</li>
						</ul>



					</div>
				</nav>
				<!-- //웹 : 메뉴 영역 -->
			</div>
			<!-- //헤더 컨텐츠 영역  -->

			<!-- 모바일 : 전체메뉴 -->
			<nav id="m-gnb" class="m-gnb-wrap">
				<div class="m-gnb-in type1">
					<div class="m-gnb-head">
						<div class="m-gnb-top-etc">
						</div>
						<div class="sch-input">
							<input type="text" class="form-control md" name="menu_name" onkeyup="fn_menu_search('',2);"
								placeholder="찾고자 하는 메뉴명을 입력해 주세요" title="메뉴명 검색">
							<button type="button" class="btn btn-ico ico-sch" onclick="fn_menu_search('',1);">
								<span class="sr-only">검색</span>
							</button>
						</div>
					</div>
					<div class="m-sch-result"></div>
					<div class="m-gnb-body">
						<div class="m-gnb-menu type1">



							<ul id="head_menu_all" class="topmenu_all">
								<li class="lnb1 mnfirst">
									<a href="a60101000000.html">통합돌봄 한눈에 보기</a>
									<div class="submenu">
										<ul class="sub01">
											<li class="sub01 subfirst"><a href="a60101000000.html">통합돌봄 소개</a>
											</li>
											<li class="sub02"><a href="/menu.es?mid=a60105000000">대상자 소개</a></li>
											<li class="sub03 sublast"><a href="/menu.es?mid=a60105000000">지원내용</a></li>
										</ul>
									</div>
								</li>
								<li class="lnb2">
									<a href="a60201000000.html">통합돌봄 이용안내</a>
									<div class="submenu">
										<ul class="sub02">
											<li class="sub01 subfirst"><a href="a60201000000.html">개요</a></li>
											<li class="sub02"><a href="/menu.es?mid=a60202000000">위원명단</a></li>
											<li class="sub03 sublast"><a href="/menu.es?mid=a60203000000">운영현황</a></li>
										</ul>
									</div>
								</li>
								<li class="lnb3">
									<a href="board_list.html">우리지역 통합돌봄</a>
									<div class="submenu">
										<ul class="sub03">
											<li class="sub01 subfirst"><a href="board_list.html">지자체 추진상황</a>
											</li>
											<li class="sub02"><a href="board_list.html">시군구 전담조직 연락망</a></li>
											<li class="sub03 sublast"><a href="/menu.es?mid=a60302000000">지자체 우수사례</a>
											</li>
										</ul>
									</div>
								</li>
								<li class="lnb4 mnlast">
									<a href="board_list.html">자료실</a>
									<div class="submenu">
										<ul class="sub04">
											<li class="sub01 subfirst"><a href="board_list.html">정책자료</a></li>
											<li class="sub02"><a href="gallery_list.html">홍보자료</a></li>
											<li class="sub03 sublast"><a href="faq.html">절차 FAQ</a>
											</li>
										</ul>
									</div>
								</li>
							</ul>



						</div>
					</div>

					<button type="button" class="btn btn-ico ico-close">
						<span class="sr-only">전체메뉴 닫기</span>
					</button>
				</div>
			</nav>
			<!-- //모바일 : 전체메뉴 -->

			<!-- 레이어 : 통합 검색 -->
			<div class="popup-wrap" data-type="full" id="popTotalSch">
				<div class="popup-in">
					<div class="popup">
						<div class="popup-head sr-only">
							<h1 class="pop-tit">통합검색</h1>
						</div>
						<div class="popup-body">
							<!-- 통합검색 -->
							<div class="pop-total-serch-wrap">
								<!-- 통합검색 정보입력 영역 -->
								<div class="search-total-top">
									<!-- 검색어 타이틀 -->
									<div class="search-tit">검색어를 입력해주세요</div>
									<!-- //검색어 타이틀 -->

									<!-- 검색어 입력 폼 -->
									<form name="totSearch" action="/reform/search.es?mid=a50700000000" method="post"
										onsubmit="return fn_tot_search();">
										<div class="sch-form-wrap vert">
											<div class="sch-input">
												<input type="text" class="form-control xlg" id="search-total-input-id"
													placeholder="검색어 입력" name="totKeyWord" title="검색어 입력" value="">
												<button type="submit" class="btn btn-ico ico-sch"> <span
														class="sr-only">검색</span> </button>
											</div>
										</div>
									</form>
									<!-- //검색어 입력 폼 -->
								</div>
								<!-- //통합검색 정보입력 영역 -->

								<!-- 검색어 리스트 -->
								<div class="search-text" tabindex="0">
									<ul class="sch-info-list">

										<li class="li li2">
											<h3 class="tit">최근검색어</h3>
											<ul class="list recentSearch">
											</ul>
											<button type="button" class="btn btn-txt ico-del sm searchTotDel">최근검색어 전체
												삭제</button>
										</li>
									</ul>
								</div>
								<!-- //검색어 리스트 -->

							</div>
							<!-- //통합검색 -->
						</div>
						<button type="button" class="popup-close"><span class="sr-only">레이어 닫기</span></button>
					</div>
				</div>
			</div>
			<!-- //레이어 : 통합 검색 -->

			<!-- 레이어 : 사이트맵 -->
			<div class="popup-wrap" data-type="full" id="popSiteMap">
				<div class="popup-in">
					<div class="popup">
						<div class="popup-head">
							<h1 class="pop-tit">Site Map</h1>
						</div>
						<div class="popup-body">
							<!-- gnb 클론 영역 -->
						</div>
						<button type="button" class="popup-close"><span class="sr-only">레이어 닫기</span></button>
					</div>
				</div>
			</div>
			<!-- //레이어 : 사이트맵 -->

		</header>
		<!-- //헤더 영역 -->



		<!-- 컨테이너 영역 -->
		<main id="container">




			<!-- breadcrumb -->
			<nav class="breadcrumb-wrap" aria-label="Breadcrumb">
				<ol class="breadcrumb">
					<li class="home"><a href="/index.es?sid=a5" class="txt">홈</a></li>




					<li><a href="/menu.es?mid=a60100000000" aria-current="true">통합돌봄 한눈에 보기</a></li>



					<li><a href="a60101000000.html" aria-current="true" class="active">통합돌봄 소개</a></li>




				</ol>
			</nav>


			<!-- breadcrumb -->
			<div class="inner in-between">

				<!-- snb : 서브메뉴-->
				<div id="snb" class="left-menu">
					<nav class="list">



						<ul id="left_menu_top" class="head_menu_depth">
							<li id="li0101000000" class="first active"><a href="a60101000000.html"
									onclick="detailSubMenu('smenu1');">통합돌봄 소개</a>
							</li>
							<li id="li0105000000"><a href="/menu.es?mid=a60105000000"
									onclick="detailSubMenu('smenu2');">대상자 소개</a>
							</li>
							<li id="li0105000000" class="last"><a href="/menu.es?mid=a60105000000"
									onclick="detailSubMenu('smenu3');">지원내용</a>
							</li>
						</ul>
					</nav>
				</div>
				<!-- //snb : 서브메뉴-->


				<!-- contents : 컨텐츠 영역 -->
				<section id="contents" class="contents">

					<!-- 페이지 타이틀 영역 -->
					<div class="page-title-wrap" data-type="responsive">
						<h1 class="h-tit">추진배경 및 방향</h1>

						<button type="button" onclick="window.print();" class="print-btn ico-print">
							<span class="sr-only">프린트</span>
						</button>
					</div>
					<!-- //페이지 타이틀 영역 -->


					<!-- 페이지 콘텐츠 영역 -->
					<div class="page-contents">




						<div class="info-box">
							<ul class="list-dot">
								<li>생명과 지역을 살리는 필수의료혁신 전략(’23.10.19) 이행을 위해</li>
								<li><strong>필요조건</strong>으로서 의사 수 확대와</li>
								<li><strong>충분조건</strong>으로서 필수의료 강화를 위한 패키지식 해법 마련 시급
									<p class="example">* 필수의료 위기는 구조적 문제가 장기간 축적된 복합적 과제로 단기적 해법과 중장기적 구조 개선을 포함하는 정책
										패키지
										추진
										필요</p>
								</li>
							</ul>
						</div>



						<h2 class="title-2">추진 배경</h2>
						<h3 class="title-3 icon"><i class="ri-error-warning-line"></i>문제의 근원: <b class="text-point">불공정
								의료생태계</b></h3>
						<h3 class="title-3">불공정 보상(高(고)위험-低(저)보상)</h3>
						<ul class="list-dot">
							<li>필수(고위험‧고난도‧당직, 건보 위주) < 비필수(실손보험 + 비급여, 미용 의료 시장 확대) <p class="star">필수의료(지역→수도권) 인력 이탈
									→ 비필수 분야 인력 흡입</p>
							</li>
						</ul>
						<div class="img-box img-zoom">
							<p><img loading="lazy" src="/healthcarereform/img/contents/01_01_img1.gif"
									alt="외곡된 생태계(고보상-비필수, 고위험, 고강도-필수), 정상적 생태계 그래프(고보상 비필수(하락)) 고위험, 고강도 필수(상승)" /></p>
						</div>

						<h3 class="title-3">高(고)위험 + 高(고)강도 + 低(저)비전</h3>
						<ul class="list-dot">
							<li>높은 의료사고 부담(형사, 민사), ‣ 의사 수 부족 + 개원 쏠림 심화
								<p class="star">남은 인력 번 아웃 → 기존 숙련인력 이탈↑ + 전공의‧전문의 유입↓</p>
							</li>
							<li>전문의 취득 후 필수의료 분야 좋은 일자리 부족*
								<p class="star">전공의 의존 구조, 중소병원 약화, 진료 外(외) 연구 등 경력경로 다변화 미흡 </p>
							</li>
						</ul>

						<h3 class="title-3">필수의료 생태계 枯死(고사) 위기 구조</h3>
						<div class="table responsive">
							<table>
								<caption><span>필수의료 생태계 枯死(고사) 위기 구조 – 구분, 이유, 원인으로 구성</span></caption>
								<colgroup>
									<col class="w20">
									<col class="w30">
									<col>
								</colgroup>
								<thead>
									<tr>
										<th scope="col">구분</th>
										<th scope="col">이유</th>
										<th scope="col">원인</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td rowspan="3"><strong>필수의료 기피</strong></td>
										<td>장시간 근로 번 아웃 일상화</td>
										<td>
											<ul class="list-dot">
												<li>19년째 의대 정원 동결
													<p class="star">평균 은퇴 연령(의협 조사) 65세 기준, 10년 내 2.2만명 은퇴 연령 도달</p>
												</li>
												<li>전공의 의존적 병원 운영
													<p class="star">Big5 병원 의사 중 전공의 비중 37%, 응급‧당직 대응 핵심 인력</p>
												</li>
												<li>응급·당직 多(다), 야간· 휴일 대기 </li>
												<li>일-생활 균형 인식 변화</li>
											</ul>
										</td>
									</tr>
									<tr>
										<td>높은 의료사고 부담</td>
										<td>
											<ul class="list-dot">
												<li>적정 보상체계 부재, 소송 위주 해결
													<p class="star">민사 1심 기간 평균 6개월 vs 의료소송 26개월</p>
												</li>
											</ul>
										</td>
									</tr>
									<tr>
										<td>불공정한 보상
											비필수 분야와의 격차</td>
										<td>

											<ul class="list-dot">
												<li>量(양) 중심 행위별 수가체계 下(하) 고위험‧고난도 보상 반영 체계 부재</li>
												<li>실손보험의 폭 넓은 비급여 보장 → 비급여 시장 팽창 가속화
													<p class="star">비급여 진료비(조원): (’10) 8.1 → (’21) 17.3</p>
												</li>
											</ul>
										</td>
									</tr>
									<tr>
										<td><strong>지역의료 약화</strong></td>
										<td>지역의료 역량‧신뢰 저하<br />

											병원 인력‧운영난 심화, 인프라 유지 곤란</td>
										<td>
											<ul class="list-dot">
												<li>수도권 대형병원 병상 경쟁 → 환자‧인력 유출 → 지역의료 약화 악순환
													<p class="star">’30년까지 수도권 6천 병상 증가 전망</p>
												</li>
												<li>거점병원 약화 속 협력 전달체계 부재로 병‧의원 무한경쟁 구조 지속</li>
											</ul>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<h2 class="title-2">추진 방향</h2>

						<h3 class="title-3">비전 및 미래상</h3>
						<div class="box bg-primary round s01-01-img2">
							<strong class="title">국민이 신뢰하고 의료인은 자긍심을 가지는 필수의료</strong>
							<ul class="list-dot">
								<li>사회수요 충족 충분한 의사 수 확보, 진료-연구 및 일-생활 균형 필수의료</li>
								<li>가까운 곳에서 안심하고 의료를 이용하는 지역완결 필수의료</li>
								<li>의료사고 시 환자는 충분하고 신속하게 구제, 의료인은 민‧형사 부담 합리화</li>
								<li>어렵고 위험하고 힘든 필수의료가 충분히 보상받고 사회적 인정</li>
							</ul>
						</div>

						<h3 class="title-3">추진 방향</h3>
						<div class="box-wrap">

							<div class="box bg-gray round">
								<em class="badge bg3">10년 내</em>
								<strong class="title">필수의료 붕괴 위기 극복</strong>
								<p>의료 현장에서 느끼는 핵심적 기피 요인 해소</p>
							</div>
							<div class="box bg-primary round">
								<em class="badge bg1">10년 후</em>
								<strong class="title">근본적 해법으로서 제도‧구조 개혁 완성</strong>
								<p>청년 의사가 활약할 대한민국 新(신) 의료생태계 전환</p>
							</div>
						</div>

						<ul class="list-dot">
							<li><strong>(의료인력 확충)</strong> 의사 수 확충, 교육‧수련 혁신, 전문의 중심 병원 전환 → 사회 전반의 의사 수요충족, 좋은 일자리 확대
							</li>
							<li><strong>(지역의료 강화)</strong> 상급병원-중소병원-의원 역할 정립 및 네트워크 강화, 수요‧기능 중심 의료기관 구조 전환 등 지역완결 전달체계
								<ul class="list-dash">
									<li>우수 인력 확보, 투자 확대, 수도권 유출 최소화 등 지역 기반 강화</li>
								</ul>
							</li>
							<li><strong>(의료사고 안전망)</strong> 충분한 피해자 소통‧배상을 전제로 한 의료사고 특례법 체계 도입 → 안정적 진료환경 조성</li>
							<li><strong>(공정 보상)</strong> 필수의료 친화 공정 지불‧보상체계 개편, 보상체계 왜곡 유발 비급여‧미용의료 관리체계 확립</li>

						</ul>











					</div>
					<!--// 페이지 콘텐츠 영역 -->
				</section>
				<!--// contents : 컨텐츠 영역 -->
			</div>
			<!--// inner -->










		</main>
		<!-- //컨테이너 영역 -->

		<a href="#wrap" class="go-top" data-tooltip="페이지 상단으로 이동">
			<i class="ri-arrow-up-s-line" aria-hidden="true"></i>
			<span>TOP</span>
		</a>


		<!-- 푸터 영역 -->
		<footer id="footer" class="footer">



			<div class="inner">
				<div class="f-logo">
					<a href="/communityCare" class="logo-im">
						<img loading="lazy" src="../img/layout/logo.svg" alt="보건복지부 통합돌봄">
					</a>
				</div>
				<div class="f-cnt">
					<div class="f-info">
						<p class="info-addr">(30113) 세종특별자치시 도움4로 13 보건복지부 (정부세종청사 10동)</p>
						<ul class="info-cs">
							<li>
								<strong class="key-info">안내전화 <span><a href="tel:129">보건복지상담센터 국번없이
											129(무료)</a></span></strong>
								<span class="more-info">평일 09:00~18:00, 긴급지원상담은 24시</span>
							</li>
							<li>
								<strong class="key-info">당직실 <span><a
											href="tel:044-202-2118">044-202-2118</a></span></strong>
							</li>
							<li>
								<strong class="key-info">FAX <span><a
											href="tel:044-202-3910">044-202-3910</a></span></strong>
							</li>
						</ul>
					</div>

					<div class="f-link">
						<div class="link-go">
							<a href="https://mohw.go.kr/menu.es?mid=a10608000000" class="btn btn-txt ico-arr">찾아오시는
								길</a>
						</div>
						<div class="link-sns">
							<a href="https://facebook.com/mohwpr" class="facebook" target="_blank"
								rel="noopener noreferrer"><span class="sr-only">페이스북</span></a>
							<a href="https://twitter.com/mohwpr" class="twitter" target="_blank"
								rel="noopener noreferrer"><span class="sr-only">트위터</span></a>
							<a href="https://youtube.com/user/mohwpr" class="youtube" target="_blank"
								rel="noopener noreferrer"><span class="sr-only">유튜브</span></a>
							<a href="https://blog.naver.com/mohw2016" class="blog" target="_blank"
								rel="noopener noreferrer"><span class="sr-only">블로그</span></a>
							<a href="https://instargram.com/mohw_kr/" class="instagram" target="_blank"
								rel="noopener noreferrer"><span class="sr-only">인스타그램</span></a>
						</div>
					</div>
				</div>

				<div class="f-btm">
					<div class="f-btm-text">
						<div class="f-menu">
							<a href="https://mohw.go.kr/menu.es?mid=a10803000000" class="point ico-go"
								title="새창열림">개인정보처리방침</a>

						</div>
						<p class="f-copy">© COPYRIGHT MOHW. ALL RIGHTS RESERVED</p>
					</div>
				</div>
			</div>


		</footer>
		<!-- //푸터 영역 -->

	</div>






	<script>
		//try { initNavigation(1, 0); } catch (e) { console.log(""); }

	</script>



</body>

</html>