<!doctype html>

<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes" />

        <title>서브 퍼블리싱</title>

        <!-- 폰트 CSS -->
        <link rel="stylesheet" href="/resources/fonts/notosans/font_notosans.css" />
        <link rel="stylesheet" href="/resources/fonts/pretendard/font_pretendard.css" />
        <link rel="stylesheet" href="/resources/fonts/remixicon.css" />
        <!-- 초기화 스타일 -->
        <link rel="stylesheet" href="../css/reset.css" />
        <!-- 서브 스타일 -->
        <link rel="stylesheet" href="../css/sub.css" />
        <!-- 공통 JS -->
        <script src="../js/jquery.min.js" defer></script>
        <script src="../js/swiper-bundle.min.js" defer></script>
        <script src="../js/func.js" defer></script>
        <script src="../js/common.js" defer></script>
        <!-- 서브 JS -->
        <script src="../js/sub.js" defer></script>
    </head>

    <body>
        <div id="skip-nav">
            <a href="#contents">본문 바로가기</a>
        </div>
        <!-- 헤더 영역 -->
        <header id="header" class="header">
            <div class="inner">
                <h2 class="logo">
                    <a href="/">
                        
                    </a>
                </h2>
            </div>
        </header>
        <!-- //헤더 영역 -->
        <!-- 메인 영역 -->
        <main class="main">
            <div class="visual">
                <div class="inner">
                    
                </div>
            </div>
            <!-- //visual -->
            <div class="inner">
                <div class="side-nav">
                    
                </div>
                <!-- //side-nav -->
                <div id="contents" class="contents">
                    <div class="contents-header">
                        <h1 class="h-tit">
                            
                        </h1>
                    </div>
                    <!-- //contents-header -->
                    <div class="contents-body">
                        <div class="accordion">
                            <details>
                                <summary class="aco-title">
                                    <strong class="title"><span class="category">Q</span>원자력 규제기관이란?</strong>
                                    <i class="arrow ri-arrow-down-s-line"></i>
                                </summary>
                                <div class="aco-cont">
                                    <span class="category">A</span>
                                    <div class="cont">
                                        <p>'규제(規制)'는 법에 따라 권리를 허락하거나 제한하는 일을 말합니다. 운전 면허, 특허, 인가, 허가, 승인 같은 것들도 모두 규제의 일부라고 할 수 있습니다.</p>
                                        <p>원자력 규제 역시 마찬가지입니다. 원자력 규제의 목표는 원자력을 이용할때 생길 수 있는 위험으로부터 사람과 자연을 보호 하려는 것이에요. 원자력 규제를 책임지고 시행하는 기관을 원자력 규제기관이라고 합니다.</p>
                                        <p>원자력의 연구, 개발, 생산, 이용에 따른 안전관리를 통해 방사선에 의한 재해방지와 공공의 안전을 도모하는 것입니다.</p>
                                    </div>
                                </div>
                            </details>
                            <details>
                                <summary class="aco-title">
                                    <strong class="title">우리나라의 원자력규제기관은?</strong>
                                    <i class="arrow ri-arrow-down-s-line"></i>
                                </summary>
                                <div class="aco-cont">
                                    <p>우리나라의 원자력 규제기관은 원자력안전위원회입니다. 원자력의 생산과 이용에 따른 방사선 위험으로부터 국민과 환경을 보호하기 위해 2011년 설립된 독립적 행정 기구 입니다.</p>
                                    <p>원자력안전위원회의 주된 업무는 원자력과 방사선의 안전관리 및 감독, 방사능방재, 핵비확산 이행 등으로, 정부 내 타 부처와 차별되는 규제 업무를 수행합니다.</p>
                                    <p>원자력안전위원회는 산하기관으로 한국원자력안전기술원과 한국원자력안전통제기술원, 그리고 한국원자력안전재단을 두고 있습니다.</p>
                                </div>
                            </details>
                            <details>
                                <summary class="aco-title">
                                    <strong class="title">원자력 규제의 대상은 무엇인가요?</strong>
                                    <i class="arrow ri-arrow-down-s-line"></i>
                                </summary>
                                <div class="aco-cont">
                                    <p>원자력발전소를 비롯한 원자력시설의 사업자(한국수력원자력(주), 한국원자력연구원), 핵연료주기사업자(한국원자력연료), 방사성폐기물 처리사업자(한국원자력환경공단) 등이 규제 대상입니다. 또한 방사성 동위원소 및 핵물질 이용 산업체와 이를 이용하는 병원, 대학, 연구기관 등 원자력과 방사선을 이용하는 저 시설에 대하여 규제를 시행합니다.</p>
                                </div>
                            </details>
                        </div>
                    </div>
                    <!-- //contents-body -->
                </div>
                <!-- //contents -->
            </div>
        </main>
        <!-- //메인 영역 -->
        <!-- 푸터 -->
        <footer id="footer" class="footer">
            <div class="inner">
                
            </div>
        </footer>
        <!-- //푸터 -->
    </body>
</html>