@charset "utf-8";
@use "sass:math";
@use "sass:color";
@use "sass:string";
@use "sass:list";
@use "sass:map";
@use "sass:selector";
@use "sass:meta";
@use 'mixin' as krds;
@use '../../../css/common/scss/mixin.scss' as mix;

/*-------------------------------------------------
title       : KRDS 스타일 (배포된 내용에 없는 것들)
Author      : PLAN I
Create date : 2025-03-04
-------------------------------------------------*/

#topbanner .list .item span {padding-left: 3rem;}
.krds-main-menu .desc {display: none;}
.krds-form-toggle-switch.medium [type=checkbox]~label .switch-toggle>i {top: 0.2rem;}

// 캘린더에서 빠진 스타일
.krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td.period { &.start, &.end { & > .btn-set-date {z-index: 1;} } }

// 전체메뉴
#krds-header + #container {overflow: hidden;}
.depth4-wrap .trigger-close {position: absolute; right: var(--krds-main-menu-mobile--depth4-head-padding); top: var(--krds-main-menu-mobile--depth4-head-padding);}
.header-branding .search {margin-left: var(--krds-gap-5);}

// 글자, 화면 표시 설정
.adjust_display 
{
    @include krds.flex-layout();
    gap: var(--krds-gap-7); padding-top: var(--krds-padding-3);
    .scale-options {min-width: 24rem;}

    .form-group h3 
    {
        font-size: var(--krds-pc-font-size-heading-xxsmall); font-weight: var(--krds-font-weight-bold); color: var(--krds-#{krds.$mode-setting}-color-text-bolder); margin-bottom: var(--krds-padding-3);
    }

    .view-mode-options 
    {
        .krds-form-check 
        {
            @include krds.flex-layout($ai: center);
            &.view-mode-light::before{background-image: url(../../../resources/images/common/layout/img_screen_light.png);}
            &.view-mode-dark::before {background-image: url(../../../resources/images/common/layout/img_screen_dark.png);}
            &.view-mode-default::before {background-image: url(../../../resources/images/common/layout/img_screen_default.png);}

            &::before 
            {
                @include krds.pseudo();
                @include krds.square(12rem, 6.4rem);
                margin-right: var(--krds-gap-5); border-radius: var(--krds-radius-medium4); background-repeat: no-repeat; background-position: center; background-size: contain;
            }
        }
    }
}

// 하단 - 관련 기관 링크
#popFootLink
{
    .modal-dialog 
    {
        .modal-header {padding: 16rem 0 var(--krds-padding-10); line-height: 1;}
        .modal-header, .modal-conts {max-width: 128rem;}
        .btn-close {top: var(--krds-gap-12); right: var(--krds-gap-12);}
    }

    .pop-foot-links 
    {
        --pop-foot-link-color-background-hover: var(--krds-#{krds.$mode-setting}-color-element-secondary-light);
        --pop-foot-link-color-background-active: var(--krds-#{krds.$mode-setting}-secondary-20);
        padding: 0.4rem; display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap: var(--krds-gap-3) var(--krds-gap-5);
        
        li a 
        {
            @include krds.flex-layout($ai: flex-start);
            gap: var(--krds-gap-2); padding: var(--krds-padding-5) var(--krds-padding-3); border-radius: var(--krds-radius-medium3); word-break: break-all;
            &::before {content: "･"; margin-top: 0.1rem;}
            &:hover {background-color: var(--pop-foot-link-color-background-hover);}
            &:active {background-color: var(--pop-foot-link-color-background-active);}
        }
    }
}

// 통합검색
#popTotalSchType1, #popTotalSch 
{
    .modal-dialog 
    {
        .modal-conts {max-width:79.2rem; padding: 16rem 0 var(--krds-gap-12);}
        .btn-close {top: var(--krds-gap-12); right: var(--krds-gap-12);}
    }

    .modal-conts {padding-inline: 0;}

    .pop-total-serch-wrap 
    {
        --pop-total-serch-width-border: var(--krds-#{krds.$mode-setting}-border-width-variable-regular);
        --pop-total-serch-color-border: var(--krds-#{krds.$mode-setting}-color-divider-secondary-light);
        --pop-total-serch-color-background: var(--krds-#{krds.$mode-setting}-color-surface-secondary-subtler);
        --pop-total-serch-state-up-text: var(--krds-#{krds.$mode-setting}-color-text-point);
        --pop-total-serch-state-up-icon: var(--krds-#{krds.$mode-setting}-color-icon-point);
        --pop-total-serch-state-down-text: var(--krds-#{krds.$mode-setting}-color-text-information);
        --pop-total-serch-state-down-icon: var(--krds-#{krds.$mode-setting}-color-icon-information);
        --pop-total-serch-state-same-text: var(--krds-#{krds.$mode-setting}-color-text-basic);

        .search-tit 
        {
            @include krds.flex-layout($ai: center);
            font-size: var(--krds-pc-font-size-heading-medium); font-weight: var(--krds-font-weight-bold); letter-spacing: var(--krds-typo-letter-spacing-1); line-height: 1; margin-bottom: var(--krds-gap-4);
            .krds-btn.text {margin-left: auto;}
        }

        .search-total-top {position: sticky; top: 0; background-color: var(--pop-total-serch-color-background); padding: 0 0.4rem var(--krds-padding-10); border-bottom: var(--pop-total-serch-width-border) solid var(--pop-total-serch-color-border);}
        .search-text {padding-top: var(--krds-padding-10);}
        .sch-info-list {display: flex; width: 100%;}

        .sch-info-item 
        {
            @include krds.flex-layout($d: inline-flex, $fd: column, $ai: flex-start);
            flex: 1; width: 50%; padding: 0 var(--krds-padding-8); min-height: 46rem;
            .tit {width: 100%; margin-bottom: var(--krds-gap-7); font-size: var(--krds-pc-font-size-heading-small);}

            .list 
            {
                @include krds.flex-layout($fd: column, $ai: normal);
                gap: var(--krds-gap-5);width: 100%;
                li {@include krds.flex-layout($ai: center, $jc: space-between);}
            }

            .ranking-txt {@include mix.ellipsis(1);}

            .ranking-state 
            {
                @include krds.flex-layout($d: inline-flex, $jc: center, $ai: center);
                flex-shrink: 0; gap: var(--krds-gap-1); font-size: var(--krds-pc-font-size-body-small); width: 4.3rem;
                &::before {display: inline-flex; content: ""; width: var(--krds-number-7); height: var(--krds-number-7);}

                &.up 
                {
                    color: var(--pop-total-serch-state-up-text);
                    &::before {width: 0; height: 0; border-bottom: 0.6rem solid var(--pop-total-serch-state-up-icon); border-left: 0.4rem solid transparent; border-right: 0.4rem solid transparent;}
                }

                &.down 
                {
                    color: var(--pop-total-serch-state-down-text);
                    &::before {width: 0; height: 0; border-top: 0.6rem solid var(--pop-total-serch-state-down-icon); border-left: 0.4rem solid transparent; border-right: 0.4rem solid transparent;}
                }

                &.same::before {width: 0.6rem; height: 0.2rem; background-color: var(--pop-total-serch-state-same-text);}
            }
        }
        
        .word-popular 
        {
            counter-reset: item;

            li 
            {
                gap: var(--krds-gap-3); counter-increment: item;
                &::before {display: inline-flex; content: counter(item); width: 2rem;}
                .ranking-state {margin-left: auto;}
            }
        }

        .word-lately 
        {
            border-left: var(--pop-total-serch-width-border) solid var(--pop-total-serch-color-border);
            li {gap: var(--krds-gap-3);}
            .word-txt {display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 1;}

            .krds-btn 
            {
                &.icon {flex-shrink: 0; margin-left: auto;}
                &.text {margin-top: auto;}
            }
        }

        .sch-keyword-list 
        {
            @include krds.flex-layout($fd: column, $ai: normal);
            gap: var(--krds-gap-5); padding-inline: var(--krds-padding-8);

            li 
            {
                @include krds.flex-layout($jc: space-between, $ai: center);
                gap: var(--krds-gap-3); word-break: break-all;

                .word-txt 
                {
                    @include krds.flex-layout($fd: column);
                    flex: 1; gap: var(--krds-gap-2);
                    .txt {width: 100%; display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 1;}
                }
            }
        }
    }
}

//
.total_search {width: 100%;}
.login-type-tab h2 
{ 
    font-size: inherit; font-weight: inherit;
    i, strong {display: none;} 
}

// 로그인
.login-type-tab {
    .tab-conts {
        gap: var(--krds-gap-9);
    }
    .login-info-wrap {
        @include krds.flex-layout($fd: column);
        gap: var(--krds-gap-7);
        padding: 0;
        .tit {
            font-weight: var(--krds-font-weight-bold);
        }
        .btn-wrap {
            @include krds.flex-layout($jc: flex-start, $fd: column);
            &.login-method {
                gap: var(--krds-gap-5);
                .krds-btn {
                    width: 100%;
                }
            }
        }
        .krds-disclosure ~ .krds-disclosure {
            margin-top: var(--krds-gap-3);
        }
    }
}

// 하단
#krds-footer .foot-quick .inner .group 
{
    flex: 1;
    .link {width: 100%;}
}

// 메인
// =========================================================================================================
.main-vban-wrap 
{
    &.bg 
    {
        background-color: #d8e4f2;
        .main-top-sch {padding: 10rem 0;}
    }
    
    &:not(.bg) {margin-top: var(--krds-gap-9);} 

    //검색 input
    .sch-input 
    {
        .krds-input {font-size: var(--krds-pc-font-size-heading-medium);}
        .ico-search {right: var(--krds-gap-7);}
    }

    //배너 슬라이드
    .vb-swiper 
    {
        position: relative; padding:0 10.2rem;

        .swiper-slide 
        {
            height: 48.8rem;
            .in {@include krds.flex-layout($jc: center); padding-top: 13rem; gap: var(--krds-gap-11); height: 100%; background-position: center right; background-repeat: no-repeat;}

            .text 
            {
                @include krds.flex-layout($fd: column);
                flex: 1; padding-top:1.75rem; gap: var(--krds-pc-gap-layout-title-body-large); font-weight: var(--krds-font-weight-bold);
                .tit {font-size: var(--krds-pc-font-size-display-small); letter-spacing: var(--krds-typo-letter-spacing-1);}
                .txt {font-size: var(--krds-pc-font-size-body-large); font-weight: var(--krds-font-weight-regular);}
                .krds-btn {margin-top: var(--krds-gap-5);}
            }

            .im 
            {
                flex-basis: 35%; flex-shrink: 0; margin-right: auto; text-align: right;
                img {width: 100%; max-width: 34rem;}
				svg {width: 100%; height: fit-content;}
            }
        }

        .swiper-indicator 
        {
            padding-bottom: var(--krds-padding-9);
            .swiper-button-prev, .swiper-button-next { display:none; @include krds.square(var(--krds-size-height-6)); }
            
        }
    }
}

.main-sect
{
    .policy-list .d-card .im 
    {
        &.i1 {background-image: url(../../krds/img/main_ico_card_S.svg);}
        &.i2 {background-image: url(../../krds/img/main_ico_energy_S.svg);}
        &.i3 {background-image: url(../../krds/img/main_ico_bulb_S.svg);}
    }

    @for $i from 1 through 8 
    { 
        .menu-list .menu-item .ico.i#{$i}
        {
            background-image: url("../../krds/img/main_menu_ico#{$i}.svg") !important;
            &::after {display: none;} 
        }
    }

    .contents-wrap 
    {
        .contents-text {background-image: url(../../krds/img/main_ico_book_M.svg);}
        .d-card .im 
        {
            &.i1 {background-image: url(../../krds/img/main_ico_bag_S.svg);} 
            &.i2 {background-image: url(../../krds/img/main_ico_bankbook.svg);}
            &.i3 {background-image: url(../../krds/img/main_ico_store_S.svg);}
        }
    }
}

%more
{
    position: relative;
    .more {position: absolute; right: var(--krds-pc-padding-card-medium); top: var(--krds-pc-padding-card-medium);}
}

.notice, .service .inner, .main-sect .inner {@extend %more;}
.main-sect .inner .more {top: 1.5rem;}
.conts-area.step-type h3.sec-tit {margin-bottom: 0;}
.txt-box.bg-white .form-group, .txt-box.bg-white .form-group-row {width: 100%; max-width: 75.2rem;}

/* 텍스트 박스 */
.txt-box {
    --txt-box-width-border: var(--krds-#{krds.$mode-setting}-border-width-static-regular);
    --txt-box-color-border: var(--krds-#{krds.$mode-setting}-color-border-gray);
    --txt-box-color-background: var(--krds-#{krds.$mode-setting}-color-surface-gray-subtler);

    padding: var(--krds-pc-padding-card-large);
    background-color: var(--txt-box-color-background);
    border: var(--txt-box-width-border) solid var(--txt-box-color-border);
    border-radius: var(--krds-radius-xlarge1);
    &:not(:first-of-type), &:not(:first-child) {
        margin-top: var(--krds-gap-7);
    }
    
	&.outline{
		border-color: var(--krds-#{krds.$mode-setting}-color-border-secondary-light);
		background-color: var(--krds-#{krds.$mode-setting}-color-surface-secondary-subtler);

        @include krds.flex-layout($fd: column);
        gap: var(--krds-gap-7);

        .outline-tit {
            @include krds.flex-layout($ai: center);
            gap: var(--krds-gap-2);
            font-size: var(--krds-pc-font-size-heading-medium);
            font-weight: var(--krds-font-weight-bold);
            &::before {
                @include krds.pseudo();
                @include krds.svg-icon($size: var(--krds-size-height-5), $effect:pure);
                background: url(../img/ico_outline.svg) no-repeat center;
                background-size: contain;
            }
        }
        .outline-txt {
            font-size: var(--krds-pc-font-size-body-large);
        }
        .conts-desc-wrap {
            @include krds.flex-layout($fd: column, $ai: normal);
            gap: var(--krds-gap-5);
            width: 100%;
            padding-top: var(--krds-padding-8);
            border-top: var(--txt-box-width-border) dotted var(--txt-box-color-border);
            .sec-tit {
                font-size: var(--krds-pc-font-size-heading-small);
                @include krds.size-medium {
                    font-size: var(--krds-mobile-font-size-heading-small);
                }
            }
            &.type-disclosure {
                gap: 0;
                padding:0;
                border: none;
                .krds-disclosure ~ .krds-disclosure {
                   margin-top: var(--krds-gap-5);
                }
            }
        }
        .check-list {
            @include krds.flex-layout($fd: column);
            gap: var(--krds-gap-5);
            > li {
                @include krds.icon-check-msg();
                > ul {
                    margin-top: var(--krds-gap-2);
                }
            }
        }
	}
    &.bg-gray {
        border: 0;
        //박스 하단 버튼
        .btm-btn-wrap {
            @include krds.flex-layout($jc: flex-end);
            gap: var(--krds-gap-5);
            .krds-btn {
                min-width: 12rem;
            }
        }
        &:not(:first-of-type) {
            margin-top: var(--krds-gap-9);
        }
    }
    &.bg-white {
        --bg-white-color-background: var(--krds-#{krds.$mode-setting}-color-surface-white-subtle);
        --bg-white-color-background-gray: var(--krds-#{krds.$mode-setting}-color-surface-gray-subtler);
        --bg-white-color-border: var(--krds-#{krds.$mode-setting}-color-divider-gray-light);
        --bg-white-color-text: var(--krds-#{krds.$mode-setting}-color-text-subtle);

        @include krds.flex-layout($fd: column, $ai: normal);
        gap: var(--krds-gap-7);
        width: 100%;
        background-color: var(--bg-white-color-background);
        //box title
        .box-tit-wrap {
            @include krds.flex-layout($ai: center, $jc: space-between);
        }
        .box-tit1 {
            font-size: var(--krds-pc-font-size-heading-medium);
            color: var(--krds-#{krds.$mode-setting}-color-text-bolder);
        }
        .box-tit2 {
            @include krds.flex-layout($ai: center);
            position: relative;
            gap: var(--krds-gap-3);
            font-size: var(--krds-pc-font-size-heading-small);
            font-weight: var(--krds-font-weight-bold);
        }

        //box area
        .box-cnt {
            @include krds.flex-layout($fd: column, $ai: normal);
            gap: var(--krds-gap-9);
        }
        .box-sec {
			@include krds.flex-layout($fd: column, $ai: normal);
            gap: var(--krds-gap-7);

            &.type-table {
                gap: var(--krds-gap-5);
            }

            //체크박스
            .krds-table-wrap {
                .krds-form-check.ico-only{
                    @include krds.flex-layout($ai: center, $jc: space-around,);
                    input[type=checkbox] ~ label {
                        &::before {
                            margin-top:0;
                        }
                        &::after {
                            margin-top:-.3rem;
                        }
                    }
                }
            }
        }

        //form
        .form-group,
        .form-group-row {
            max-width: 75.2rem;
            width: 100%;
        }
        .form-group {
            &.full {
                width: 100%;
            }
            .krds-check-area {
                &.chk-column {
                  width:100%;
                }
            }
        }
        .form-group-row {
            @include krds.flex-layout();
            gap: var(--krds-gap-5);
            .form-group {
                flex: 1;
            }
        }
        .krds-form-check-cnt {
            @include krds.flex-layout($fd: column, $ai: normal);
            gap: var(--krds-gap-5);
            margin-top:var(--krds-gap-5);
            &:not(ul) {
                margin-top: var(--krds-gap-2);
            }
            .form-label {
                margin-bottom: var(--krds-padding-5);
            }
        }
        .form-addr-result {
            padding: var(--krds-pc-padding-card-medium);
            border-radius: var(--krds-radius-xlarge2);
            background-color: var(--bg-white-color-background-gray);
            .info-ul {
                @include krds.flex-layout($fd: column, $ai: normal);
                gap: var(--krds-gap-7);
                li {
					display: flex;
                    gap: var(--krds-gap-7);
                    .key {
                        width: 19.6rem;
                        flex-shrink: 0;
						font-weight: var(--krds-font-weight-bold);
                    }
                }
                + .info-ul {
                    padding-top: var(--krds-padding-8);
                    margin-top: var(--krds-padding-8);
                    border-top: var(--txt-box-width-border) solid var(--bg-white-color-border);
                }
            }
        }
        //데이터 없는 경우
        .tbl-no-data {
            @include krds.flex-layout($fd: column, $jc: center, $ai: center);
            padding: var(--krds-pc-padding-card-medium);
            font-size: var(--krds-pc-font-size-body-large);
            color: var(--bg-white-color-text);
            text-align: center;
            border-radius: var(--krds-radius-xlarge2);
            background-color: var(--bg-white-color-background-gray);
        }

        /* 바구니 - 자료당일신청(상세)  */
        .krds-structured-list {
            gap: 0;
            margin-top: var(--krds-gap-5);
            .structured-item {
                padding-inline: 0;
                border:none;
                border-radius: 0;
                border-top: var(--txt-box-width-border) solid var(--bg-white-color-border);
            }
        }
    }
    //도서 상세 정보
    .book-info-ul {
        @include krds.flex-layout($fd: column);
        gap: var(--krds-gap-5);
        > li {
            @include krds.flex-layout();
            gap: var(--krds-gap-9);
            .key {
                flex-shrink: 0;
                width: 16rem;
            }
        }
        .txt-list {
            gap: var(--krds-gap-5);
            li {
                &::after{
                    background-color: var(--krds-#{krds.$mode-setting}-color-divider-gray-light);
                    margin-left: var(--krds-gap-5);
                    height: var(--krds-size-height-2);
                }
            }
        }
    }
}

//
.krds-tab-area #search_result .group
{
    --total-search-color-border: var(--krds-light-color-divider-gray);
    --total-search-width-border: var(--krds-light-border-width-variable-regular);
    --total-search-keyword-color: var(--krds-light-color-text-primary);
    --total-search-keyword-background: var(--krds-light-color-element-primary-lighter);
    --total-search-info-color: var(--krds-light-color-text-subtle);
    --total-search-info-body-text-visited:var(--krds-light-color-link-visited);
    --total-search-info-btm-color:var(--krds-light-color-text-basic);

    h3.search-list-top.border {margin: 0 0 var(--krds-padding-10);}

    .thumb  
    {
        border-top: var(--total-search-width-border) solid var(--total-search-color-border); border-bottom: var(--total-search-width-border) solid var(--total-search-color-border) !important;
        & > li {border-bottom: var(--total-search-width-border) solid var(--total-search-color-border);}
    }

    .total-search-item .info-body:first-child:last-child
    {
        position: relative;

        i:last-child 
        {
            @include mix.position(top); @include mix.nemo(7rem); right: 0; border-radius: 0.8rem; background-color: #F8F8F8; text-align: center;
            img {vertical-align: middle;}
        }
    }
}

// 통합검색
.total-search-top-box + .krds-tab-area 
{ 
    .tab {margin-bottom: 0;} 

    .search-list-top 
    {
        margin-top: 0;

        .sch-sort li:not(:last-child)
        {
            padding-right: 2.5rem;
            &::after {right: 1.2rem; bottom: 0.6rem;}
        }
    }
}

.total-search-list {
    --total-search-color-border: var(--krds-#{krds.$mode-setting}-color-divider-gray);
    --total-search-width-border: var(--krds-#{krds.$mode-setting}-border-width-variable-regular);
    --total-search-keyword-color: var(--krds-#{krds.$mode-setting}-color-text-primary);
    --total-search-keyword-background: var(--krds-#{krds.$mode-setting}-color-element-primary-lighter);
    --total-search-info-color: var(--krds-#{krds.$mode-setting}-color-text-subtle);
    --total-search-info-body-text-visited:var(--krds-#{krds.$mode-setting}-color-link-visited);
    --total-search-info-btm-color:var(--krds-#{krds.$mode-setting}-color-text-basic);

    .total-search-item {
        display: flex;
        flex-direction: column;
        gap: var(--krds-gap-7);
        padding: var(--krds-padding-10) 0;
        border-bottom: var(--total-search-width-border) solid var(--total-search-color-border);
        .keyword {
            font-weight: var(--krds-font-weight-bold);
            color: var(--total-search-keyword-color);
            background-color: var(--total-search-keyword-background);
        }
        &:first-child {
            padding-top: 0;
        }
    }
    .info-top {
        display: flex;
        gap: var(--krds-gap-5);
        .i-date {
            color: var(--total-search-info-color);
        }
    }
    .info-body {
        @include krds.flex-layout($fd: column);
        a {
            &:hover {
                @include krds.underline();
            }
            &:visited {
                color: var(--total-search-info-body-text-visited);
            }
        }
        .tit {
            font-size: var(--krds-pc-font-size-heading-small);
            font-weight: var(--krds-font-weight-bold);
            margin-bottom: var(--krds-gap-4);
            &:first-child:last-child {margin-bottom: 0;}
        }
        .txt {
            color: var(--total-search-info-color);
            @include mix.ellipsis(2);
        }
        .in {
            display: flex;
            gap: var(--krds-gap-7);
        }
        .thum {
            display: inline-flex;
            flex-shrink: 0;
            width: 18rem;
            height: 11rem;
            border-radius: var(--krds-radius-medium3);
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .info-btm {
        @include krds.flex-layout($ai: center, $jc: space-between);
        gap: var(--krds-gap-5);
        .i-cate {
            @include krds.flex-layout($d: inline-flex, $ai: center);
            color: var(--total-search-info-btm-color);
            li {
                @include krds.flex-layout($d: inline-flex, $ai: center);
                &:not(:first-child) {
                    &::before {
                        display: inline-flex;
                        @include krds.pseudo();
                        @include krds.square(var(--krds-size-height-2));
                        background: url(../img/icon/ico_arr_16_right_gray70.svg) no-repeat center;
                        background-size: contain;
                        margin-inline: var(--krds-gap-2);
                    }
                }
            }
        }
        .btn-area {
            @include krds.flex-layout($d: inline-flex, $ai: center);
            gap: var(--krds-gap-5);
        }
    }
}

// 서브
// ===================================================================================
#container 
{
    flex: 1;

    > .inner {
        min-height: 60rem;
        &:first-child {margin-top: 5rem;}

        &:not(.in-between) 
        {
            padding-bottom: var(--krds-pc-gap-layout-contents-footer);
        }
    }

	.help-panel-flexible {--krds-contents-wrap-size: calc(79.2rem + var(--krds-contents-padding-x)); --krds-help-panel--flexible-padding: calc(var(--krds-help-panel--width) - ((100% - var(--krds-contents-wrap-size)) / 2) + 4.5rem);}

    > .krds-breadcrumb-wrap 
    {
		padding-bottom: 0;
        .breadcrumb {max-width: var(--krds-contents-wrap-size); padding-left: var(--krds-contents-padding-x); padding-right: var(--krds-contents-padding-x);}
    }

    .in-between 
    {
        @include krds.flex-layout($ai: normal);
        gap: var(--krds-gap-12);
        .krds-side-navigation {
            width: 29.6rem; min-width: 29.6rem; padding: var(--krds-padding-10) var(--krds-padding-10) var(--krds-padding-10) 0; border-right: var(--krds-#{krds.$mode-setting}-border-width-static-regular) solid var(--krds-#{krds.$mode-setting}-color-divider-gray-light);

            & + .contents {max-width: calc(var(--krds-contents-wrap-size) - (var(--krds-contents-padding-x) * 2) - var(--krds-gap-12) - 29.6rem);}
        }

        .contents 
        {
             flex: 1; padding-bottom: var(--krds-gap-12);

            .breadcrumb-wrap 
            {
				padding-top: var(--krds-pc-gap-layout-header-breadcrumb); padding-bottom: var(--krds-pc-gap-layout-breadcrumb-h2);
                .breadcrumb {padding: 0;}
            }
        }
    }
}

.page-title-wrap 
{
    @include krds.flex-layout($d: flex, $fd: column, $ai: normal);
    margin-bottom: var(--krds-pc-gap-layout-h2-h3); gap: var(--krds-pc-gap-layout-title-body-large);

    .h-tit 
    {
        font-size: var(--krds-pc-font-size-heading-xlarge); letter-spacing: var(--krds-typo-letter-spacing-1); font-weight: var(--krds-font-weight-bold);
        .small-txt {display: flex; margin-bottom: var(--krds-pc-gap-layout-title-body-small); font-size: var(--krds-pc-font-size-heading-xxsmall); color: var(--krds-#{krds.$mode-setting}-color-text-subtle);}
        .sub-txt {display: flex; font-size: var(--krds-pc-font-size-body-small); font-weight: var(--krds-font-weight-regular); color: var(--krds-#{krds.$mode-setting}-color-text-subtle);}
        .krds-badge-wrap {font-weight: var(--krds-font-weight-regular); margin-top: var(--krds-pc-gap-layout-title-body-large);}
    }

    .h-txt 
    {
        font-size: var(--krds-pc-font-size-body-large);
    }

    &.between 
    {
        @include krds.flex-layout($fd: row);
        .krds-step-wrap {margin-left: auto; margin-bottom: 0;}
    }
}

.tab 
{
    margin-bottom: var(--krds-gap-8);
    .active .btn-tab::before {width: 100%;}
}

.helper-box {
    --helper-color-background: var(--krds-#{krds.$mode-setting}-color-surface-secondary-subtler);
    --helper-color-border: var(--krds-#{krds.$mode-setting}-color-border-secondary-light);
    --helper-color-text: var(--krds-#{krds.$mode-setting}-color-text-secondary);
    --helper-width-border: var(--krds-#{krds.$mode-setting}-border-width-variable-regular);
	--helper-icon-size: var(--krds-size-height-3);
	--helper-gap-tit-icon: var(--krds-gap-3);
	--helper-desc-wrap-margin-top: var(--krds-gap-4);
	--helper-desc-wrap-margin-left: calc(var(--krds-size-height-3) + var(--krds-gap-3));

    width: 100%;
    padding: var(--krds-pc-padding-card-xsmall);
    border-radius: var(--krds-radius-xlarge2);
    background-color: var(--helper-color-background);
    border: var(--helper-width-border) solid var(--helper-color-border);
    .helper-tit {
        display: flex;
		align-items: center;
        position: relative;
        color: var(--helper-color-text);
        font-weight: var(--krds-font-weight-bold);
        &::before {
            margin-right: var(--helper-gap-tit-icon);
            @include krds.pseudo();
            @include krds.svg-icon($size: var(--helper-icon-size), $effect:pure);
            background-image: url(../img/icon/ico_helper_info.svg);
            background-size: contain;
        }
    }
    .helper-desc-wrap {
        margin-top: var(--helper-desc-wrap-margin-top);
        margin-left: var(--helper-desc-wrap-margin-left);
    }
    &.refer {
        --helper-refer-color-border: var(--krds-#{krds.$mode-setting}-color-border-gray-light);
        --helper-refer-color-background: var(--krds-#{krds.$mode-setting}-color-surface-gray-subtler);
        --helper-refer-color-text: var(--krds-#{krds.$mode-setting}-color-text-basic);
        --helper-refer-color-desc: var(--krds-#{krds.$mode-setting}-color-text-subtle);

        padding: var(--krds-padding-6);
		border-color: var(--helper-refer-color-border);
        background-color: var(--helper-refer-color-background);
        .helper-tit {
            font-size:var(--krds-pc-font-size-heading-xsmall);
            color: var(--helper-refer-color-text);
            &::before {
                @include krds.svg-icon($size: var(--krds-size-height-3), $effect: pure);
                background-image: url(../../img/component/icon/ico_notice_fill.svg);
            }
        }
        .helper-desc-wrap {
            margin-top: var(--krds-gap-2);
            font-size : var(--krds-pc-font-size-body-small);
            color: var(--helper-refer-color-desc);
        }
        //소득인정액 산정식 리스트
        .calc-wrap {
            --calc-color-border: var(--krds-#{krds.$mode-setting}-color-divider-gray-light);

            .total-txt {
                + .calc-list {
                    margin-top: var(--krds-padding-5);
                    padding-top: var(--krds-padding-5);
                    gap: var(--krds-gap-3);
                    border-top: var(--helper-width-border) dotted var(--calc-color-border);
                    > li {
                        padding-left: calc(var(--krds-size-height-4) + var(--krds-gap-2));
                        font-size: var(--krds-pc-font-size-body-small);
                    }
                }
            }
        }
    }
}

.conts-wrap {
    width: 100%;
    color: var(--krds-#{krds.$mode-setting}-color-text-bolder);

    &.scroll-check {
        .section-link {
            + .section-link {
                padding-top: var(--krds-pc-gap-layout-h2-h2);
            }
        }
    }
	> .agree-box{
		margin-top: var(--krds-pc-gap-layout-h4-h4);
	}
    .conts-wrap {
		h3.sec-tit{
			margin-bottom: var(--krds-pc-gap-layout-title-body-large);
			font-size: var(--krds-pc-font-size-heading-large);

			~ .conts-wrap{
				margin-top: var(--krds-pc-gap-layout-h2-h3);
			}
		}
		.conts-desc:not(:last-child){
			margin-bottom: var(--krds-pc-gap-layout-title-body-large);
		}
        .conts-wrap {
            h4.sec-tit {
				margin-bottom: var(--krds-pc-gap-layout-title-body-large);
                font-size: var(--krds-pc-font-size-heading-medium);

				~ .conts-wrap{
					margin-top: var(--krds-pc-gap-layout-h4-h4);
				}

                + .conts-wrap{
					margin-top: 0;
				}
            }
            .conts-wrap {
                h5.sec-tit {
					margin-bottom: var(--krds-pc-gap-layout-title-body-medium);
                    font-size: var(--krds-pc-font-size-heading-small);
                }
            }
        }
    }
}

.page-step {
    .conts-wrap {
        .sec-tit {
            font-size: var(--krds-pc-font-size-heading-large);
            .step-now {
                display: block;
                margin-bottom: var(--krds-gap-3);
                font-size: var(--krds-pc-font-size-body-medium);
				font-weight: var(--krds-font-weight-regular);
                color: var(--krds-#{krds.$mode-setting}-color-text-subtle);
                strong {
					color: var(--krds-#{krds.$mode-setting}-color-text-primary);
					font-weight: var(--krds-font-weight-bold);
                }
            }
        }

        .login-form-area .login-wrap {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column; gap: var(--krds-gap-5);}

            .svg-icon {vertical-align: middle;}
    }
}

.box-tit1 {
    font-size: var(--krds-pc-font-size-heading-medium);
    color: var(--krds-#{krds.$mode-setting}-color-text-bolder);
}
.box-tit2 {
    @include krds.flex-layout($ai: center);
    position: relative;
    gap: var(--krds-gap-3);
    font-size: var(--krds-pc-font-size-heading-small);
    font-weight: var(--krds-font-weight-bold);
}

// 타이틀 사이즈
.con-tit {
    margin-bottom: var(--krds-pc-gap-layout-title-body-medium);
    font-size: var(--krds-pc-font-size-heading-medium);
    font-weight: var(--krds-typo-font-weight-bold);
    
    &.sm {
        margin-bottom: var(--krds-pc-gap-layout-title-body-small);
        font-size: var(--krds-pc-font-size-heading-small);
        &.sp-lg {
            margin-bottom:var(--krds-pc-gap-layout-title-body-large);
        }
    }
    &.xs {
        margin-bottom: var(--krds-pc-gap-layout-title-body-small);
        font-size: var(--krds-pc-font-size-heading-xsmall);
    }
    &.flex-center {
        @include krds.flex-layout($ai: center);
        gap: var(--krds-gap-3);
    }
    & + .g-img-wrap {
        margin-top:0;
    }
    @include krds.size-medium {
        margin-bottom: var(--krds-mobile-gap-layout-title-body-medium);
        font-size: var(--krds-mobile-font-size-heading-medium);
        &.sm {
            margin-bottom: var(--krds-mobile-gap-layout-title-body-small);
            font-size: var(--krds-mobile-font-size-heading-small);
        }
    }
}     

// 게시판
// ===================================================================================
.g-search-area {
    .form-tit {
        h3 {
            font-size: var(--krds-pc-font-size-label-small);
            font-weight: var(--krds-font-weight-regular);
        }
    }
    .sch-form-wrap {
        margin-bottom: 0;

        .krds-input {
            width: 36rem;
        }
    }
    .sch-select {
        width: 20.4rem;
        .krds-form-select {
            width:100%;
        }
    }

    .krds-structured-list {
        &:not(.type2) {
            row-gap: var(--krds-gap-9);
            > li{
                background-color: transparent;
            }
        }
        > li {
            padding:0;
            border-width: 0;
        }
        .card-top {
            display: block;
            margin-bottom:0;
            .img-wrap {
                overflow: hidden;
                height: 20rem;
                background-color: #61758f;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                border-radius: inherit;
                text-align: center;
                border-radius: var(--krds-radius-xlarge1);
            }
            
            $imgs: (component: 46, global: 11, service: 5);
            @each $name, $length in $imgs{
                @for $i from 1 through $length {
                    .img-wrap {
                        $img: if($i < 10, #{$name}_0#{$i}, #{$name}_#{$i});
                        &.#{$img} {
                            background-image: url(../../img/guide/contents/main/img_guide_#{$img}.png);
                        }
                    }
                }
            }
        }
        .card-body {
            padding-top: var(--krds-padding-7);
            // .c-tit::after {
            //     display: none;
            // }
            .c-text {
                @include mix.ellipsis(2);
                display: flex;
                gap: var(--krds-number-3);
                padding: 0;
                font-size: var(--krds-pc-font-size-body-small);

                .c-tit{
                    gap: 0;                       
                    &::after {
                        display: none;
                    }   
                    &.keyword {
                        word-break: keep-all;  
                    }                    
                    .c-sub-txt{
                        display: flex;
                        align-items: center;
                        font-size: var(--krds-pc-font-size-label-small);
                        font-weight: 400;

                        &::before{
                            content: '';
                            display: inline-block;
                            margin: 0 var(--krds-gap-3);
                            width: 0.1rem;
                            height: var(--krds-size-height-2);
                            background-color: var(--krds-#{krds.$mode-setting}-color-divider-gray-light);
                        }
                    }
                }
            }
        }
        .card-btm {
            padding: var(--krds-padding-6) 0 0;
            margin: 0;
            border: none;
        }

        &.type2 {
            > li {
                padding: 0;
                border-width: var(--krds-#{krds.$mode-setting}-border-width-variable-regular);
                a {
                    display: flex;
                    gap: var(--krds-gap-7);
                    padding: var(--krds-padding-9);
                }
            }
            .card-body {
                padding: 0;
                width: 100%;
                .img-wrap {
                    position: relative;
                    overflow: hidden;
                    flex-shrink: 0;
                    width: 17.2rem;
                    height: auto;
                    border-radius: 0;

                    &::before {
                        content: "";
                        display: block;
                        padding-top: 71%;
                        width: 100%;
                    }
                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        height: 100%;
                    }
                }
                .c-text {
                    display: flex;
                    align-items: flex-start;
                    gap: 0;
                    height: 100%;
                    .krds-badge {
                        margin-bottom: var(--krds-gap-4);
                    }
                    .c-tit {
                        display: -webkit-box; overflow: hidden; max-height: 2.85rem; -webkit-line-clamp: 1; margin-bottom: var(--krds-gap-3); text-overflow: ellipsis; -webkit-box-orient: vertical;
                    }
                    .btn-wrap {
                        margin-top: auto;
                    }
                }
            }
        }
    }

    .no-data {
        background-color: var(--krds-#{krds.$mode-setting}-color-surface-gray-subtler);
        padding: var(--krds-padding-10);
        border-radius: var(--krds-radius-xlarge1);
        .no-data-tit {
            font-weight: var(--krds-font-weight-bold);
            font-size: var(--krds-pc-font-size-heading-small);
        }
        .no-data-desc {
            margin-top: 2.4rem;
        }
        .keyword {
            word-break: break-all;
            color: var(--krds-#{krds.$mode-setting}-color-text-primary);
        }
    }

    & ~ .g-banner-area {
        margin-top: var(--krds-pc-gap-layout-h3-h3);
    }
    .search-list-top {        
        .sch-info li,
        .sch-sort li{
            &:not(:last-child) {
                padding-right:2.7rem;
                &::after {
                    background-color: var(--krds-#{krds.$mode-setting}-color-divider-gray-dark);
                    position: absolute;
                    bottom: .3rem;
                    right: 1rem; 
                }
            }
        }
    }
}

.g-description-area {
    @include krds.flex-layout($fd: column);
    gap: var(--krds-pc-gap-layout-h2-h2);
    width: 100%; 
    > * {
        width: 100%;
    }
    & ~ .g-description-area {
        margin-top: var(--krds-pc-gap-layout-h3-h3);
    }
    &.line {
        padding-bottom: var(--krds-gap-9);
        border-bottom: var(--krds-#{krds.$mode-setting}-border-width-variable-regular) solid var(--krds-#{krds.$mode-setting}-color-divider-gray-light);
    }
}

.krds-structured-list .card-body .c-text 
{
    ul {margin-top: 1rem;}

    li
    {
        display: inline;
        & + li::before {display: inline-block; width: 1px; height: 1rem; margin: 0 1rem 0 0.5rem; background-color: var(--bdc); content: ''; vertical-align: middle;}
    }
}

.conts-area {
    & > *:not(.krds-in-page-navigation-area) {
        width: 100%;
    }
}

//첨부파일
.g-attach-file-wrap {
    width: 100%;
    padding: var(--krds-padding-10);
    border-radius: var(--krds-radius-xlarge2);
    background-color: var(--krds-#{krds.$mode-setting}-color-surface-gray-subtle);

    .file-list {
        li {
            display: flex;
            align-items: center;
            gap: var(--krds-gap-5);
            margin-bottom: var(--krds-gap-5);
            padding: var(--krds-padding-6);
            border-radius: var(--krds-radius-medium3);
            border: var(--krds-#{krds.$mode-setting}-border-width-variable-regular) solid var(--krds-#{krds.$mode-setting}-color-divider-gray-light);
            background-color: var(--krds-#{krds.$mode-setting}-color-background-white); //디자인 파일 white-neutral

            &:last-child {
                margin-bottom: 0;
            }
        }
        .name {
            width: 100%;
            word-break: break-all;
            color: var(--krds-#{krds.$mode-setting}-color-text-bolder);
        }
        .btn-download {
            flex-shrink: 0;
        }
    }

    @include krds.size-medium {
        padding: var(--krds-padding-8);

        .file-list {
            li {
                flex-direction: column;
                align-items: flex-start;
            }
            .btn-download {
                align-self: flex-end;
            }
        }
    }
}

//태그명 박스
.g-chip-wrap {
    padding: var(--krds-padding-8) var(--krds-padding-10);
    border: var(--krds-#{krds.$mode-setting}-border-width-variable-regular) solid var(--krds-#{krds.$mode-setting}-color-border-gray-light);
    border-radius: var(--krds-radius-xlarge2);

    @include krds.size-medium {
        padding: var(--krds-padding-8);
    }
}

//커뮤니티
.community {
    //page-title
    &-page-title {
        margin-bottom: var(--krds-pc-gap-layout-h2-h3);

        &.line {
            padding-bottom: var(--krds-padding-10);
            border-bottom: var(--krds-#{krds.$mode-setting}-border-width-variable-regular) solid var(--krds-#{krds.$mode-setting}-color-divider-gray-dark);
        }
        .krds-badge {
            margin-bottom: var(--krds-gap-4);
        }
        .tit {
            color: var(--krds-#{krds.$mode-setting}-color-text-bolder);
            font-size: var(--krds-pc-font-size-heading-large);
            font-weight: var(--krds-font-weight-bold);
            letter-spacing: var(--krds-typo-letter-spacing-1);
        }
        .category {
            color: var(--krds-#{krds.$mode-setting}-color-text-secondary);
            font-size: var(--krds-pc-font-size-heading-xxsmall);
            font-weight: var(--krds-font-weight-bold);
        }
        .info {
            display: flex;
            align-items: center;
            margin-top: var(--krds-gap-3);                
            .date {
                display: flex;
                align-items: center;
                color: var(--krds-#{krds.$mode-setting}-color-text-subtle);
            }
            > span + span {
                &::before {
                    content: "";
                    display: inline-block;
                    margin: 0 var(--krds-padding-5);
                    width: var(--krds-#{krds.$mode-setting}-border-width-static-regular);
                    height: var(--krds-size-height-2);
                    background-color: var(--krds-#{krds.$mode-setting}-color-divider-gray);
                }
            }
        }

        //문의 및 건의
        &.inquire {
            .category {
                font-size: var(--krds-pc-font-size-body-medium);
            }
            .item {
                display: flex;
                gap: var(--krds-gap-4);
                margin-bottom: var(--krds-gap-3);
                .krds-badge {
                    margin-bottom:0;
                }
            }
            .info {
                color: var(--krds-#{krds.$mode-setting}-color-text-subtle);
                > span + span {
                    &::before {
                        margin-inline:var(--krds-gap-4);
                        height: 1.4rem;
                        background-color: var(--krds-#{krds.$mode-setting}-color-divider-gray-light);
                    }
                }
            }
        }
    }
    //새소식 목록
    &-notice-list {
        li {
            a {
                display: flex;
                align-items: center;
                padding: var(--krds-padding-8);
                gap: var(--krds-gap-7);
                border-radius: var(--krds-radius-large2);
                background-color: var(--krds-#{krds.$mode-setting}-color-surface-gray-subtler);

                > :not(.title) {
                    flex-shrink: 0;
                }

                &:hover {
                    background-color: var(--krds-#{krds.$mode-setting}-color-surface-secondary-subtler);
                }
                &:focus {
                    background-color: var(--krds-#{krds.$mode-setting}-color-action-secondary-on-pressed);
                }
            }

            + li {
                margin-top: var(--krds-gap-3);
            }
        }

        .category {
            width: 8rem;
            color: var(--krds-#{krds.$mode-setting}-color-text-secondary);
            font-size: var(--krds-pc-font-size-body-medium);
            font-weight: var(--krds-font-weight-bold);
            &:empty {
                display:none;
            }
        }
       
        .title {
            display: flex;
            align-items: center;
            gap: var(--krds-gap-2);
            width: 100%;
            color: var(--krds-#{krds.$mode-setting}-color-text-bolder);
            font-size: var(--krds-pc-font-size-heading-xsmall);
            font-weight: var(--krds-font-weight-bold);
            strong {
                @include mix.ellipsis(1);
            }
            .ico-file {
                flex-shrink: 0;
            }
        }
        .date {
            color: var(--krds-#{krds.$mode-setting}-color-text-subtle);
        }

        //문의 및 건의 목록
        &.inquire {
            .category {
                width: 9rem;
            }
            .item {
                display:flex;
                gap: var(--krds-gap-7);
            }
            .svg-icon { 
                @include krds.svg-icon($size: var(--krds-size-height-4), $effect: pure);
                background-size: contain;
                background-repeat: no-repeat;
                vertical-align: middle;  
                margin-left: var(--krds-gap-2);
                flex:none;
                &.ico-certified {   
                    background-image: url(../img/icon/ico_certified.svg);   
                }
            }
        }
    }

    //문의하기
    &-contact-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--krds-gap-7);

        dl {
            padding: var(--krds-padding-8);
            border: var(--krds-#{krds.$mode-setting}-border-width-variable-regular) solid var(--krds-#{krds.$mode-setting}-color-border-gray-light);
            border-radius: var(--krds-radius-xlarge2);
        }
        dt {
            margin-bottom: var(--krds-gap-7);
            font-size: var(--krds-pc-font-size-heading-xsmall);
            font-weight: var(--krds-font-weight-bold);
        }
        dd {
            .txt {
                display: grid;
                grid-template-columns: var(--krds-icon--size-large) auto;
                align-items: center;
                justify-content: flex-start;
                gap: var(--krds-gap-3);

                > a:not(:first-of-type) {
                    grid-column: 2/-1;
                } 

                + .txt {
                    margin-top: var(--krds-gap-3);
                }
            }
        }
    }
}

.form-col-group
{
    flex-wrap: wrap;
    .form-group {max-width: 33.333%;}
}

// FAQ
.krds-structured-list {
    &.type3 {
        display: block;
    }
    .card-body {
        .keyword:not(.c-tit, .c-txt, .c-sub-txt) {
            font-weight: var(--krds-typo-font-weight-bold);
            color: var(--krds-#{krds.$mode-setting}-color-text-primary);
            background-color: var(--krds-#{krds.$mode-setting}-color-surface-primary-subtler);
        }
    }
}  

//자주 묻는 질문
.g-question {
    --g-question-width: 10.4rem;
    --g-question-gap-category-tit: var(--krds-padding-6);
    --g-question-accordion-btn-padding: var(--krds-padding-8);
    --g-question-accordion-body-padding-left: calc(var(--g-question-accordion-btn-padding) + var(--g-question-width) + var(--g-question-gap-category-tit));
    --g-question-accordion-body-padding-bottom : var(--krds-padding-8);
    --g-question-mobile-accordion-body-padding-left : var(--krds-padding-6);

    position: relative;
    .krds-accordion {
        .accordion-item {
            &.active {
                .btn-accordion {
                    .category {
                        color: var(--krds-#{krds.$mode-setting}-color-text-basic);
                    }
                }
            }
        }
        .btn-accordion {
            display: flex;
            padding-right: var(--g-question-accordion-btn-padding);

            &::after{
                display: none;
            }

            .category {
                flex-shrink: 0;
                margin-right: var(--g-question-gap-category-tit);
                width: var(--g-question-width);
                font-size: var(--krds-pc-font-size-body-medium);
            }
            .title {
                display: flex;
                width: 100%;
                gap: var(--krds-gap-5);

                &::after{
                    flex-shrink: 0;
                    margin-left: auto;
                    @include krds.pseudo();
                    @include krds.svg-icon(var(--krds-accordion--button-icon-size), $mode: #{krds.$mode-setting});
                    @include krds.icon-set(ico_angle);
                    transition: var(--krds-transition-base);
                    transform: rotate(0deg);
                }
            }

            &.active{
                .title{
                    &::after {
                        transform: rotate(180deg);
                    }
                }
            }
        }
        .accordion-body {
            padding-top: var(--krds-padding-3);
            padding-left: var(--g-question-accordion-body-padding-left);
            padding-bottom: var(--g-question-accordion-body-padding-bottom);
            .krds-info-list {
                margin-top: var(--krds-gap-5);
            }               
            .krds-tag-wrap {
                display: flex;
                flex-wrap: wrap;
                gap: var(--krds-gap-3);
                margin-top: var(--krds-padding-8);
                padding-top: var(--krds-padding-8);
                width: 100%;
                border-top: var(--krds-#{krds.$mode-setting}-border-width-variable-regular) solid var(--krds-#{krds.$mode-setting}-color-divider-gray-light);
            }
        }
    }

    .krds-accordion + .krds-btn {
        --g-question-section-title-size: var(--krds-pc-font-size-heading-large);

        position: absolute; top: 0; right: 0;
        height: calc(var(--g-question-section-title-size) * var(--krds-line-height-base));
    }

    //첨부파일  
    .attached-file {
        background-color: var(--krds-#{krds.$mode-setting}-color-surface-white-subtler);
        border: var(--krds-#{krds.$mode-setting}-border-width-variable-regular) solid var(--krds-#{krds.$mode-setting}-color-border-gray-light);
        border-radius: var(--krds-radius-xlarge2);
        display: flex;
        gap: var(--krds-gap-9);
        padding: var(--krds-pc-padding-card-small);
        margin-top: var(--krds-gap-7);
        &-list {
            @include krds.flex-layout($fd:column);
            gap: var(--krds-gap-5);
        }
    }
}

.g-wrap
{
    .krds-btn.icon:not(.pure), .community-notice-list.inquire, .krds-btn.text:not(.icon), [data-krds-mode=high-contrast] .krds-btn.text:not(.icon) { .svg-icon {background-color: var(--krds-light-color-text-basic) !important;} }
    .krds-btn.text:not(.icon) .svg-icon, [data-krds-mode=high-contrast] .krds-btn.text:not(.icon) .svg-icon {background-color: var(--krds-button--color-text-text) !important;}
}

.g-attach-file-wrap .file-list .btn-download .svg-icon {margin: 0;}
.community-page-title + .conts-area .contents.g-description-area.line {gap: 0;}

// 버튼
.krds-btn
{
    &.link
    {
        text-decoration: none !important;
        .hidden-underline {text-decoration-color: transparent; transition: var(--krds-transition-base);}

        &:hover, &:focus, &:active, &:visited 
        {
            &.pure {color: var(--krds-button--color-link-text);}
            span {text-decoration-color: transparent;}
            .underline {text-underline-offset: var(--krds-font-underline-offset); text-decoration: underline;}
        }        
    }

    &.text.small .svg-icon {margin-bottom: -0.2rem;}
}