@use "../mixin" as m;

/* ==========================================================================================
//icons
============================================================================================*/

$iconSvgs: like,
	share,
	angle,
	arr,
	arr-right,
	arr-right1,
	arr-down,
	more,
	sch,
	sch1,
	go,
	down,
	filter,
	reset,
	log,
	func,
	logout,
	email,
	print,
	scrap,
	del,
	plus,
	setting,
	link,
	comment,
	prev,
	close,
	time;

[class*=ico-] {
	@include m.flex(null, center, center, $fd: inline);

	&::before,
	&::after {
		content: '';
		display: none;
		width: 1.6rem;
		height: 1.6rem;
		background-color: var(--gray-80);
		/* background-repeat: no-repeat; background-size: contain; background-position: center; */
		mask-repeat: no-repeat;
		mask-size: contain;
		mask-position: center;
	}

	&::after {
		display: inline-flex;
	}
}

.ico- {
	&before {
		&::before {
			display: inline-flex;
		}

		&::after {
			display: none;
		}
	}

	@each $iconSvg in $iconSvgs {
		&#{$iconSvg} {

			&::before,
			&::after {
				mask-image: url('#{m.$url}/component/ico_' + $iconSvg + '.svg');
			}

			/* &.primary {

				&::before,
				&::after {
					background-color: var(--gray-0);
				}
			} */
		}

	}

}


.underline {
	text-decoration: underline;
}

.picto {

	//@include m.circle(8.5rem); 
	img {
		max-height: 5.6rem;
	}
}

.s-picto {
	@include m.circle(3.6rem, var(--gray-20));
	font-size: 2rem;
}

/* 
.ico-filter {
	position: relative;	
	.num { display: inline-flex; position: absolute; right: 0.1rem; z-index: 1; height: 2rem; margin-top: -3rem; border-radius: 2rem; }
}
 */