@use "../mixin" as m;

/* 이미지 */
.img {
	flex: 1;
	padding: 4rem 3rem;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

	figcaption {
		font-weight: 700;
		color: var(--gray-90);
		text-align: center;
		margin-top: 1rem;

		p {
			font-weight: 400;
		}
	}
}

.img-zoom .btn-zoom,
.zoom_posi .btn-zoom,
.img .btn-zoom {
	display: none;
}

/* 영상 */
.media-iframe video {
	width: 100%;
	height: 54.6rem;
}

.media-textarea {
	width: 100%;
	height: 28rem;
	border: 0;
	margin-top: 2rem;
	padding: 5rem;
	background: var(--gray-5);
	max-height: 30rem;
	overflow: auto;
	@include m.scrollbar($round: .5rem);
}

@include m.media(m.$mobile) {
	.img {
		padding: 2.4rem 1.6rem;
	}

	.img-zoom,
	.zoom_posi,
	.box:has(.img) {
		position: relative;

		.btn-zoom {
			display: block;
			@include m.pos(rb, 0, 0);
			width: 4rem;
			height: 4rem;
			background: url('#{m.$url}/layout/btn_img_zoom.png') 50% 50% no-repeat;
		}
	}

	.media-iframe video {
		height: auto;
	}
}