@use "mixins" as m;

:root {

    --headerHeight: 16.8rem;
    --inner: 1200px;
    --font-type: "Pretendard GOV";
    --icon: "remixicon", sans-serif;
    --font-size-large: 1.9rem;
    --font-size-medium: 1.7rem;
    --font-size-small: 1.5rem;
    --font-size-xsmall: 1.3rem;
    --line-height: 1.5;
    --trs-base: 0.3s ease-in-out;
    /* --primary: var(--primary-50);
    --secondary: var(--secondary-50);
    --point: var(--point-60);
    --white: var(--gray-0);
    --black: var(--gray-100);  */

    //칼라
    --primary-5: #ecf2fe;
    --primary-10: #d8e5fd;
    --primary-20: #b1cefb;
    --primary-30: #86aff9;
    --primary-40: #4c87f6;
    --primary-50: #256ef4;
    --primary-60: #0b50d0;
    --primary-70: #083891;
    --primary-80: #052561;
    --primary-90: #03163a;
    --primary-95: #020f27;
    --secondary-5: #eef2f7;
    --secondary-10: #d6e0eb;
    --secondary-20: #bacbde;
    --secondary-30: #90b0d5;
    --secondary-40: #6b96c7;
    --secondary-50: #346fb2;
    --secondary-60: #1c589c;
    --secondary-70: #063a74;
    --secondary-80: #052b57;
    --secondary-90: #031f3f;
    --secondary-95: #02162c;
    --gray-0: #ffffff;
    --gray-5: #f4f5f6;
    --gray-10: #e6e8ea;
    --gray-20: #cdd1d5;
    --gray-30: #b1b8be;
    --gray-40: #8a949e;
    --gray-50: #6d7882;
    --gray-60: #58616a;
    --gray-70: #464c53;
    --gray-80: #33363d;
    --gray-90: #1e2124;
    --gray-95: #131416;
    --gray-100: #000000;
    --point-5: #fbeff0;
    --point-10: #f5d6d9;
    --point-20: #ebadb2;
    --point-30: #e0858c;
    --point-40: #d65c66;
    --point-50: #d63d4a;
    --point-60: #ab2b36;
    --point-70: #7a1f26;
    --point-80: #521419;
    --point-90: #310c0f;
    --point-95: #21080a;

    --danger: #EB003B;
    --warning: #FFB724;
    --success: #008A1E;
    --information: #2768FF;

    --number-1: 0.4rem;
    --number-2: 0.8rem;
    --number-3: 1.2rem;
    --number-4: 1.6rem;
    --number-5: 2rem;
    --number-6: 2.4rem;
    --number-7: 2.8rem;
    --number-8: 3.2rem;
    --number-9: 3.6rem;
    --number-10: 4rem;

    --radius-xsmall: 0.4rem;
    --radius-small: 0.6rem;
    --radius-medium: 0.8rem;
    --radius-large: 1.2rem;
    --radius-xlarge: 1.6rem;
    --radius-xxlarge: 2rem;

    //sns
    --facebook: #1648AD;
    --twitter: #0f1419;
    --blog: #179911;
    --kakaotalk: #FAE301;
    --instagram: #E5266D;
    --youtube: #E52C26;

    //header 
    --headerHeight: 17.2rem;

    //컨테이너 
    --inner : #{ m.$web };
}

@include m.media(m.$pad) {
    :root {
        --headerHeight: 8.5rem;
    }
}