@use "mixins" as m;
//@use "main_modules";
@use "/resources/css/components/slider";
@use "/resources/css/components/tab";

$path: m.$url + "/main";
/* =======================================================================================
메인공통
======================================================================================= */


.main-sect {
	position: relative;

	h2 {
		font-size: 3.2rem;
		color: var(--gray-90);
		margin-bottom: 2.4rem;
	}

	.shortcut {
		@include m.flex(.4rem, center, flex-start);

		&::after {
			width: 2rem;
			height: 2rem;
		}
	}
}


/* =======================================================================================
메인 비주얼
======================================================================================= */
.main-vban-wrap {
	width: 100%;
	max-width: inherit;
	padding: 10rem 0 0;
	position: relative;
	height: 60rem;

	.main-visual {
		object-fit: cover;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		background: transparent;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		transition: .8s;
		backdrop-filter: blur(0);

		@starting-style {
			backdrop-filter: blur(1.5rem);
		}
	}



	.inner {
		@include m.flex(1rem, $ai: flex-start, $fd: column);
		position: relative;
		z-index: 1;
	}

	.visual-txt {
		@include m.flex(2rem, $fd: column);
		color: var(--gray-0);

		.title {
			font-size: 4.4rem;

			@starting-style {
				opacity: 0;
				visibility: hidden;
				height: 0;
				overflow: hidden;
				transform: translateY(3rem);
			}

			transform: translateY(0);
			transition: var(--trs-base) .4s;
		}

		.desc {
			@starting-style {
				opacity: 0;
				visibility: hidden;
				height: 0;
				overflow: hidden;
				transform: translateY(6rem);
			}

			transform: translateY(0);
			transition: var(--trs-base) .6s;
		}
	}

}

/* =======================================================================================
통합돌봄 정의
======================================================================================= */

.define {
	margin-top: -8rem;
	z-index: 1;

	.item {
		background: var(--primary-5);
		border-radius: var(--radius-xxlarge);
		padding: 4rem 4rem 4rem 35.9rem;
		position: relative;
		@include m.flex(4.5rem, center);

		&::after {
			content: '';
			display: block;
			width: 27.4rem;
			height: 20.1rem;
			background: url(#{$path}/define_img1.png) 0 0 / contain no-repeat;
			position: absolute;
			left: 4.4rem;
			top: 0;
		}

		.title {
			font-size: 2.4rem;
			width: 100%;
			display: block;
			margin-bottom: 2rem;
		}

		.btn-group {
			min-width: 22.4rem;
			@include m.flex(0.8rem, $fd: column);

			.btn {
				font-weight: 700;
				justify-content: space-between;
				font-size: 1.7rem;
			}

			.bg-secondary {
				background: var(--secondary-70);
				color: var(--gray-0);
				border-color: var(--secondary-70);

				&.ico-arr::after {
					background: var(--gray-0);
				}

				&:hover {
					background: var(--secondary-80);
					border-color: var(--secondary-80);
				}
			}
		}
	}

	a.item {
		transition: var(--trs-base);

		&:hover {
			background: var(--gray-10);
		}
	}

}

/* =======================================================================================
우리지역 통합돌봄 - 주요 링크
======================================================================================= */
.link-list {
	margin-top: 8rem;

	.inner {
		position: relative;
	}

	.item-wrap {
		@include m.flex(3.6rem);
	}

	.item-list {
		flex: 1;
		min-width: 0;
		align-self: stretch;
		@include m.flex(null, $fd: column);

		.major-item {
			padding: 6rem 3.6rem;
			border-radius: var(--radius-xlarge2, 1.2rem);
			position: relative;
			@include m.flex(1.1rem, $fd: column);

			.icon {
				@include m.pos(rt, 3.6rem, 50%);
				width: 12rem;
				height: 12rem;
			}

			.title {
				font-size: 2.4rem;
			}

			&:hover .shortcut {
				text-decoration: underline;
				text-underline-offset: under;
			}
		}

		.sub-item {
			@include m.flex(0.8rem, center, space-between);
			padding: 2.1rem 0;
			border-bottom: 1px solid #DDD;
			position: relative;

			.ico-arr-right1 {
				display: flex;
				opacity: 0;
				width: 4rem;
				height: 4rem;
				justify-content: center;
				align-items: center;
				gap: 1rem;
				border-radius: var(--radius-large);
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);

				&::after {
					background: var(--gray-0);
				}
			}

			&:hover {
				.date {
					display: none;
				}

				.ico-arr-right1 {
					opacity: 1;
					transition: var(--trs-base);
				}
			}
		}

		$link-col1: #E1502A;
		$link-col2: #7A45C6;
		$link-col3: #177495;

		&-col1 {
			.major-item {
				background: linear-gradient(97deg, #FFEBE4 8.99%, #FFDACC 146.12%);
			}
		}

		&-col2 {
			.major-item {
				background: linear-gradient(97deg, #F4EFFA 8.99%, #DED1F1 146.12%);
			}
		}

		&-col3 {
			.major-item {
				background: linear-gradient(97deg, #EDF8F8 8.99%, #CEEBEB 146.12%);
			}
		}

		@for $i from 1 through 3 {
			$col: nth(($link-col1, $link-col2, $link-col3), $i);

			&-col#{$i} {
				.major-item .title {
					color: $col;
				}

				.sub-item .ico-arr-right1 {
					background-color: $col;
				}

				.sub-item:hover {
					border-bottom-color: $col;
				}
			}
		}
	}

	.date {
		color: var(--gray-70)
	}
}

/* =======================================================================================
카드
======================================================================================= */
.card-news {
	margin: 10rem 0 3.6rem;

	h2 {
		margin-bottom: 0;
	}

	.title-tab-nav {
		@include m.flex(2.4rem);
	}

	.more {
		@include m.pos(rt, 0, -6.2rem);
		transition: var(--trs-base);
		border-radius: var(--radius-small);
		padding: .2rem .4rem;
		gap: 0.4rem;

		&::after {
			width: 2rem;
			height: 2rem;
			background: var(--gray-90);
		}

		&:hover {
			background: var(--secondary-5);
		}
	}

	.swiper-pagination-fraction {
		height: 4rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 4rem;
		border: 1px solid #e4e4e4;
		background: #FFF;
		padding: 0.8rem 1.4rem;
		font-weight: 700;
	}

	.tab-conts {
		position: relative;

		.swiper-controls {
			@include m.pos(rt, 8.8rem, -6.8rem);
			margin: 0;
			gap: 0.4rem;
		}
	}

	.item-list {
		&.row2-col2 {
			@include m.grid(3.2rem, 1fr 1fr);
		}
	}

	.item {
		flex: 1;
		min-width: 0;
		align-self: stretch;
		@include m.flex(null, $fd: column);
		border: 1px solid #e4e4e4;
		border-radius: var(--radius-xlarge);
		overflow: hidden;
		padding: 2.8rem 3.2rem;
		transition: var(--trs-base);

		&:has(.thumb) {
			padding: 0;
			gap: 0;

			.card-info {
				padding: 2.4rem;
				gap: 3.2rem;
			}

			.title {
				font-size: 1.7rem;
			}

			.shortcut {
				justify-content: flex-end;
			}
		}

		.thumb {
			aspect-ratio: 16/10;
			overflow: hidden;
			transition: var(--trs-base);

			&::backdrop {
				background: rgba(0, 0, 0, 0);
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: var(--trs-base);

			}
		}

		.card-info {
			@include m.flex(1.6rem, $fd: column);
		}

		.card-txt {
			flex: 1;
			@include m.flex(1.2rem, $fd: column);
		}



		.title {
			font-size: 1.9rem;
			@include m.ellipsis;
			word-break: break-all;

			&::after {
				margin-left: 0.4rem;
			}
		}

		.desc {
			@include m.ellipsis-multi(2);
			min-height: 5.2rem;
			color: var(--gray-70)
		}

		&:hover {
			background: var(--secondary-5);

			.thumb {
				background: rgba(0, 0, 0, 1);
			}

			img {
				opacity: 0.8;
				transform: scale(1.1);
			}
		}
	}

}

/* .item {
		flex: 1;
		min-width: 0;
		@include m.flex($fd: column);
		position: relative;
		

		

		

		
	} */

/* =======================================================================================
반응
======================================================================================= */

@include m.media(m.$web) {
	.link-list .item-wrap {
		gap: 2rem;
	}

	.link-list .item-list .major-item {
		padding: 2.4rem 2rem;
	}

	.link-list .item-list .major-item .icon {
		width: 8rem;
		height: 8rem;
	}

	.link-list .item-list .item .title {
		display: block;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		word-break: break-all;
	}
}

@include m.media(m.$pad) {
	.main-vban-wrap {
		height: 40rem;

		.main-visual {
			object-position: 70% 50%;
		}


		&::before {
			background: linear-gradient(270deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
		}
	}

	.define .item {
		padding: 2.4rem 2.4rem 20rem;
		flex-direction: column;

		&::after {
			left: 50%;
			transform: translateX(-50%);
			top: auto;
			bottom: 0;
		}

		.btn-group {
			flex-direction: row;

			.btn {
				padding-left: 1rem;
				padding-right: 1rem;
			}
		}
	}

	.link-list .item-list .major-item .icon {
		right: 1.8rem;
	}

	.card-news .item:has(.thumb) .card-info {
		padding: 1.6rem;
	}

}

@include m.media(m.$mobile) {
	.link-list {
		margin-top: 6rem;
	}

	.link-list .item-wrap {
		flex-direction: column;
	}

	.link-list .item-list .sub-item {
		padding: 1.2rem 0;
	}

	.card-news {
		margin-top: 6rem;
		margin-bottom: 0;
	}

	.card-news .title-tab-nav {
		flex-direction: column;
	}

	.card-news .item-list.row2-col2 {
		gap: 2rem;
	}

	.card-news .item {
		padding: 1.6rem;
	}

	.card-news .item .title {
		white-space: normal;
		display: -webkit-box;
		line-clamp: 2;
		overflow: hidden;
		-webkit-box-orient: vertical;
		min-height: 5.2rem;
	}

	.card-news .item .desc {
		display: none;
	}





}