<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>스타일가이드</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../css/output.css">
    <link rel="stylesheet" href="guide.css">

</head>

<body class="intro">
    <header>
        <h1><img src="logo.png" alt="web style guide"></h1>
        <p class="menu">
            <a href="guide_rule.html">규칙가이드</a>
            <a href="guide_common.html">기본스타일</a>
            <a href="board_list.html">게시판</a>
        </p>
    </header>

    <footer>COPYRIGHTⓒ 2024 Plan I. ALL RIGHTS RESERVED.</footer>
</body>

</html>