// Breakpoint
$web:     1200px !default;
$pad:     1024px !default;
$mobile:   768px !default;
$smobile:  320px !default;

// 이미지 경로
$imgPath:   "../images/" !default;
$layoutImg: $imgPath + "layout" !default;
$mainImg:   $imgPath + "main"   !default;
$subImg:    $imgPath + "sub"    !default;
$iconImg:   $imgPath + "icon"   !default;

