@use "./mixins" as m;

/* ==========================================================================
컴포넌트 import
========================================================================== */
@use "./components/slider";
@use "./components/tab";

/* ==========================================================================
메인
========================================================================== */
.container {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.visual {
    background: url(#{m.$mainImg}/visual.webp) no-repeat center center / cover;
    height: 64rem;
    padding-top: 18rem;

    &-txt {
        color: var(--white);
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        .desc {
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: -0.048rem;
            transition: .4s .2s;

            @starting-style {
                opacity: 0;
                transform: translateY(2rem);
            }
        }

        .title {
            font-size: 5.2rem;
            font-weight: 600;
            line-height: 100%;
            letter-spacing: -0.104rem;
            transition: .4s .4s;

            @starting-style {
                opacity: 0;
                transform: translateY(3rem);
            }
        }
    }
}

.card-news {
    margin: 10rem 0 3.6rem;

    h2 {
        margin-bottom: 0;
    }

    .title-tab-nav {
        display: flex;
        gap: 2.4rem;
    }

    .more {
        position: absolute;
        right: 0;
        top: -6.2rem;
        transition: 0.25s;
        border-radius: 0.4rem;
        padding: .2rem .4rem;
        gap: 0.4rem;

        &::after {
            width: 2rem;
            height: 2rem;
            background: var(--gray-90);
        }

        &:hover {
            background: var(--secondary-5);
        }
    }

    .swiper-pagination-fraction {
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4rem;
        border: 1px solid #e4e4e4;
        background: #FFF;
        padding: 0.8rem 1.4rem;
        font-weight: 700;
    }

    .tab-conts {
        position: relative;

        .swiper-controls {
            position: absolute;
            right: 8.8rem;
            top: -6.8rem;
            margin: 0;
            gap: 0.4rem;
        }
    }

    .item-list {
        &.row2-col2 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 3.2rem;
        }
    }

    .item {
        flex: 1;
        min-width: 0;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        border: 1px solid #e4e4e4;
        border-radius: 0.8rem;
        overflow: hidden;
        padding: 2.8rem 3.2rem;
        transition: 0.25s;

        &:has(.thumb) {
            padding: 0;
            gap: 0;

            .card-info {
                padding: 2.4rem;
                gap: 3.2rem;
            }

            .title {
                font-size: 1.7rem;
            }

            .shortcut {
                justify-content: flex-end;
            }
        }

        .thumb {
            aspect-ratio: 16/10;
            overflow: hidden;
            transition: 0.25s;

            &::backdrop {
                background: rgba(0, 0, 0, 0);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.25s;

            }
        }

        .card-info {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;

            .shortcut {
                display: flex;
                align-items: center;
                gap: 0.4rem;
            }
        }

        .card-txt {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
        }



        .title {
            font-size: 1.9rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: break-all;

            &::after {
                margin-left: 0.4rem;
            }
        }

        .desc {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            min-height: 5.2rem;
            color: var(--gray-70)
        }

        &:hover {
            background: var(--secondary-5);

            .thumb {
                background: rgba(0, 0, 0, 1);
            }

            img {
                opacity: 0.8;
                transform: scale(1.1);
            }
        }
    }

}


//반응형
//1200px 이상
@media (max-width: m.$web) {}

//1024px 이상
@media (max-width: m.$pad) {}

//768px 이상
@media (max-width: m.$mobile) {}

//320px 이상
@media (max-width: m.$smobile) {}