@charset "utf-8";
@use "sass:math";
@use "sass:color";
@use "sass:string";
@use "sass:list";
@use "sass:map";
@use "sass:selector";
@use "sass:meta";
@use '../../../../css/common/scss/mixin.scss' as mix;

/*-------------------------------------------------
title       : 레이어팝업
Author      : PLAN I
Create date : 2024-10-25
-------------------------------------------------*/

#layerpopup
{
    .group 
    {
        position: absolute; z-index: 999; min-width: 25rem; max-width: var(--width1); width: auto !important; height: auto !important; box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1); background-color: #fff;

        a 
        {
            display: block; overflow: hidden;
            &, img {transition: mix.$time2;}
            img {min-width: 100%; height: auto !important;}

            &:hover, &:focus 
            { 
                background-color: #000;
                img {transform: scale(1.2); opacity: 0.7;} 
            }
        }
    }
    
    .control {display: flex; padding: 1.5rem;}

    .close 
    {
        @include mix.hover(after);
        margin-left: auto;
        &::after {@include mix.icon(type1, '\EB99'); position: relative; top: -0.2rem; margin-left: 0.25rem; vertical-align: middle;}
    }
}

// 반응형
// =================================================================================================================

@media (max-width: mix.$mobile) { .group {@include mix.position(center); left: 50% !important; top: 50% !important;} }